[2016-06-23 22:00] ericf commented on #463
It can be a build artifact, it doesn't have to be checked-in to Git.

----

I'm not sure I understand what you're asking now.

[2016-06-23 22:40] chapati23 commented on #463
by build artifact, you mean a script that bundles all translation-files generated by `babel-plugin-react-intl` together like [this one](https://github.com/yahoo/react-intl/issues/251#issuecomment-165863247)?

---
re: understanding my issue. i'm basically looking for a tradeoff where I can at least define the messages locally (via `defineMessages`) and then translate inside the generated global fil

[2016-06-24 15:21] JasonKleban commented on #461
I am also confused about how all the pieces are supposed to fit together.  Here's what I have so far:

src/messages.js:
[code]

src/components/my-component.js
[code]

babel-plugin-react-intl seems to be configured correctly in .babelrc because I get:

dist/messages.json:
[code]

dist/components/my-component.json:
[code]

And I have react-intl setup correctly I think:

[code]

But I don't know what

[2016-06-27 07:26] chapati23 commented on #498
@julien-f i was surprised by this as well. we're using [recompose](https://github.com/acdlite/recompose) to compose multiple decorators (CSSModules, Redux, react-intl)

you can use lodash's [curryRight](https://lodash.com/docs#curryRight) to enable using `injectIntl` as a decorator:

[code]

[2016-06-27 09:45] Ognian commented on #461
@JasonKleban
ad 1.) -> https://github.com/Ognian/reactIntlJson-loader
ad 2.) -> there are many different CAT Tools, I use memsource.com (the free version) and I'm trying to write my own tool too (but this will take some time), I'm using the file naming which comes from memsource.com
ad 3.) this  https://github.com/danilobuerger/react-intl-loader/blob/master/index.js should work by piping
with  rea

[2016-06-27 17:31] ericf commented on #463
I mean a file derived as part of the build process; e.g., Babel takes files from `src/` and outputs build artifacts into `build/`.

Yes, you'd have a directory with the same structure as your source directory but instead of containing `.js` files, it would contain a `.json` file for every `.js` source which which defined default messages that `babel-plugin-react-intl` extracted. You'd likely want

[2016-06-28 08:49] chapati23 commented on #463
ok. i've taken the above approach and it works. what i don't like about this solution, though, is that my `en.json` is now basically a build artifact (because i'm just using the `defaultMessages` for english) and doesn't need to be under version control but other locales can't be generated because i would lose previous translations when the scripts overwrites for example `es.json`)

[code]

how do

[2016-06-28 09:27] vysinsky opened #510 "Formatting constant numbers"
Hi,

is it somehow possible to format number in message like `{1000, number}`? It is constant number so I don't want to pass it as variable. Also I want to use power of react-intl to properly format number in certain locale. Now it complains that value for `1000` was not passed.

[2016-06-28 15:35] ryanirilli commented on #454
Hello, I am still getting the errors after updating `react-intl` to the latest (2.1.3)

[code]

Do you know when we can expect this to be resolved. It's true the library still works fine, but I'd like to get rid of those errors

[2016-06-28 20:44] ericf commented on #510
Are you formatting this message in multiple places? If it's just in one place, then you could do:

[code]

[2016-06-29 23:25] 100kV opened #511 "FormattedMessage returning empty string for number 0"
@ericf I was hoping you could help clarify that this is a bug. Thanks!

[code]

Doing this gave me the expected outcome:
[code]

[2016-06-30 03:32] dmoskovsov opened #512 "Nested json"
Hey guys.

I'm trying to set up react-intl and currently experiencing problems with using nested json:
{
    "account": {
        "forgotPassword": {
            "header": "Forgot Password"
        }
    }
}

This will give me index.js:939 [React Intl] Missing message: "account.forgotPassword.header" for locale: "sg"

While this json would work:

{
    "account.forgotPassword.header": "hello world

[2016-06-30 05:16] geekyme opened #513 "Rich text formatting and translations"
## Issue

Say i have a string:

[code]

According to https://github.com/yahoo/react-intl/wiki/Components#formattedmessage, I need to format my text this way:

[code]

When doing string extraction with https://github.com/yahoo/babel-plugin-react-intl, I would get:

 `To buy a shoe, { link } and { cta }` to be translated.

This isn't good because I lose the context and texts from the rich content fo

[2016-06-30 15:15] miracle2k commented on #511
Another fix:

     ``{losses, number}``

This will both handle 0, and also print numbers with the correct formatting and script.

[2016-06-30 15:19] miracle2k opened #514 "Highlight all FormattedMessages"
I find very useful the idea described in this Sentry blog post: https://blog.getsentry.com/2016/01/07/react-i18n.html - they are highlighting all translated strings, so that the ones that not can easily be identified.

I would like to propose and contribute the following patch:
- IntlProvider gets a new property "messageClassName".
- If set, all FormattedMessage and FormattedHTMLMessage render thi

[2016-06-30 18:17] 100kV commented on #511
Hi @miracle2k. Thanks for the suggestion. I tried your solution but I still get the issue.
[code]

I found an alternative that works, which leads me to think that it might be an es6/babel issue. In this case I created an object: `records = { losses: 0 }`, instead of with this syntax: `{losses}`.
[code]

[2016-07-01 04:37] geekyme opened #515 "Change format style for <FormattedRelative />"
Instead of rendering `27 minutes ago`, how can I configure `<FormattedRelative />` to render 27m ago?

[2016-07-01 18:35] ericf commented on #512
Nested `messages` is not supported.

[2016-07-01 18:35] #512 closed

[2016-07-01 18:38] ericf commented on #513
@geekyme can you explain more how this would work?

[2016-07-01 18:51] ericf commented on #514
I think it would make more sense to do this in user-land because it would be more flexible. In your app you could do something like this:

[code]

[2016-07-01 18:53] #511 closed

[2016-07-01 18:55] ericf commented on #515
This isn't supported by the `intl-relativeformat`, it's unclear if this exact form would ever be supported since `m` can be ambiguous between "minutes" and "months". All locale data is sourced from Unicode CLDR, and we're working on standardizing relative time formatting in JS: https://github.com/caridy/intl-relative-time-spec

It would be best to open this issue in that repo.

[2016-07-01 18:55] #515 closed

[2016-07-04 07:39] geekyme commented on #513
What I have in mind is `FormattedMessage` should look at the string presented in `defaultMessage`, and if it finds an opening and closing `@`, it takes the contents between them and look up a list of rich markups and interpolate the text inside the markup.

Eg. `visit our website` gets interpolated between `<a class="external_link" target="_blank" href="https://www.shoe.com/"></a>`. This can be do

[2016-07-04 08:08] olivierlambert commented on #100
Hi lads, any news on this? Or a known workaround?

[2016-07-05 15:47] shprink opened #520 "FormattedNumber printed twice on Safari iOS"
Hi,

Every numbers used with FormattedNumber on safari iOS 9 are printed twice. Here is how it look everywhere:

![image](https://cloud.githubusercontent.com/assets/1388706/16590535/43cfce98-42d8-11e6-9e1e-c8f106c89c45.png)

Here is on iOS:

![image](https://cloud.githubusercontent.com/assets/1388706/16590523/3a642d54-42d8-11e6-98fd-96a1e688ff78.png)

code:

[code]

[2016-07-05 19:10] ericf commented on #513
This sounds related to: https://github.com/yahoo/react-intl/issues/455#issuecomment-218282929

Trying to make your example work can quickly break down, imagine if someone had:
[code]

[2016-07-05 19:12] ericf commented on #520
Please provide a link or reproducible example app that shows the issue.

[2016-07-06 09:40] shprink commented on #520
Do you have any jsfiddle all setup (react, reactDom, intl) that I could fork to demonstrate that?

[2016-07-06 14:03] andrewbetts commented on #454
+1

[2016-07-06 23:13] salzhrani opened #523 "looking for intl in props along with context"
something similar to what `react-redux` does [here](https://github.com/reactjs/react-redux/blob/master/src/components/connect.js#L83). It eliminates the need to recreate a provider for some nesting cases, `intl` could be passed to a child component.

[2016-07-06 23:39] rvetere commented on #422
I just had the same error in a server-side-rendering setup, and like described [here](http://formatjs.io/guides/runtime-environments/#server), i just added this line of code now before i execute the render function:

[code]

and this already fixed the bug, SSR working again, thanks! 👍

PS: that link written was also mentioned nicely in the getting-started guide

[2016-07-07 04:24] ericf commented on #523
I'm not sure I understand what you're asking. Could you explain more — maybe with some sample code — as to what you're looking to do?

[2016-07-07 04:26] ericf commented on #520
Nope, sorry. If you run the examples in this repo do you see the issue in Safari?

[2016-07-07 06:14] miracle2k commented on #514
I actually want to highlight *all* the ``FormattedMessage`` outputs, regardless of whether a message exists. The point is to catch those texts that have been written directly as non-localized strings (i.e. not using react-intl).

Still, you are certainly right that wrapping very ``FormattedMessage`` inside my own Higher-Order component is a very reasonable solution. Maybe I just want to avoid the

[2016-07-07 07:09] PixnBits commented on #416
Sample use case: the title attribute on, say, an image

[code]
yields
[code]

vs (maybe)
[code]
for the desired
[code]

but, being new to the project, maybe there's a way to do this that I haven't seen yet

[2016-07-07 07:28] PixnBits commented on #416
Found @ericf's comment on [using a function to get the formatted message](https://github.com/yahoo/react-intl/issues/119#issuecomment-180027958), so I guess this would work:

[code]

There is still an extra element/component layer, but hooray for FormattedMessage allowing us to set the tag type 😃

[2016-07-07 09:23] shprink commented on #520
ok it seems to be related to some of our project config.

If I run `new Intl.NumberFormat('en', {}).format(999)`:

on chrome:

![image](https://cloud.githubusercontent.com/assets/1388706/16648571/11c97530-4435-11e6-8a69-3c1438b05e8d.png)

on safari:

![image](https://cloud.githubusercontent.com/assets/1388706/16648589/1b9fe5e4-4435-11e6-8a80-9bba01f0247e.png)

If I run the same command on your hel

[2016-07-07 09:23] #520 closed

[2016-07-07 10:04] shprink commented on #520
FYI I had to upgrade `intl` polyfill from 1.1.x to 1.2.x and it now works :)

[2016-07-07 14:48] ericf commented on #520
Okay, I'm glad you were able to figure it out. Now I recall this being an issuing in 1.1.x of the `Intl` polyfill.

[2016-07-07 14:53] ericf commented on #514
Okay I see what you're after now, and I think this falls within the realm of improving the developer experience. There's some other related features like using a pseudo translation which helps test the UI for being adaptable to languages which have longer test, like German.

This is something I'd like to think through more in a way that's grouped together with other DX features. So for now I'd sug

[2016-07-07 16:37] Pines-Cheng opened #524 "error when define the variable of locale to zh，"
when I define the variable of locale to zh，which the language I use is simply chinese ,

[code]
I meet a error:
[code]
and the  file loading of is still en-US.js,I don't know why,can someone help me ?

[2016-07-07 18:47] ericf commented on #524
You need to load the locale data that React Intl needs to operate. This is done via [`addLocaleData()`](https://github.com/yahoo/react-intl/wiki/API#addlocaledata), there's details on the Wiki here: https://github.com/yahoo/react-intl/wiki#loading-locale-data

This locale data is separate from your apps translated strings that you're passing to `<IntlProvider>`.

[2016-07-07 18:47] #524 closed

[2016-07-08 01:23] Pines-Cheng commented on #524
Thank you very much , you really help me much !

[2016-07-08 02:23] Pines-Cheng commented on #524
I very sorry to trouble  you ,But I met another problem after use `addLocaleData()` to load the local data ,the error is :
[code]
But I have import the message by `import zh_CN from '../language/zh_CN';`
I don't know why.
@ericf

[2016-07-08 02:48] Pines-Cheng commented on #524
I have found the solution. It is just the problem of the module export , sorry to ask such a stupid question.

[2016-07-08 07:43] ruanzy opened #525 "change lang in code"
`var langButton = React.createClass({
    render: function () {
        return (
            <button onClick={this.handleClick} >click</button>
        )
    },
    handleClick: function (event) {
        //How to change lang page's <FormattedMessage/> change auto
    }
});`

[2016-07-08 16:59] ericf commented on #525
By treating the current locale as application state.

Maybe something like this…

[code]

[2016-07-08 16:59] #525 closed

[2016-07-10 17:50] FuzzySockets commented on #454
Getting failed to parse SourceMap: http://localhost:3000/bundle.js.map using devtool: '#source-map' with webpack v1.13.1.

[2016-07-10 21:48] SimeonC opened #527 "Problem with defaultLocale and FormattedMessage value format"
I have a problem with defaultLocale and message formatting. The problem piece of code is here:
[code]

If I setup my IntlProvider as `<IntlProvider ... defaultLocale="en-NZ" messages={undefined}>...` then this outputs `Credit Card Surcharge (0.0046 of payment)`.

If I setup my IntlProvider as `<IntlProvider ... messages={require('../en-NZ.json')}>...` then this outputs `Credit Card Surcharge (4.6%

[2016-07-11 12:41] muuki88 opened #529 "Hour and minute format are not applied"
Hi,

We are trying to format a datetime value, but the settings for `hour` and `minute` get read put not applied.

<details>
 <summary>formats definition</summary>
[code]
</details>

<details>
 <summary>jasmine test</summary>
[code]
</details>

Our production code looks exactly the one in the test

[code]

The outputs for both code blocks differ:

[code]

Changing the settings

[code]

However if

[2016-07-11 14:38] ericf commented on #529
Can you provide more details on your test environment. Is this running in a browser or node? What which version?

My guess based on what you provided is that this is related to the Intl polyfill. If you're using it in the test environment can you provide the version?

[2016-07-11 14:56] muuki88 commented on #529
We use `phantomjs`, `karma` and `jasmine` to run our tests. The bundle gets packaged by webpack.

<details>
<summary>package.json excerpt</summary>
[code]
</details>

<details>
<summary>karma.conf.js excerpt</summary>
[code]
</details>

The interesting part is, that this seems to happen on _test_ and on the _live_ page.

[2016-07-11 15:21] ericf commented on #529
I confused. I thought you were saying the production page was correct and the test page was wrong?

[2016-07-11 15:29] ericf commented on #527
If a message was missing, then it'll fallback to format the `defaultMessage` using the `defaultLocale` and `defaultFormats` provided to `<IntlProvider>`. You can see the code [here](https://github.com/yahoo/react-intl/blob/f3398e265971748d461a4aa669924ff6ed2603f1/src/format.js#L239-L254).

What you'd want to do is supply a value for the `defaultFormats` props to `<IntlProvider>`: https://github.co

[2016-07-11 15:29] #527 closed

[2016-07-11 19:45] muuki88 commented on #529
It's correct in production by accident. If I change the settings from `2-digit` to `numeric` is has no effect. So there seems to be some browser behavior that overrides the settings for `hour` and `minutes`. Not sure if other settings affected as well. Tested on Chrome / Firefox

[2016-07-11 21:10] SimeonC commented on #527
Ah, thanks for clearing that up. I wasn't expecting the fallbacks to be linked like that, I thought it'd always use the `format` if provided even if we fall back to defaultMessage.

[2016-07-12 05:56] andi5 commented on #529
We are using https://github.com/andyearnshaw/Intl.js as intl polyfill.

[2016-07-12 07:59] andi5 commented on #529
Firefox und Chrome seem to render hour 5 as "05", regardless of 2-digit or numeric. At least Firefox uses ICU to find a good skeleton and it appears to be {{HH}}. The intl polyfill instead decides on {{h a}}, where {{a}} does not seem to be printed as hour12 is not specified(?). Anyways, the options seem to be passed to the intl implementation, so this bug in this project appears to be invalid.

I

[2016-07-12 14:33] Noxalus opened #530 "Display "a few seconds ago" instead of the amount of seconds if < 1 minute"
Hello everyone.

I'm using this package to display the time of each messages in a chat application like this:

[code]
It works pretty well, but I don't want to display the amount of seconds since the message has been post if this time doesn't exceed at least 1 minute. In this case, I would like to display *A few seconds ago* instead.

I've browsed the documentation, and I thought that specify the

[2016-07-12 17:50] z-ax opened #531 "Changing locales dynamically doesn't work"
Hi. I know you might mark as a duplicate, but I've checked the issues, docs for [Dynamic Language Selection](https://github.com/yahoo/react-intl/wiki/Components#dynamic-language-selection), but still it doesn't work.

What am I doing:

- have locales dir, where messages are in JSON format, like `./locales/appName_en-US.json`.
- load JSON with messages via `require('./locales/appName_en-US.json')`

[2016-07-12 19:58] ericf commented on #527
Yeah it should be documented better. There might be cases where different named formats are used between the default message and the translations which is why during the fallback process they are linked together.

If you think of a good way to improve these docs, feel free to update them 😄

- https://github.com/yahoo/react-intl/wiki/Components#message-formatting-fallbacks
- https://github.com/yaho

[2016-07-12 20:02] ericf commented on #529
An approach I've used for assertions in unit tests is to not directly test that the platform is working correctly, but rather that the component is, so you could test it against using the `Intl.DateTimeFormat` API directly. [Here's an example](https://github.com/yahoo/react-intl/blob/f3398e265971748d461a4aa669924ff6ed2603f1/test/unit/components/time.js#L95-L106).

This way it covers the case of so

[2016-07-12 21:31] ericf commented on #530
We don't currently have data for all 200 languages for "a few seconds ago". This data might exist, but it's not currently supported.

I would recommend wrapping `<FormattedRelative>` with a component that implements the custom business logic you're looking for and you could provide your own translations for "a few seconds ago":

[code]

**Note:** This is using the 2.0 API, here's how to upgrade: h

[2016-07-12 21:36] ericf commented on #531
Yes, React Intl requires locale data for it to perform its functions, this is separate from your translated messages. See: https://github.com/yahoo/react-intl/wiki#loading-locale-data

[2016-07-12 21:36] #531 closed

[2016-07-13 08:33] muuki88 commented on #529
Thanks a lot @ericf That solves our testing issues ( we are kind of new in the React ecosystem). Time is always a tough issue on any platform and language. We appreciate you took the time helping investigate this.

I'll close this.

[2016-07-13 08:33] #529 closed

[2016-07-13 09:09] Noxalus commented on #530
Thank you so much @ericf, I will try this :+1:

[2016-07-13 09:09] #530 closed

[2016-07-13 09:17] mtsee opened #532 "how to do ? eg:placeholder"
placeholder can not use FormattedMessage, how to do this?

[2016-07-13 14:27] ericf commented on #532
Using the imperative API which can be accessed by wrapping a component with [`injectIntl()`](https://github.com/yahoo/react-intl/wiki/API#injection-api). [Here's an example](https://github.com/yahoo/react-intl/blob/5d25ea3ffb63aeab210e923e98304afb87c7b7c9/examples/translations/src/client/components/locales-menu.js).

[2016-07-13 14:27] #532 closed

[2016-07-13 16:04] ruslanchek commented on #218
For example:
Showing alert by browser's Notification API with localised string.

[2016-07-13 16:11] benmonro commented on #218
we ended up rolling our own instead of using react-intl.  wasn't that hard actually.

[2016-07-13 19:56] pheolink opened #534 "<FormattedNumber> for german Currency and percentage"
Hi,

Is it possible to use de-DE instead of EUR. I want to have the following expected result. I want to have commas instead of decimal and decimal instead of comma and the euro sign should be placed at the end of the currency with the space in between the value and the currency symbol.

Expected Result:-
Currency - 123.456,79 €
Percentage - 12,3 %

[2016-07-14 21:50] ericf commented on #534
Yes. Please see the Getting Started guide:
https://github.com/yahoo/react-intl/wiki#loading-locale-data

[2016-07-14 21:50] #534 closed

[2016-07-15 11:43] Robinfr commented on #357
I fully agree with just using the context. Testing is an absolute nightmare with the injectIntl.

[2016-07-15 16:10] ericf commented on #357
@SachaG @Robinfr using `context` directly will likely be setting yourself up for major refactoring in the future when React changes how `context` works. React Intl's semver API contract is with `injectIntl()`. There are some docs on how to test components that use `injectIntl()`: https://github.com/yahoo/react-intl/wiki/Testing-with-React-Intl#relativedate-advanced-uses-injectintl

[2016-07-16 04:39] joncursi commented on #119
How about `containerElement`? This is the terminology that the [material UI[(https://github.com/callemall/material-ui) team uses when you're allowed to specify a wrapper component.

[2016-07-17 08:34] joncursi commented on #351
@ericf has this been released? I'm still getting errors on `2.1.3`, and the problem is unfortunately worse for react-native development since console.error messages flash the entire screen. Thanks!

<img width="376" alt="screen shot 2016-07-17 at 4 32 35 am" src="https://cloud.githubusercontent.com/assets/4974609/16899595/8e92c59a-4bd7-11e6-9f89-a62aa94d16e8.png">

[2016-07-17 18:54] ericf commented on #351
@joncursi yes it was released. Is this not a valid error? Maybe you should try setting `<IntlProvider defaultLocale='en-US'>`.

[2016-07-18 03:38] joncursi commented on #351
@ericf that solved the problem, thanks! The way that error was worded led me to believe that it was an issue with the messages, not the locale

[2016-07-18 11:03] salzhrani commented on #523
it is basically useful when using `cloneElement` and with enzyme
for example
[code]
`getHtml` would fail because context doesn't have `intl` even though it exists in props.

I hope this makes sense

[2016-07-18 11:23] ElfenLiedGH opened #536 "how get date back"
`<Input type='text' value = {this.props.intl.formatDate(date, DATE_DDMMYYY_LOCALE)} />
`
then **User** change value from keyboard and how can i get this date with new Date(value)?

like moment(value, DATE_FORMAT).toDate(), i don't know **DATE_FORMAT**

[2016-07-18 16:59] JonathanUsername commented on #514
Hi, we were having issues with this in our codebase, and we wanted a quick hack that would flag up missing values. I'll include the insane bash hack that I wrote below in case it helps anyone else, but I feel it's not an optimum solution to say the least!

It works by checking the keys of our translation file (which conform to `/^[a-zA-Z\.]+$/` against occurrences of strings after FormattedMessage

[2016-07-18 18:02] ericf commented on #351
@joncursi I guess it could be updated to output _what_ the default locale is.

[2016-07-18 18:14] ericf commented on #523
You need to wrap the `newChild` with an `<IntlProvider>` since you're doing a new render.

[code]

[2016-07-18 18:14] #523 closed

[2016-07-18 18:17] ericf commented on #536
This library doesn't do date parsing beyond what the build in `new Date()` constructor provides. If you're formatting the date, then you must have a value that can be passed to `new Date()`.

[2016-07-18 18:17] #536 closed

[2016-07-19 11:22] henrylingumi commented on #39
Hi all,

I came across this issue, and while it is old/closed I felt I might see if there's any new perspective from the React Intl team on how to allow users to select another language?

[2016-07-19 13:51] xotahal opened #538 "Nested message"
Is this nested message ok? I have a problem with that. When the value of category is set to `c1` then it works.

[code]

[2016-07-20 04:27] ericf commented on #538
Your close, but the Message syntax is incorrect. You'll want something like this:
[code]

See: http://formatjs.io/guides/message-syntax/

[2016-07-20 04:27] #538 closed

[2016-07-20 09:02] amannn opened #539 "Format currency within a FormattedMessage"
Is this possible?

With a string like "This product costs {price, number, currency}." I get the error message `TypeError: Currency code is required with currency style.`. How is it possible to specify the `format`? I couldn't find such a `prop` for `FormattedMessage`.

[2016-07-20 09:04] amannn opened #540 "Rich text within FormattedMessage"
What's the correct way to format a string like "Today is a **great** day."?

I see that formatting like this is possible if the bold part of the string should be a variable, but how can you do this if this isn't the case?

[2016-07-20 10:41] amannn opened #541 "Override currency formatting"
A `de` currency is currently formatted like `12,123.00 €`. Is it possible to change the position of the euro symbol like `€ 12,123.00`?

It's a quite common formatting in German speaking countries. However, [`Intl.NumberFormat`](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat) doesn't seem to provide such an option.

The [locale data of the polyfill](http

[2016-07-20 14:39] ericf commented on #541
You'll need to use a more specific German locale where they common currency form is what you're looking for: [de-AT](https://github.com/unicode-cldr/cldr-numbers-full/blob/master/main/de-AT/numbers.json#L110), [de-CH](https://github.com/unicode-cldr/cldr-numbers-full/blob/master/main/de-CH/numbers.json#L110), or [de-LI](https://github.com/unicode-cldr/cldr-numbers-full/blob/master/main/de-LI/numbe

[2016-07-20 14:39] #541 closed

[2016-07-20 14:53] ericf commented on #539
You can specify custom, named formats via the `formats` prop on `<IntlProvider>`. There's also `defaultFormats` which are used with the `defaultLocale` in the fallback case because the `formats` might be dependent on the `locale`. Here's an example with `<FormattedMessage>` and `<FormattedNumber>` using a custom named number format `USD`:

[code]

Sorry there isn't detailed docs for this feature y

[2016-07-20 14:53] #539 closed

[2016-07-20 15:10] ericf commented on #540
Today, you can use [`<FormattedHTMLMessage>`](https://github.com/yahoo/react-intl/wiki/Components#formattedhtmlmessage). Please see the other issues on this topic: #455, #504, and #513.

[2016-07-20 15:10] #540 closed

[2016-07-20 15:23] ericf commented on #510
Closing…

[2016-07-20 15:23] #510 closed

[2016-07-20 15:24] #504 closed

[2016-07-20 15:26] #432 closed

[2016-07-21 10:54] JakeLin1024 opened #542 "Language doesn't change in Material UI Dialog"
I noticed that Material UI Dialog was at the top layer same as the Root Element(weird???). When I changed locale, language changed in the main page, but when I opened the dialog, language remained the same. Is there something I need to add to the Dialog?

![Image of d](https://cloud.githubusercontent.com/assets/18651962/17019994/d7abaa2e-4f71-11e6-8fe7-eefa102c8c25.png)

[2016-07-21 19:32] ericf commented on #542
You have two React roots. If the props you pass to `<IntlProvider>` are in the store, then you can wrap the contents of your modal with an `<IntlProvider>`. Or look to a modal solution that maintains the React component hierarchy.

See: https://github.com/yahoo/react-intl/issues/504#issuecomment-227495917

[2016-07-21 19:32] #542 closed

[2016-07-22 08:58] JakeLin1024 commented on #542
Thanks. And you mentioned unstable_renderSubtreeIntoContainer.
 It turned out it was a react bug. Updating to the latest version solves this issues.

[2016-07-24 20:47] kirillkostko opened #543 "Elements different from the span."
Hello,

I'd like to add a possibility to choose other elements instead of default `span`. It's possible by adding a property `component` to all `<Formatted* />` components.

My case is format currency values inside SVG tree. It means that I have to use `text` or `tspan`.

Please let know what do you think. Thank you!

[2016-07-24 20:54] langpavel commented on #543
You can do this by using callback instead of child

[2016-07-24 21:14] ericf commented on #543
You can always create a custom component that wraps `<FormattedNumber>` and passes a function as the child as @langpavel points out.

[2016-07-24 21:14] #543 closed

[2016-07-24 22:06] steida commented on #119
If anyone is looking for the complete workaround, check https://github.com/este/este/blob/master/src/native/app/components/formatted.js

[2016-07-24 22:11] steida commented on #119
Btw, this is the API we need I think.

[code]

[2016-07-24 22:30] iam-peekay opened #544 "How to set Id's for Formatted* components when you're rendering a list of components"
Hi. I have a list of todos that I'm rendering in my app. I want the text of the Todo's to be translated. If I try to use `FormattedMessage` such that the id is based on the to-do id:
[code]

I get a syntax error saying `React Intl] Messages must be statically evaluate-able for extraction.` I am not sure how to handle this case where I need to format the message in the todo component based on the s

[2016-07-24 23:44] ericf commented on #119
@steida is this the way other libraries support React and React Native?

[2016-07-24 23:47] ericf commented on #544
Where is the data from your list of todos coming from?

If it's dynamic data, then it probably doesn't make sense to try to have the Babel plugin extract. Instead you'd get the collection of todos from your database and you can provide the translations at runtime. If that's the case, then simply remove `defaultMessage` from here and passing in the collection of `messages` to `<IntlProvider>`.

[2016-07-25 00:19] steida commented on #119
I don't know, to be honest. But I think there are only two possible approaches:
1) export native stuff with '/native' suffix
2) set global state in Bootstrapping phase

[2016-07-25 00:22] iam-peekay commented on #544
The data is pre-defined (not coming from database.)

[2016-07-25 07:45] kirillkostko commented on #543
@langpavel @ericf thank you guys for the quick reply! However, I don't understand what do you mean. Could you please give me a small example? Thank you in advance!

[2016-07-25 11:10] esellin commented on #401
In my case, I was outputting a small text inside a popup, and this worked well:

[code]

HTH

[2016-07-25 14:32] ericf commented on #544
In that case, it needs to be local to the file where it's being referenced. Babel can do some basic static evaluate of code, e.g. (`const foo = 2+2;` can evaluate the `foo` binding as having the numeric value `4`), but anything complex and dynamic it won't be able to resolve statically.

[2016-07-25 14:36] ericf commented on #543
https://github.com/yahoo/react-intl/blob/422866da63dbafdca16402f15ea76033b38b0bbf/test/unit/components/number.js#L141-L145

[2016-07-25 16:47] kirillkostko commented on #543
@ericf Thank you!

[2016-07-26 17:23] taion opened #548 "Add 'module' entry point for webpack 2 support"
It should just be a copy of `jsnext:main`, but named `module`. See e.g. https://github.com/reactjs/react-router/pull/3672.

webpack 2 prefers "module" instead of "jsnext:main" as the entry point for ES module builds.

Ideally at some point Rollup will move to "module" as well.

[2016-07-26 17:37] ericf commented on #548
@taion I haven't had a chance to try out Webpack 2 yet. It would be great if you could open an PR to make this change and also if you event wanted to add an example to `examples/` which uses Webpack 2 to show people how, it would be much appreciated. I alway manually run through the example apps before doing a release to make sure they work correctly.

[2016-07-26 23:32] steida opened #549 "Please export all library propTypes"
https://github.com/yahoo/react-intl/blob/master/src/types.js
For example, I need messageDescriptorPropTypes.

Thank you.

[2016-07-27 04:46] carloshpds commented on #416
@PixnBits I just tried your solution, but does not work for non-component script 😞

@ericf, direct access to formatMesssage API would be nice!!

This is my problem:
[code]

As you can see, category's name is my message id, and I want to filter these categories by a text input, so I would like to have one method like this:

[code]

`getFormattedMessage` is the representation for `formatMessage API`

[2016-07-28 10:58] tyv opened #550 "Avoid duplicating id's"
Imagine I have

[code]

and in another component

[code]

in this case, how to avoid duplicating `id` or duplicating messages?
if it would be both `<FormattedMessage />` I can create `<Hello />` component, but how about this case?

[2016-07-28 17:07] ericf commented on #549
I curious about the use case. Right now `intlShape` is the only public propTypes that are exposed. In the particular case of `messageDescriptorPropTypes`, it's fairly simple to redefine.

[2016-07-28 17:09] steida commented on #549
That's what I did, but I would rather avoid reimplementation. You can close this issue, it's not critical of course :-)

[2016-07-28 17:11] ericf commented on #550
There's a small example app [here](https://github.com/yahoo/react-intl/blob/master/examples/translations/scripts/translate.js#L13) which has a script that processes the messages extracted from `babel-plugin-react-intl` and will throw an error on duplicate ids. You could use something like that.

[2016-07-28 17:12] ericf commented on #549
Well I am interested in how you were using the prop types definition. Of all of the possible ones to expose from `types.js` this would be at the top of the list.

[2016-07-28 17:15] steida commented on #549
Check Alert component, it takes message as a prop. https://github.com/este/este/blob/master/src/native/app/components/Alert.react.js#L39

[2016-07-28 19:02] tyv commented on #550
I am laready using, but in this case I will have twe equal strings with different id's what I wish to avoid.--Sent from Yandex.Mail for mobile28.07.2016, 20:11, "Eric Ferraiuolo" <notifications@github.com>:There's a small example app here which has a script that processes the messages extracted from babel-plugin-react-intl and will throw an error on duplicate ids. You could use something like that

[2016-07-28 19:34] Phyks opened #551 "FormattedMessage using an id?"
Hi,

In the message descriptor, there is an `id` field, which is to be filled. However, I am not sure I see real use case for this field.

My typical setup (as far as I understand how this library works) is to define my message descriptors in an external file, import it in my component JSX file and use `defineMessages` from this include.

Then, I have basically this in my JSX file:
[code]

and in

[2016-07-28 19:40] Phyks opened #552 "Letting FormattedMessage use a rendering function to apply after translation"
Hi,

Sometimes there are duplicate translations in an app, typically capitalized and uncapitalized. Then, it is useful to be able to apply a function to the resulting translation.

It seems to be feasible using the API:
[code]
(assuming you have a `String.capitalize` available) and then outputting `t` in your render.

But it does not seem to be feasible with the `FormattedMessage` structure. This

[2016-07-28 20:01] Phyks opened #553 "Defining messages for plural form?"
Hi,

The [doc on `<FormattedPlural>`](https://github.com/yahoo/react-intl/wiki/Components#formattedplural) is quite succinct and there are no examples provided with `<FormattedPlural>` and handling multiple locales.

From the example
[code]
it seems that one has to pass explicit values to each prop. Then, how to handle multiple localizations as is done through `formatMessage` and `defineMessage` a

[2016-07-28 20:51] glosee commented on #553
I was wondering the exact same thing.

[2016-07-28 20:52] glosee commented on #553
Probably we could wrap the component with `injectIntl` and then call `this.props.formatMessage()` to get the localized version of that string. I'm going to try that now.

[2016-07-28 21:12] glosee commented on #553
Yep this works:

[code]

[2016-07-28 21:53] ericf commented on #550
Okay, so does processing the extracted strings in the way that I linked to above work?

[2016-07-28 21:56] ericf commented on #551
To `id` is so the messages can be provided via `<IntlProvider>` and looked up on the `context.intl` object.

[2016-07-28 22:13] ericf commented on #552
I'm not totally sure I follow, but there are many ways for you to handle this. The simplest would be:

[code]

[2016-07-28 22:13] #552 closed

[2016-07-28 22:15] ericf commented on #553
Yeah it's intended to be used for apps that **only** need to support one language. It should probably be removed because it confuses people. You'll likely want to use `<FormattedMessage>` with a plural argument: http://formatjs.io/guides/message-syntax/#plural-format

[2016-07-28 22:17] Phyks commented on #552
Indeed, sorry my example was a bad one as it is doable easily in CSS and enclosing it in a style `span` actually is a really easy way to do it.

By `capitalize`, I was meaning "setting the first letter to uppercase" whereas the `text-transform: capitalize` transforms the first letter of any word to uppercase.

This could be actually any formatting function which is locale-independent and cannot ne

[2016-07-28 22:20] tyv commented on #550
yes, but it would be id conflict, if I use it like that.. so dilemma is — I have to use different id's for same string

[2016-07-28 22:30] ericf commented on #552
The CSS `text-transform: capitalize` does take into account issues with different locales. I don't really understand what you're after. But you can always use the function-as-child pattern to pass a function to `<FormattedMesage>`.

https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform#capitalize_(General)

[2016-07-28 22:48] Phyks commented on #553
Something like
[code]
works great! Thanks

Indeed,the `FormattedPlural` thing is confusing. Maybe just adding a pluralization example under `FormattedMessage` doc in the wiki would help a lot.

One last question about plural handling: is there a way to force it to use a specific pluralization?

I mean, with the above `messages`, I can `<FormatMessage {...messages["app.common.album"]} values={{item

[2016-07-28 23:10] maniax89 opened #554 "Exporting Translations + Webpack Dev Mode"
Just wanted to start by saying this is a great tool and after a bit of learning I have been able to integrate it into my project with almost everything I need.

I have been stuck on an issue that may or may not be a desire for other developers - I tried looking through the issues on here and didn't find exactly what I am looking for yet. Basically I have a webpack configuration that has a custom p

[2016-07-29 08:24] rehnarama opened #555 "Error: A message must be provided as a String or AST [support]"
Hello! I'm trying to get messages working but keep running into this error
-  [React Intl] Error formatting message: "start.title" for locale: "sv"
TypeError: A message must be provided as a String or AST.
-  [React Intl] Cannot format message: "start.title", using message source as fallback.

Hopefully you can help me figure out the problem! :)

My app looks roughly like this:
[code]

and svMessa

[2016-07-29 08:35] rehnarama commented on #555
Oooh, I'm stupid. I see now that the messages prop on IntlConfig wants an object with form {[id: string]: string} and not {[key: string]: MessageDescriptor}.

[2016-07-29 08:35] #555 closed

[2016-07-29 13:12] glosee commented on #553
Oh wow that is a much better solution. Thanks @ericf

[2016-07-29 17:20] Phyks commented on #552
Hmm, imagine you have strings like "Lorem ipsum", "lorem ipsum", "LOREM IPSUM", and "Lorem Ipsum" in your app. I think the best way to store them in your app is to store only one of them (say "lorem ipsum") and derive the others from this one.

Both "LOREM IPSUM" and "Lorem Ipsum" can be achieved by CSS `text-transform` (resp. `uppercase` and `capitalize`), as discussed before.

But "Lorem ipsum"

[2016-07-30 05:17] ericf commented on #554
You could just avoid extracting the default messages during development and it'll automatically fallback to the one defined in the source. There was also a change a bit ago [to **not** warn when the `locale` and `defaultLocale` are the same in development](https://github.com/yahoo/react-intl/blob/795c3cfa6d7e0636b5ae3b1b416b34610cf7e371/src/format.js#L224-L236); this way your console won't be litt

[2016-07-30 05:19] ericf commented on #555
Glad you figured it out. We should make this better, possibly with a better error message. Feel free to prose a PR if you want.

[2016-07-30 05:27] ericf commented on #552
Ah, sorry, yeah. If you were styling with CSS classes you could do:

[code]

[2016-07-30 06:57] davidspiess commented on #286
I get around this issue using the following syntax
[code]

[2016-07-30 10:28] Phyks commented on #552
Indeed. Thanks for the CSS tip! :)

[2016-07-30 13:00] Phyks commented on #551
Ok, but then it is mostly a backend feature and is not meant to be used directly by the user?

Why not letting the user pass a message array (rather than a map) in `defineMessages` and return a map with id associated to message?

[2016-07-30 15:58] ericf commented on #551
Looking an item up in an array would be O(n), compared to O(1) in a hash. The intention is that you're passing **translated** messages to `<IntlProvider>` therefore there's no need to pass a `description` for the translator and `defaultMessage` doesn't make sense. This is why it's a simple key/value pair from `id` to translated message string.

[2016-07-30 19:22] tomdmaguire opened #557 "Alternative way to supply default messages?"
Hi there,

In the [react-intl v2 changelog](https://github.com/yahoo/react-intl/issues/162) regarding the `IntlProvider` component, it states:

I currently am storing all translations as a json files (one file per locale e.g. en-US.json, de.json) which then are then loaded and passed into the `messages` prop of the IntlProvider.

Ideally I do not want to supply a `defaultMessage` prop each time I

[2016-07-30 21:05] Phyks commented on #551
Sure for the `<IntlProvider>`, but as far as I understood, `defineMessages` does not act on directly on the `<IntlProvider>`?

I mean, when we `defineMessages(someMessages)`, we have typically this structure:
[code]

My point is that I do not understand why we need two (potentially) different IDs there (`anID` and `someMessages.anID.id == "app.Foobar.someID"`).

I'm sorry, I think I misunderstood

[2016-07-30 21:18] ericf commented on #557
It's probably best if we add back the option to babel-plugin-react-intl to remove the extracted data. The issue was people were running the plugin multiple times by accident and getting errors.

If you already have all of the default messages defined via the `defaultMessage` prop on FormattedMessage or using `defineMessages`, then you can omit providing the same messages to IntlProvider.

[2016-07-30 21:21] ericf commented on #551
defineMessages is simply there for the Babel plugin to hook into. You can name the property whatever you want locally and it doesn't have to match the id. `foo: {id: 'some.long.namespace.foo'}`

[2016-08-01 05:14] sithara opened #559 "Unmet peer dependency react@0.13.3"
I'm using
``
    "react": "^0.13.3",
    "react-hot-loader": "^1.3.0",
    "react-motion": "^0.2.7",
    "react-router": "^0.13.3",
    "react-style": "^0.5.5",
    "react-style-webpack-plugin": "^0.4.0"
``
I need to integrate internationalisation into my project. However when I do `npm install react-intl` I keep getting
error
[code]
Please help 😞

[2016-08-01 07:29] iamsaksham opened #561 "Cannot display 0 in FormattedMessage"
I want to display size of the list in the `FormattedMessage`, so I used `values` to achieve it. It works good but it dont show 0 as a value. I have a reduced test case below:

    import React, { Component } from 'react'
    import {FormattedMessage} from 'react-intl'

    class List extends Component {

      render() {

        let userNumber=0; //if I change it to negative or positive value, it

[2016-08-01 07:30] #561 closed

[2016-08-01 07:33] iamsaksham commented on #561
<FormattedMessage
        id = 'active-users'
        description = 'ACTIVE USERS'
        defaultMessage = 'ACTIVE USERS ({userList, number})'
        values = {{
          userList: userNumber
     }}/>
This needs to be done, documentation needs to be improved a bit.

[2016-08-01 17:28] maniax89 commented on #554
So you think the best way to load up translations in index.js then is something like this?:

[code]

This makes it fall back to `{}` when translation files don't exist (in dev) but uses the files when they exist (in prod). The alternative would be to move the generation of those translation files outside of webpack like other projects I have seen so that I can statically import them, not sure what

[2016-08-01 20:26] Phyks commented on #551
Ok. So the `id` is more for internal purpose and a user almost never access it?

I mean, `<FormatMessage>` and `formatMessage` calls expects a message argument, not an `id`.

[2016-08-02 07:30] sithara opened #565 "Unable to Install React-Intl using NPM with React 0.13.0"
[code]

This is my package.json

`"dependencies": { "baobab": "^1.1.2", "baobab-react": "^0.1.1", "d3": "^3.5.6", "fixed-data-table": "^0.4.6", "json2csv": "^2.12.0", "lodash": "^3.10.1", "moment": "^2.10.6", "numeral": "^1.5.3", "react": "^0.13.3", "react-hot-loader": "^1.3.0", "react-motion": "^0.2.7", "react-router": "^0.13.3", "react-style": "^0.5.5", "react-style-webpack-plugin": "^0.4.0", "s

[2016-08-02 11:48] #565 closed

[2016-08-02 11:51] #559 closed

[2016-08-02 13:00] tyv commented on #550
any ideas?

[2016-08-02 13:24] kof commented on #550
@ericf why do you throw exception when 2 messages have identical id+defaultMessage? Why not just ignore the second one?

[2016-08-04 19:33] azmenak commented on #513
Came across a similar problem today, maybe there's a better way to do this that I'm not seeing at the moment.

If I want to "format" links in a message, the only option I see right now is passing an additional `<FormattedMessage />` in the `values` of the parent. IE.

[code]

This works, but its quite a bit to add for each link inside a message (we have a lot of them). Maybe @ericf or someone else

[2016-08-05 06:23] ladvishal1985 opened #568 "Negative currency values using FormattedNumber are displayed inside brackets in IE."
Hi,
We are using FormattedNumber for displaying currencies. The values can be in negative. Hence if our currency value is  -**183792.25** then in Chrome it is displayed as **-€183,792.25** and in IE11 it is displayed as **(€183,792.25)**. Not sure of this different behavior. But if somehow we can have some setting to chose the format that can be consistent across browsers.

[2016-08-05 16:26] sterjakovigor opened #569 "Failed to install examples."
After "npm run build" i get

[code]

How i can solve this problem? Thanks!

Darwin 15.6.0
node v6.3.0
npm  v3.10.5

[2016-08-07 07:35] e-gnat opened #574 "how to clear cache of plugin?"
Hi,
While testing with Mocha and Enzyme I get multiple errors from Intl like this:
[React Intl] Error formatting message: "REGULAR" for locale: "en", using default message as fallback.
TypeError: A message must be provided as a String or AST.

As far as I understand it happens after you change id of existing message. In debugging I see that in function createFormatCache it gets wrong id from funct

[2016-08-08 01:10] bekkou68 opened #577 "How to Fetch Multi-language Locale Data of Same Key?"
Hi :)

I'd like to refer multi-language locale data of same keys in my React code. How to do that?

For example, in another scheme like Ruby on Rails, we can fetch expected locale data as below:

[code]

In the case above, when `I18n.available_locales` equals to `['en', 'ja']`, then we can fetch English and Japanese locale data of same key.

In react-intl, `IntlProvider` component already has cont

[2016-08-08 06:02] #577 closed

[2016-08-08 06:05] bekkou68 commented on #577
I posted the same content to Stackoverflow.
http://stackoverflow.com/questions/38822212/how-to-fetch-multi-language-locale-data-of-same-key-in-react-intl

[2016-08-08 14:04] Swaagie opened #579 "Usage of invariant module"
Nitpicking here, but why is `react-intl` depending on a fork of the `invariant` module (https://www.npmjs.com/package/invariant), while React uses https://github.com/facebook/fbjs/blob/master/packages/fbjs/src/__forks__/invariant.js

This will inevitably lead to including the same script twice, since the hash will be different due to the minor difference in comments. I'm aware most builders provid

[2016-08-08 19:09] IsurusPrime opened #580 "Safari 9.1 does not use options on FormattedDate"
tried setting the month/day/year options on the Formatted Date, and all it output as a string M/D/YYYY.

Chrome works fine and returns the options as expected.  2-digit worked on day, month and year just fine.

[2016-08-09 12:49] rkostecki opened #581 "Differences in rendering client and server side"
Hi,
I have problems with client/server rendering differences:
locale = "en"

FormattedDate component
Params:
value= 2015-11-19T22:00:00.000Z

weekday: 'long',
year: 'numeric',
month: 'long',
day: 'numeric',
formatMatcher: 'best fit'

Result
 (client) ta-reactid="144">Thursday, November 19,
 (server) ta-reactid="144">Thu, Nov 19, 2015</span
Best regards
Rafal

[2016-08-09 13:05] jiayihu commented on #569
Seems related to this issue: https://github.com/rollup/babel-preset-es2015-rollup/issues/7
I solved running this command to install the latest package from github, until the author of `babel-preset-es2015-rollup` releases a new version on npm:
`npm i git+https://github.com/rollup/babel-preset-es2015-rollup.git`

[2016-08-09 13:15] jiayihu opened #582 "Improve examples scripts with watch"
It's tedious to run `npm run build` every time I make a change to test the examples, so I suggest adding a `watch` script with [watchify](https://www.npmjs.com/package/watchify).
For instance this work perfectly in *hello-world* example:
[code]

[2016-08-09 13:34] alesten opened #583 "Can't change locale data"
I've just installed the component and trying to change the locale data from 'en' to 'da' but the code below generates the following error

`<IntlProvider locale="da">
    <App />
  </IntlProvider>`

[React Intl] Missing locale data for locale: "da". Using default locale: "en" as fallback.

[2016-08-09 13:37] sterjakovigor commented on #569
Ooooh thanks! It helped!

[2016-08-09 16:26] jiayihu commented on #569
@sterjakovigor I think this issue should remain open in order to remember the contributors to update the package as soon as possible (:
Also technically it's not resolved yet and others will have the same problem meanwhile.

[2016-08-12 10:22] amangeot opened #585 "FormattedMessage vs formatMessage - re-rendering ?"
Hello,
I have been using `formatMessage`, wrapping my components with `injectIntl` . This way when the locale changes, the component updates itself and its message translations:

```<SomeLink to='/login' title={this.props.intl.formatMessage(login)} />```

I just tried moving to `FormattedMessage`, removing `injectIntl`, but this way the component doesn't re-render when the locale changes:

```<Som

[2016-08-14 00:54] kevin-wolf opened #589 "How to render translation without rendering an element"
Hello.

Is there any API that I can use for translating element attributes? (For example a placeholder of an input).

[2016-08-15 17:46] #548 closed

[2016-08-15 17:50] ericf commented on #554
There are many different approaches to loading the translations files at runtime. You'll have to figure out the best way for your app.

[2016-08-15 17:50] #554 closed

[2016-08-15 17:51] ericf commented on #551
`id` is meant to provide you a place to put in a message id that's constant between the message definition and your translation system/service. Locally you may want to use something shorter.

[2016-08-15 17:51] #551 closed

[2016-08-15 17:52] ericf commented on #550
@kof that's up to your app's business logic whether you consider it an error or not.

[2016-08-15 17:52] #550 closed

[2016-08-15 18:00] ericf commented on #568
This is unfortunate. You might want to open an issue against IE. To get around this issue, you could load the [Intl.js](https://github.com/andyearnshaw/Intl.js) polyfill in IE11.

[2016-08-15 18:00] #568 closed

[2016-08-15 18:05] ericf commented on #574
Can you explain this more? I don't really understand what you're saying.

[2016-08-15 18:07] ericf commented on #579
I'm not worried about this as the module is so small.

[2016-08-15 18:07] #579 closed

[2016-08-15 18:08] ericf commented on #580
Safari 9 doesn't contain the `Intl` built-in APIs. You need to use a polyfill: http://formatjs.io/guides/runtime-environments/#client

[2016-08-15 18:08] #580 closed

[2016-08-15 18:09] ericf commented on #581
What are the server and client runtimes and versions where you're seeing this?

[2016-08-15 18:09] ericf commented on #582
Feel free to raise a PR for this.

[2016-08-15 18:10] ericf commented on #583
See: https://github.com/yahoo/react-intl/wiki#loading-locale-data

[2016-08-15 18:12] ericf commented on #585
`<FormattedMessage>` is built to re-render if anything with the `intl` context changes.

[2016-08-15 18:13] ericf commented on #589
Yes: https://github.com/yahoo/react-intl/wiki/API

[2016-08-15 18:13] #589 closed

[2016-08-16 07:18] alesten commented on #583
Thanks, I found that but forgot to update my question. Thanks!

[2016-08-16 12:11] oscar-b commented on #463
@chapati23 Have you seen this: https://www.npmjs.com/package/react-intl-translations-manager

[2016-08-17 08:14] Odol opened #598 "FormattedMessage by "id""
it's possible work with this format?:

`<FormattedMessage
                    id={'any.options.opOne'}
                    description="spanel selection reference text"
                    defaultMessage={'algo.test'}
                    values={{
                        name: "hola"
                    }}
                    />`

example of "en.json"
I tried this but it does not work

`{
 any: {

[2016-08-17 17:09] ericf commented on #598
Yes, it only works with a flat message map. If you want to structure your messages as nested objects in source, then just flatten them before passing them into `<IntlProvider>`: https://github.com/yahoo/react-intl/wiki/Upgrade-Guide#flatten-messages-object

[2016-08-17 17:09] #598 closed

[2016-08-17 17:19] Odol commented on #598
Perfect thanks for your fast response!

[2016-08-17 21:14] steida opened #600 "Support React Native easily"
The only problem with usage in React Native is span inside components. React Native needs Text. We can fix it easily.  Add textElement into intlConfigPropTypes.

[code]

Then all components can use textElement from the context if available.

[2016-08-17 21:15] steida commented on #119
@ericf I think I finally figure out the simple solution. https://github.com/yahoo/react-intl/issues/600

[2016-08-17 21:17] jrylan commented on #600
100% agree with this approach.

[2016-08-17 21:28] ericf commented on #600
Sure, want to PR this? also s/Element/Component/

[2016-08-17 21:29] steida commented on #600
I would rather not, but if you merge my PR quickly, it can.

[2016-08-17 21:33] steida commented on #600
Sorry for my English. I will do it if you promise me PR will be reviewed in week at least ;)

[2016-08-17 21:34] ericf commented on #600
The other thing this approach can help with is using the `<Formatted*>` components within SVGs. Since a nested `<IntlProvider>` inherits from its parent, it would be a cheap easy way to solve the issue of `<span>`s not being allowed in SVGs.

[2016-08-17 21:39] steida commented on #600
It's safe to write only `<IntlProvider textElement={Foo} />`?

[2016-08-17 21:46] steida commented on #600
There are two another issues for universal react-intl:
- All components must accept `style` prop to allow inline styles. Why? That's because style inheritance is not safe nor explicit, so style prop is the must.
- All components must provide setNativeProps method http://facebook.github.io/react-native/releases/0.31/docs/direct-manipulation.html#setnativeprops-shouldcomponentupdate React Native can

[2016-08-18 00:06] steida commented on #600
Hmm, I am not sure about `style` prop. React Native inherits text, and browser as well. Hmm.

[2016-08-18 15:53] fanliming commented on #581
I have the same problem.

locale='zh'

and this is render code:
[code]
and here is server side rendering result:

[code]
it's weird the `<FormattedRelative>` and `<FormattedDate>` is in same render. but it's different result...

client is ok.

server version is node v6.3.1
react-intl version is 2.1.3.

Best regards

[2016-08-18 17:52] fanliming commented on #581
@rkostecki did you make sure Browser's Intl is same as Node's Intl ?

[2016-08-18 20:46] ericf commented on #600
This sort of sucks as it breaks the abstraction.

Can it just be a function that forwards the call onto the `<Text>` child?

[2016-08-18 20:49] steida commented on #600
Which abstraction it breaks?
Yes, it's just a forward https://github.com/este/este/blob/master/src/native/app/components/Text.react.js#L34

[2016-08-19 00:20] steida commented on #600
As for style inheritance. I think I was wrong. A browser can inherit them and the Text component in React Native inherits as well. http://facebook.github.io/react-native/releases/0.31/docs/text.html#nested-text

I had some issues with that, but I need to investigate it more.

[2016-08-19 12:39] timkraut commented on #367
@ericf I have got a similar issue: I use JSON files for every component which contains the translations. They are combined with a Gulp task into a single JSON file for every language. The default language is determined dynamically (depending on the browser) and can be set manually afterwards. If the browser language is not `'en'`, I receive messages like `Missing message: "<translationKey>" for lo

[2016-08-19 14:42] ericf commented on #367
@timkraut the docs should probably be more explicit on this point: the `defaultLocale` prop on `<IntlProvider>` should match the language of the `defaultMessage` prop on any `<FormattedMessage>` or `defineMessages()`; i.e., it's the **app's** default language and what its source strings are written in.

[2016-08-19 14:45] ericf commented on #600
Sebastian has a good talk on this: https://www.youtube.com/watch?v=Zemce4Y1Y-A

Okay that's much better and matches what I remember about React Native. I don't want to introduce a `style` prop on all of the React Intl components.

[2016-08-19 15:56] steida commented on #600
I see, still, the text styles seem to be universal among React and React native. But you are right, it could be abstracted. Have you read this awesome article?

http://jxnblk.com/writing/posts/patterns-for-style-composition-in-react/

I think we can reconsider style attribute later, if we will need it.

[2016-08-19 20:31] steida commented on #600
Btw, I asked Sebastian Markbåge about that and he promised to respond after a weekend vacation.

[2016-08-19 23:47] Bezdekm opened #604 "Failed to parse SourceMap (xxx/main.js.map)"
Hello,

when I want to run application with react-int I got error message in console - Failed to parse SourceMap: http://localhost:3000/main.js.map.

Can you help me please?

Thanks, Martin

[2016-08-21 14:22] ericf commented on #604
This would be very hard to debug unless you create the simplest possible, runnable, open source, example that shows the issue. If you do so, then feel free to reopen the issue.

[2016-08-21 14:22] #604 closed

[2016-08-22 05:49] bodhi opened #607 "Empty string treated as missing message"
`formatMessage` treats a message of `""` (empty) string (and 0, and any other "falsy" value) the same as a missing message, resulting in:

[code]

Which would be tolerable, except that:

* it will eventually fall back to the message ID, which is decidedly *not* blank.

* it logs this via `console.error`, which results in a full-screen red-box error message on React Native.

[2016-08-22 13:28] timkraut commented on #367
@ericf I have not defined `defaultLocale` on `<IntlProvider>`. Setting this property explicitly to `"en"` or `"de"` doesn't change anything.
I use `IntlProvider` as follows: `<IntlProvider locale={this.props.currentLanguage} messages={this.props.translations}>...</IntlProvider>`. I use Redux to update the property `currentLanguage`. If `currentLanguage` is set to `"en"`, everything works fine. If

[2016-08-22 15:09] danieleleoni opened #608 "How to translate react-router Route paths (SEO URLs)"
Hi guys, we are developing a multilanguage web application, italian and english for the moment.
We need to translate all the routes as well. For example we have the terms and condition page that has two paths (one per locale):
- it/termini
- en/terms

We would like to obtain something like this:

[code]

As you can see this funky solution is not so good for the scalability of the application.
How

[2016-08-22 17:21] STRML opened #609 "Feature: Shorthand"
Any opposition to supporting a shorthand syntax like other i18n libraries?

Now that v2 is out and ids are no longer hierarchical, it would be great to allow people to use message contents as ids for short, simple, common mesages.
### Syntax

`__(message: string)`
### Output

[code]
### Use Case

It would be great to be able to allow things like:

[code]

Rather than the much more verbose:

[code]

[2016-08-22 18:43] ericf commented on #609
There's no reason to use `__` as the export name since with ES6 `import` statements you can name the binding:

[code]

What would the return value of this function be? Are you thinking it would be something like this:

[code]

[2016-08-22 18:47] STRML commented on #609
I think `formatMessage` would be the wrong name, given the confusion with `intlShape.formatMessage`. I chose `__` due to its very common use in other libs, but I'm open to whatever.

The return value would be exactly as you wrote.

[2016-08-22 18:50] ericf commented on #609
I'm not on board with exporting `__` from the package. But sure, I'm open to something other than `formatMessage` which invokes the idea that you're defining and formatting a message. Maybe just `message`?

Then you could do:
[code]
Or:
[code]
…because `t` is also popular.

[2016-08-22 18:58] STRML commented on #609
I'm partial to the gettext shorthand (which is actually `_`, not `__`, my mistake) as it's already well-known in this space. But it doesn't necessarily matter - I'm going to update the babel branch to allow configuring the names of both the long function (`defineMessages`), the shorthand function (what we're deciding), and the names of the JSX components. If a user wants to define a `global._` or

[2016-08-22 20:07] ericf commented on #609
There's no need to do this. The actual exported names will be set, and Babel will automatically handle the `as` binding names.

I don't understand why not `message`, it's clear and the user can name the binding whatever they want and the Babel plugin will work automatically.

[2016-08-22 20:12] ericf commented on #607
Yes, if a message is an empty string it's considered an error.

If you're missing translations for a locale, I'd recommend merging the translated messages with the default messages so that every key has a non-falsy value.

[2016-08-22 20:12] #607 closed

[2016-08-22 20:14] ericf commented on #367
Okay, so you have to write you code to wait for the translations to be loaded before you update the props on `<IntlProvider>`.

[2016-08-22 20:15] STRML commented on #609
I figure it should be more of a verb than a noun, but `message` is growing on me. Since it can be renamed and the babel plugin will pick up on that - :+1: from me.

[2016-08-22 20:29] ericf commented on #608
Do you want your routes do go be translated through your normal translation pipeline with your UI strings?

The simplest solution would be to have a mapping of a route name to path for each language and then select the route mapping table based on the current locale.

[2016-08-22 20:35] ericf commented on #609
Re: verb vs noun, yeah that's why I was thinking `formatMessage`, but I agree it could be pretty confusing since that's used else where. Since it's basically a hybrid of `defineMessage` + `formatMessage`, I think `message` can work.

Related to this, one idea I had long ago was to use ES6 tagged template literals to define and format the message. Maybe that's where this leads?

[code]

…or if you

[2016-08-22 20:56] cloud-walker commented on #608
We already use react-intl in our project, and yes, the problem is more complicated than it seems, for example:

we have two routes it/termini and en/terms who must point to the same page component, but at the same time we need to change url on changeLocale component, there is a fragment:

[code]

So yes, maybe a simple routes mapping, without involving react-intl its a idea. But what about more co

[2016-08-22 21:04] STRML commented on #609
Re: interpolating the variables, that's interesting. I didn't see the value at first, but it makes sense when substituting out the message for a different locale.

We could even guess at the variable name in the babel plugin, but given this could be surprising on a refactor, it could be a different export:

[code]

[2016-08-22 21:06] ericf commented on #569
This has been resolved.

[2016-08-22 21:06] #569 closed

[2016-08-22 21:06] STRML commented on #609
Additionally, given the duplication in the output (and the needless increase in bundle & memory size), how do you feel about a `<FormattedSimpleMessage id="Hello, world!" />`. It would accept values like anything else, but just doesn't require the allocation of the `defaultMessage`.

Not sure if it would be worth the effort to save a tiny amount of memory.

[2016-08-22 21:11] ericf commented on #608
I don't think it makes sense to do add anything specific to routes into React Intl. But the `messages` feature is generic enough that you could use React Intl to supply the translated routes. Then in combination with `injectIntl()` you could access the `intl.messages` context to provide the translated URL as the `href` of your link components, etc.

[2016-08-22 21:55] ericf commented on #609
There are still a few related features to this we should have ironed out and a story for:

1. Better rich-text message formatting (https://github.com/yahoo/react-intl/issues/455#issuecomment-218282929)

1. Support for shorthand formatting to a string value for use within HTML element attributes like `placeholder` which need a string value.

I'm fine with 1) being handled later. For 2), we'll need

[2016-08-22 22:27] STRML commented on #609
Why not `_` and `_s`, or `message` and `stringMessage`?

We could then pass the descriptor & values to `intl.formatMessage()` without changing its signature.

[2016-08-22 22:47] ericf commented on #609
Because what would `stringMessage` return? It would have to be run within the intl context. So when `stringMessage` is exported from the package there isn't much it can do besides output a description of the message to be formatted.

[2016-08-22 22:48] STRML commented on #609
Right - see my edit

[2016-08-22 22:59] enzolutions opened #611 "Load async translations fail"
I am trying to create a SPA with multilanguage support

English is the first language, but with an option I request via ajax a new set of string inside state.

The values are OK, but the new string are not render, instead of ther key is render, check the code below

[code]

[code]

Check the image after the render is applied

![react-intl-async-fail](https://cloud.githubusercontent.com/assets/9079

[2016-08-22 23:29] ericf commented on #609
[code]

^ this will be some extra onus on the Babel plugin, and have edge cases that won't be well covered, e.g.:
[code]

One thing I did to minimize this is keep the `import` right next to the message definition being extracted.

[2016-08-22 23:40] ericf commented on #611
There's an example here that loads translations async: https://github.com/yahoo/react-intl/tree/master/examples/async

[2016-08-22 23:51] bodhi commented on #607
This means there is no way for a message to be localised to an empty string?

The message isn't missing, it's intended to be blank. What I needed to do as a workaround is to use a string such as `" "` (a single space), and then `trim` it when it's used.

[2016-08-22 23:58] enzolutions commented on #611
Hi @ericf

Thanks for your answer, I know that example, but that example load only one language and don't switch the language, in my case I want to load and replace, and that is the problem I am reporting

[2016-08-23 00:42] ericf commented on #609
@STRML here's an example of what I'm thinking: https://github.com/yahoo/react-intl/pull/612

[2016-08-23 00:50] m4recek opened #613 "Question: Custom error handling for translations in DEV and PROD"
Hi,
we would like to report all missing translations to our error reporter. Is there a way to provide custom error handler when translation is missing?

[2016-08-23 03:55] ericf commented on #613
Nope, it uses `console.error`. Why do you need to run the code to determine which translations are missing?

[2016-08-23 09:41] timkraut commented on #367
@ericf The issue arises during the app initialization if the browser language is not `"en"`. At the moment, I have defined `translations = {}` and would expect React-Intl to use the `defaultMessage` keys *silently*. Setting `translations` to `null` doesn't work either. Is there any other possibility to avoid having dozens of error messages in the console?

[2016-08-23 12:38] wzup opened #614 "[minimumFractionDigits] doesn't work"
`minimumFractionDigits` option doesn't work.

config:
[code]

Output:
[code]

Why does it give three digits instead of two?

[2016-08-23 15:09] ericf commented on #607
I don't follow; can you explain more?

[2016-08-23 15:13] ericf commented on #611
I won't be able to debug your app, so feel free to open a PR with a failing test case to show the issue. Based on the errors you'll need to debug the state of your app, which is probably easiest using React Dev Tools for Chrome.

[2016-08-23 15:13] #611 closed

[2016-08-23 15:18] ericf commented on #367
This is not how React Intl works, it's just like any other React component and it'll use the props you provide.

The console messages are only shown in development and are there to help guide you through fixing issues. Normally how people would handle this issue is have the server embed the translations for the users locale based on the `Accept-Language` HTTP header. The other approach you'll need

[2016-08-23 15:21] ericf commented on #614
It's working correctly.

You've configured the formatter to have a minimum of two fractional digits, 3 >= 2. If you'd like to set a **maximum** number of fractional digits, then also set `maximumFractionalDigits`.

[2016-08-23 15:21] #614 closed

[2016-08-23 15:26] ericf commented on #585
I just realized you're using a React element inside of an attribute named `title`, assuming this eventually is the value for an `<a>`'s `title` attribute, this won't work because it needs to be a string value.

[2016-08-23 15:28] #585 closed

[2016-08-23 15:29] ericf commented on #574
Closing this. Feel free to open when more information has been provided to make this actionable.

[2016-08-23 15:29] #574 closed

[2016-08-23 15:31] ericf commented on #553
Closing this as the example in the README has been updated to use `<FormattedMessage>`.

[2016-08-23 15:31] #553 closed

[2016-08-23 15:32] ericf commented on #544
Closing this out… feel free to continue discussing, but at this point there's no actionable item.

[2016-08-23 15:32] #544 closed

[2016-08-23 16:32] STRML commented on #609
Should be able to make it work in the Babel plugin. It's worth it to me to keep the nice syntax vs having to use ```intl.formatMessage(_`foo`)``` and ```<FormattedMessage {..._`foo`} />```.

[2016-08-23 17:27] ericf commented on #609
I'm worried about it being harder for people to understand though. It's uncommon for a lib to have a function that produces a React Element that can't be used with JSX syntax.

[2016-08-23 18:01] STRML commented on #609
I agree with that sentiment. Naming can help. How about `makeFormattedMessage`?

I was also thinking that `messageString` shouldn't be an export, but a property on the `intl` object. `formatTemplateString` could be the name.

Critically, the whole point of this feature is ease-of-use - less typing means less pain when trying to migrate an app. If at all possible, I want to get the usage to be as t

[2016-08-23 18:22] ericf commented on #609
The the problem with this is making the Babel plugin correct extract the messages. Now instead of just checking if a binding references an `import` from React Intl, now you have to things through all of the scopes and people might be writing all different sorts of code or passing `intl` to other functions, etc. — essentially you'd need to implement Flow :)

I don't agree with this goal. I think it

[2016-08-23 18:46] STRML commented on #609
I see your point.

As a convenience, it would be very nice to have this ultra-shorthand in the lib so it can be directly translated and captured by the babel plugin without friction. If it's outside the lib, the usage would have to be ```_(message`...` ``` rather than ```_`...` ```. Would you amenable to putting `makeFormattedMessage` on `react-intl`'s exports (so it can be aliased to `_`), but al

[2016-08-24 01:16] bodhi commented on #607
In our application, we have a set of "content cards" that may have a title, text and button label; and each card is identified by a key. Some of the cards need a title, but some do not. When we display the card, we can dynamically generate the message ID for e.g. the card title: `` `cards.${key}.title` ``.

If a localisation for a particular card doesn't require a title, then it could be set to th

[2016-08-24 03:52] ericf commented on #609
I really think having these additional/optional ways to accomplish the same thing would be very confusing to users.

The way you create a formatted message element is `<FormattedMessage>` (which you can alias to whatever import binding you want. I feel that introducing _another_ way would be confusing.

I want to stick with the ICU Message syntax and I think omitting part of the syntax, sometimes,

[2016-08-24 05:06] ericf commented on #607
Ah okay. Check out my comment here: https://github.com/yahoo/react-intl/pull/488#issuecomment-224945705

You can use `injectIntl` to get access to the messages and check if it exists before trying to render it. You can use this in your Card component where the title message is optional.

[2016-08-24 05:11] bodhi commented on #607
Aha! I tried searching various permutations of keywords for issues, but I guess I forgot to search PR comments too. Thanks, I'll look through that thread.

[2016-08-24 10:42] pbazydlo opened #615 "Node Intl only supports english by default"
By default Node Intl package only supports english which can result in different results when server-side rendering react page.

Running `Intl.NumberFormat('fr-CA').format(2151)` in browser will return `2 151` whereas in Node the result will be `2,151` (fallback to english format).

This cannot be fixed in this package, but could be included in documentation so that it's easier to find when somebo

[2016-08-24 11:23] Phyks commented on #553
Thanks!

[2016-08-24 13:08] oscar-b commented on #77
Here's the correct link for `Intl.DurationFormat`: https://github.com/tc39/ecma402/issues/47

[2016-08-24 13:44] timkraut commented on #367
@ericf
Just to be sure that I understand this correctly, either I have to adapt my development environment to this library, copy all translation keys into the initial props object, accept a negative performance impact/perception because I have to wait for the download of all translation keys or accept the console messages?

What do you mean by "The console messages are only shown in development"?

[2016-08-24 20:13] ericf commented on #367
If `locale` and `defaultLocale` on `<IntlProvider>` are the same — which is the general case when developing — then there won't be errors. `defaultLocale` is the locale that the app's `defaultMessage`s are defined in. I think it's reasonable to assume that in development, `locale` === `defaultLocale`. I'd encourage you look over the code [here](https://github.com/yahoo/react-intl/blob/cc50a9806859

[2016-08-24 20:29] ericf commented on #615
It's in the docs, at the top of _Getting Started_, but feel free to make changes to the Wiki to make it more clear: https://github.com/yahoo/react-intl/wiki#i18n-in-javascript

[2016-08-24 20:29] #615 closed

[2016-08-25 06:48] mahyarmobilab opened #616 "Problem in loading appropriate locale data"
Hi there,
I recently got familiar with your lib and first of all I want to thank you for your great work.
I have a problem in loading appropriate locale data base on user locale. In our react application which is using webpack as build tool, the locale is being provided from server-side as a global variable. then I am using exactly what documentation says:
[code]
in my index.html before including

[2016-08-25 08:16] timkraut commented on #367
@ericf I don't think that `locale` and `defaultLocale` are generally the same. Currently, I work in Luxembourg. I am German so my browser is in German. The colleague sitting next to me is French so his browser is in French and there are colleagues which use English browsers, too. Collaborating on the same piece of software with several browser languages is no exception but rather the standard case

[2016-08-25 12:33] amangeot commented on #585
`SomeLink` was built to receive strings or react elements like a `FormattedMessage`. I am still trying to understand why my code stops `FormattedMessage`s from updating in some cases.

For example, with the previous example, if a class `QomzN`

[2016-08-25 12:58] amangeot commented on #585
I have another case where a component, wrapped by injectIntl, renders several of these links:
[code]
I replaced one of these links with:
[code]

When changing the locale, only strings from `formatMessage` will update.

Do you have any idea on what could happen ?

Packages:
 - react: 15.0.1,
 - react-intl: 2.1.2,
 - redux: 3.5.2,
 - react-redux: 4.4.5

[2016-08-25 16:04] ericf commented on #616
This is caused because `React` hasn't been loaded on the page. I've updated the docs to mention this and I'll look into providing a helpful error message for this case: https://github.com/yahoo/react-intl/wiki#loading-locale-data

[2016-08-25 16:48] ericf commented on #367
@timkraut you should just bite the bullet and do the right thing of loading messages in dev. That's what we do, since you have to do it in prod anyways.

[2016-08-25 16:50] ericf commented on #585
Maybe you're hitting this issue with React and `shouldComponentUpdate`? https://github.com/yahoo/react-intl/issues/234

[2016-08-25 21:33] HadrienPierart opened #618 "What is the browser support of react-intl"
This is not very clear when reading the wiki or the readme.
Do you have the same min target browser as the underlying API Intl or is it better / worse ?

I can see this on the Mozilla MDN page :

Meaning that safari is not supported at all, and IE only from v11 onward...

Could you consider adding a browser support table on the readme page ?

Thank you !

[2016-08-25 21:44] HadrienPierart commented on #618
ok, found it while reading the wiki, my bad. => https://github.com/yahoo/react-intl/wiki#i18n-in-javascript
Closing...

[2016-08-25 21:44] #618 closed

[2016-08-25 21:53] ericf commented on #618
@HadrienPierart Technically IE6+, but that's limited by what React supports.

[2016-08-25 21:56] HadrienPierart commented on #618
Arent you limited by the Intl API ?
Or you mean the support when you include the polyfill + the locale data you need to add when not already provided by the browser ?

[2016-08-25 22:21] ericf commented on #618
Yeah with the `Intl` polyfill.

[2016-08-26 04:21] mahyarmobilab commented on #616
thanks a lot for your help. now I added `react` and `react-dom` and do not have that problem. the problem now is although I have these lines in my `index.html`:
[code]
but I get the error:

`[React Intl] Missing locale data for locale: "fr". Using default locale: "en" as fallback.`

this is my index.js where I create an I18n Context.

[code]

what do you think the problem is? what am I missing?

[2016-08-26 05:30] HadrienPierart commented on #618
ok then, thank you !

[2016-08-26 06:26] MoOx opened #619 "Option to disable "using default message as fallback." warning"
Hi,

First of all, thanks for this awesome library. More than useful, it's a must have.

I have a request (and didn't find a way to handle this)

We decided to put the main language of the app we work in the `defaultMessage` (s) (in order to avoid the pain of maintaining a translation file during development).

Our main language is english and we plan to add support for others (french, german etc)

[2016-08-26 09:09] timkraut commented on #367
@ericf I don't think that I share your idea of "the right thing". Currently, I use BrowserSync during development. This happens completely static. Bundling the correct locale files with the rest of the application would mean to build a dynamic server manually and changing the entire build pipeline just for React-intl. Maybe your setup at Yahoo supports this but I would appreciate if you could cons

[2016-08-26 12:48] jpaas opened #620 "Requiring unknown module "../locale-data/index.js""
When I add:

[code]
to a component in my React Native app, I get an error that its requiring unknown module "../locale-data/index.js".

Am I doing something wrong?

I'm using:
    "react": "15.3.1",
    "react-intl": "2.1.4",
    "react-native": "0.32.0",

[2016-08-26 15:17] ericf commented on #616
This looks correct to me, assuming that your `index.js` comes after…
[code]

You'd have to put a simplified example up somewhere that I could see it.

[2016-08-26 15:20] ericf commented on #619
@MoOx there are other issues on this topic, please check out those for more details. The tldr is either leave `locale` undefined on `<IntlProvider>`, or make sure `locale` and `defaultLocale` have the same value. In this case, [this code path](https://github.com/yahoo/react-intl/blob/cc50a9806859cfddab5ff24bb9df46c6e72cd88b/src/format.js#L220-L233) will apply and the errors won't be outputted to t

[2016-08-26 15:20] #619 closed

[2016-08-26 15:26] ericf commented on #367
@timkraut I spent time helping you even though I considered your comments to be hostile. No one is forcing you to use this library, it's open source, do with it what you please. I'm locking this issue because I don't want to continue this discussion while you have a negative, condescending attitude towards my comments.

[2016-08-26 15:30] ericf commented on #620
React Native is not officially supported or tested. I haven't tried using React Intl within React Native, so it's hard for me to say.

My best guess is that it's related to React Native's custom module bundler (I'm assuming here RN still has its own custom bundler.) In [`package.json`](https://github.com/yahoo/react-intl/blob/cc50a9806859cfddab5ff24bb9df46c6e72cd88b/package.json#L35-L38) there's a

[2016-08-26 15:33] jpaas commented on #620
Oh. Based on some of the other issues, it seemed that some other people were using it with RN. If it isn't supported, feel free to close I suppose.

[2016-08-26 15:44] ericf commented on #620
You're free to try getting it working 😄 I'm saying that it's not _officially_ supported because we've done zero testing in React Native.

[2016-08-26 20:57] jgkim commented on #620
This issue is related to facebook/react-native#9518, and `intl-messageformat` has also the same issue with RN 0.32.

[2016-08-26 20:59] jgkim commented on #620
I guess adding a `react-native` field to `package.json` may solve this issue on RN 0.32.

[2016-08-27 05:22] jgkim commented on #620
If you use `react-intl` with `react-native` `0.32`, four packages have this problem. A workaround for this is to add `react-native` field to each `package.json` of those packages. WIthout the `react-native` field, `react-native` use the `browser` field as fallback.

### **`react-intl`**
[code]

### **`intl-messageformat`**
[code]

### **`intl-relativeformat`**
[code]

### **`intl`**
[code]

[2016-08-27 15:25] ericf commented on #620
Definitely not planning to add react-native specific entries to package.json files for projects that have nothing to do with React, that's absurd.

This sounds like a bug in how react native is interpreting the "browser" field in package.json.

[2016-08-27 19:43] steida commented on #620
I am not sure I got it. How has React Native nothing to do with React?
It's basically yet another React platform. react-intl already supports two platforms, the browser, and the server, and the native is another which should and can be easily supported.

What I am overlooking? browser or react-native, where is the difference? Sorry if it is obvious. Thank you very much for react-intl. It's really

[2016-08-28 00:15] steida commented on #620
https://github.com/este/este/blob/master/gulp/native-fix.js

[2016-08-28 12:12] ericf commented on #620
I'm saying that React Native should fix how it's handling the "browser" field – which it currently has a bug in handling `"some-package": false`.

[2016-08-28 13:04] tuckerconnelly commented on #620
@ericf Can you please add the react-native fields as a *temporary* fix, while react-native gets their stuff together?

[2016-08-28 13:07] tuckerconnelly commented on #620
Or @jgkim can you run npm build in each of your forks and commit them to github, so I can use them? 🙃

[2016-08-28 15:22] steida commented on #620
@ericf React Native is not a browser so I don't see why it should support setting for browser.

[2016-08-28 16:31] jgkim commented on #620
@tuckerconnelly I already did what you said. Look at the react-native branch of each package.

[2016-08-29 01:52] ericf commented on #620
@steida agreed. But it is, which is why people are seeing this issue. And it's reading it incorrectly. Note how this isn't an issue in Node and the module exists in the package.

[2016-08-29 07:57] michalczaplinski opened #622 "What format should the translations for the user's locale have?"
In multiple places in the docs, it is pointed out that one has to supply the translations oneself as a prop on `IntlProvider`. E.g in the section [creating an i18n context](https://github.com/yahoo/react-intl/wiki#creating-an-i18n-context) there is a following snippet:
[code]

 What format should `translationsForUsersLocale` have? As far as I can see, it is not defined anywhere in the docs.

[2016-08-29 08:51] gitim commented on #620
Have the same issue, but I agree with @ericf

for me it looks like RN bug too. I started investigating packager’s work, but have not finished yet.

[2016-08-29 10:12] ericf commented on #622
It's a simple object that maps, message id to translated message string: https://github.com/yahoo/react-intl/wiki/Components#intlprovider

[code]

[2016-08-29 10:12] #622 closed

[2016-08-29 15:34] tomdmaguire commented on #557
FYI, I eventually decided on the following method to handle locale fallbacks:

[code]

[2016-08-29 16:01] kellyrmilligan opened #623 "character entities in messages such as &#x00026;(ampersand) in messages"
https://dev.w3.org/html5/html-author/charref

what is the preferred way to have character entities in a message file? break the messages up around  them and pass them in as values?  is there a way to have a message defined with a special character in it?

"Free shipping &amp; returns"

for example?

I did not want to use formatHtml message because the docs say not to.

[2016-08-29 16:52] ericf commented on #623
You can escape them, but it requires that you escape the `\u` e.g. `\\u0026` in the message string:
[code]

[2016-08-29 16:52] #623 closed

[2016-08-29 17:18] kellyrmilligan commented on #623
ah, so also is it preferred to do it in unicode? http://unicode-table.com/en/#0026

[2016-08-30 16:22] AlessandroCorradini commented on #600
@ericf You could detect if is react-native or not like so:
https://github.com/erikras/redux-form/blob/master/src/isReactNative.js

if is react-native, set the "defaultComponent" to <text>, else to <span>.

[2016-08-30 16:25] jrylan commented on #600
@AlessandroCorradini that's a decent approach, but we still end up with the issue on needing to specify the use of <text> within an SVG element. <span> does not work within an SVG.

[2016-08-30 16:34] AlessandroCorradini commented on #600
`<Text>` is the react-native component, it doesn't need a SVG element

[2016-08-30 17:03] jrylan commented on #600
@AlessandroCorradini `<text>` (lowercase t) is for SVG:
https://developer.mozilla.org/en-US/docs/Web/SVG/Element/text

`<Text>` (uppercase T) is for react-native.

[2016-08-30 17:06] AlessandroCorradini commented on #600
It's my mistake sorry :D I was in a hurry to write. I meant Text component.

[2016-08-30 17:58] DWboutin opened #625 "React-intl and react-router doesn't work together well."
Hi!

All my "onClick" events on the Link component of react-router are not bind to the `a` tag in the DOM on Safari (see: http://imgur.com/a/GA7bI, the first is Chrome and second is Safari).

When i remove `<IntlProvider>` from my main component and other things related, all works.

Do you have any ideas on this?

Thank you

[2016-08-30 18:00] ericf commented on #625
You can look at the React Router example app here: https://github.com/yahoo/react-intl/tree/master/examples/react-router

Feel free to reopen this issue with a branch of that demo app that shows the issue if you're still hitting it.

[2016-08-30 18:00] #625 closed

[2016-08-30 18:04] #582 closed

[2016-08-30 19:08] AlessandroCorradini commented on #600
I thought..my approach need dependency with `react-native` and this isn't good for react (not react-native) users.
Instead, you could add a component prop (not required). If it is provided, render this component like so, else render a regular `span`:

`<Component {...this.props}>{this.props.value}</Component> `
I don't know the exact prop than contains the translated value, `this.props.value` is "

[2016-08-30 19:33] jrylan commented on #600
@AlessandroCorradini I don't believe the prop idea is a good approach, because if you intend to create universal apps (using something like react-native-web), you would need to specify the prop every single time you used a react-intl component. It's really best to define the text element to use at the IntlProvider level.

The approach that @steida outlined in the first post is the perfect solution

[2016-08-30 19:52] AlessandroCorradini commented on #600
I'm agree with you.

[2016-08-30 20:00] steida commented on #600
@AlessandroCorradini Remember that browser code can import anything from Native and vice versa. And no, `require` isn't a solution because dependencies must be statically analyzable.

[2016-08-31 23:28] iam-peekay opened #629 "FormatNumber - number of decimal places being converted to 3 in tests"
We are snapshot testing our React components using jest snapshotting. We are running into issues where if we use `formatNumber` in our component's render method, the number is being converted to 3 decimals places (even if we set `minimumFractionDigits: 4` in the `formatNumber` configuration).

When we run the tests locally, they work fine. As soon as we run them in CircleCI, the fraction digits is

[2016-09-01 00:29] DWboutin opened #630 "To delete, sorry"
to delete, sorry i'll fix something before

[2016-09-01 05:47] gezichenshan commented on #416
Hi,
when I run,
[code]
I got "Cannot read property 'intl' of undefined".
Anybody knows why?

[2016-09-01 09:53] ralf-strehle opened #631 "export formatMessage(...)"
Would it make sense to export more API functions like formatMessage(...) ?

Right now the only way I found to use formatMessage(...) inside a React component is to add a contextType with ...

[code]

... and then call formatMessage(...) with ...

`this.context.intl.formatMessage({id: 'foo.bar'})
`

But this looks cumbersome to me, it would be easier if we could just write ...

`import { formatMess

[2016-09-01 13:05] m4recek commented on #613
Hi, sorry for long delay. We had national holiday in the meantime :)

Our translation process is not in sync with development, and translators can change live translations even in deployed version of product. So we want to have error reporting when

[2016-09-01 14:16] #630 closed

[2016-09-01 14:24] ericf commented on #631
The `format*` functions are bound to the intl context, i.e. everything passed to `<IntlProvider>` and the memoized versions of `Intl.NumberFormat`, `Intl.DateTimeFormat`, etc. that are created. If we export these as plain functions instead of methods, then this metadata would need to be passed in each time.

You can see from [their definitions](https://github.com/yahoo/react-intl/blob/master/src/f

[2016-09-01 14:24] #631 closed

[2016-09-01 14:25] ericf commented on #416
@gezichenshan https://github.com/yahoo/react-intl/wiki#loading-locale-data

[2016-09-01 14:28] ericf commented on #629
It might be related to the Node version that you're using locally vs what's used on CircleCI. Can you try running your tests locally with the same node version? Also can you list of the metadata about what locale and what the options to `formatNumber` look like?

[2016-09-01 14:34] ericf commented on #613
So there isn't a way to validate a translation before it's pushed live by comparing it with the app's default messages?

Can you provide a more detailed proposal of how you're thinking this feature should work?

[2016-09-01 15:52] mahyarmobilab commented on #616
yeah it comes after that. just one thing that I can imagine is happening is that the instance which I am adding the locale to is different than what index.js is using.

I will try to

[2016-09-01 15:58] mschipperheyn commented on #600
+1 @steida

[2016-09-01 17:20] iam-peekay commented on #629
Hi @ericf -- we are in fact using a different Node version on CircleCI. However, I tried running the tests locally with the same node version as what we are using in CircleCI and they seem to pass just fine locally.

In terms of the metadata:
- locale for tests: "en"
- formatNumber options:
[code]

[2016-09-01 17:27] iam-peekay commented on #629
@ericf actually, you're right. it is due to different node versions running locally vs. what is running in CircleCI

[2016-09-01 17:37] #629 closed

[2016-09-01 19:56] #616 closed

[2016-09-01 19:59] ericf commented on #629
What Node version is running on CircleCI?

[2016-09-01 21:11] amangeot commented on #585
Oh sorry I missed it, thank you for the link.

The workaround with `IntlProvider key={locale}` is one way to go, though it (usually) triggers data fetching as it unmounts / mounts components.

[2016-09-01 21:19] raarts commented on #609
Disclaimer: I don't know the product, and I'm by no means an expert in i18n, but I've done my share in implementing i18n. This is just my $0.02, I'm a passer-by looking to use react-intl. Also I may be misunderstanding some of the text above.

Reading the above, I like @STRML's `_``Hello, ${this.props.name}`` a lot. I also am of the opinion that the < FormattedMessage .....> approach is too verbos

[2016-09-01 21:31] STRML commented on #609
Thanks @raarts - we've just about finished the migration in our application and have found that the `<FormattedMessage>` syntax is *very* verbose and slowed the migration significantly.

I agree that clarity is good, but if my options are increased clarity for newcomers or increased power & concision for power users, I would choose concision 100% of the time.

Even if this feature needs to be ment

[2016-09-01 22:10] iam-peekay commented on #629
v4.3.0

[2016-09-02 10:20] raarts commented on #609
Can you explain what is the problem with strings?

[2016-09-02 12:53] m4recek commented on #613
Well, having a callback function for errors in IntlProvider or some other component will be enough

[2016-09-02 14:45] STRML commented on #609
The issue is that components can extract the `intl` object from `this.context.intl` (which is needed to format strings & lookup messages). So if you have a `<FormattedMessage>` in your tree that was laid there by a component that wasn't using `intl`, that's fine.

However, if you need to add a string property to an element, like so:

[code]

This won't work - React can't render directly to a strin

[2016-09-02 15:24] raarts commented on #609
I see. And I agree.

[2016-09-02 17:41] ericf commented on #585
@amangeot did that fix the issue? (I really hope this is fixed in React 16)

[2016-09-02 17:45] ericf commented on #613
@m4recek this seems similar to [React Router's `onError` feature](https://github.com/reactjs/react-router/blob/master/docs/API.md#onerrorerror). Do you agree? If so, I can look into implementing this, where the default is `console.error`. For the API, would you expect the function you pass to `onError` to be called with an `Error` object?

[2016-09-02 17:51] ericf commented on #609
@STRML @raarts it would be great to get your feedback on my variation of this proposal, which I've already implemented in #612. The difference with mine is a balance of clarity, consistency, and conciseness by having a short-hand way of defining a Message Descriptor. This way it's consistent between formatting to a React Element or string, and builds on the primitives that already exist.

[2016-09-02 19:03] STRML commented on #609
Understood, the issue is that ```<FormattedMessage {...message`Hello, {${name}}`} />``` is still has a long way to go to be considered shorthand.

It should be:

* Usable via a single function
* As simple as possible

```<h3>{message`Hello, {${name}}`}</h3>``` is very simple and understandable. I would much rather simply ignore the string case and use `intl.formatMessage` rather than hamstring the

[2016-09-02 20:08] ericf commented on #609
The problem is, the string use-case is extremely common, especially if you're building an accessible application.

[2016-09-02 20:09] ericf commented on #609
[code]
Remember, this can be much shorter in your app:
[code]

[2016-09-02 20:17] STRML commented on #609
Hmm. That does make sense when displayed that way. I wish we could get it down further but context makes that very difficult. This is already a very large improvement.

:+1: Thanks for taking the time to discuss this. Let's go with it.

[2016-09-02 20:28] mschipperheyn commented on #600
To augment my +1: it's preferable to NOT detect RN vs ReactJS and automatically decide on the tag to use. RN Docs state that Text formatting is not passed through the tree like in HTML/css and recommends using a customized Text component to guarantee your fonts etc are correct. So, it might be preferable to create AText component that renders the Text with your font preferences, in which case you

[2016-09-03 09:41] amangeot commented on #585
@ericf yes adding `key={locale}` to `IntlProvider` does fix the issue by re-mounting the entire app.

However it can add another issue as it unmounts / mounts all components. This triggers data fetching from Components' `componentDidMount`.

Another issue for my project is that I use `react-google-maps` with clusters which, currently, repaints the map 5000 times for 5000 markers, every time the ma

[2016-09-03 10:20] raarts commented on #609
I'd really appreciate adding these shorthand types to the examples section. But it LGTM.

[2016-09-03 14:53] ericf commented on #585
Other things to look at is using injectIntl around the connected components, having the app extend Component instead of PureComponent. Do you expect users to change their locale often?

[2016-09-03 19:35] sandyksit opened #634 "how to format date in inputBox using react-intl"
I want to format string date in inputbox, please guide me, i am using like below code:

import { FormattedDate } from 'react-intl'

@withStyles
@bindRedux([calendarSelector])
export default class CalendarPopup extends Component {
    static propTypes = {
      Weekday: PropTypes.string
    }
    constructor(props) {
        super(props)
        const className = props.className || ''
        this.

[2016-09-04 22:50] m4recek commented on #613
yes it is basically same feature. `Error` object as a param is ok, I don't have a strong preference. Only difference I expect betweeen `onError` callback and `console.error` is that `onError` callback should be called even in production environment.

[2016-09-06 10:42] Degee commented on #608
Guys, can you tell me, how you solved it? Some example would be nice. Thank you!

[2016-09-06 21:32] bmatto commented on #422
We're running into this error in a rails capybara test - we are using the capybara-webkit driver ... however have not been successful in polyfilling for the capybara test env.  Any suggestions?

[2016-09-06 21:32] bmatto commented on #422
We're running into this error in a rails capybara test - we are using the capybara-webkit driver ... however have not been successful in polyfilling for the capybara test env.  Any suggestions?

[2016-09-07 15:43] vnorguet opened #635 "How to make react-intl work well with Safari"
Hi,

React Intl work perfectly on Chrome and Firefox, but on Safari I just see an blank page, with this error:
[code]

I've seen many question about it, all redirects to the formatjs.io guide, but I can't see any code sample that really works.

NB: I'm on a Meteor+React stack, I don't use babel, and my translation file is loaded this way:

[code]

I've tried to add <head> tag to add the polyfill,

[2016-09-07 16:44] Honghe opened #636 "Property value of JSXAttribute expected node to be of a type ["JSXElement","StringLiteral","JSXExpressionContaine"
It is used as follow:
[code]
get the error:
[code]

Thanks!

[2016-09-07 21:09] bergonom opened #637 "currency + maximumFractionDigits not working on Firefox/Safari"
I'm trying to display something like "$###k" but I am running into this issue:

                            <IntlProvider locale="en">
                                <FormattedNumber currency='USD'
                                                 maximumFractionDigits={0}
                                                 style='currency'
                                                 value={123.

[2016-09-07 22:09] ericf commented on #635
The polyfill must come first, before your script:
[code]

[2016-09-07 22:09] #635 closed

[2016-09-07 22:13] ericf commented on #636
Assuming that `title` ends up being the `title` attribute of a `<span>` or some HTML element, you'd need to pass a string. See: https://github.com/yahoo/react-intl/wiki/API#string-formatting-apis

[2016-09-07 22:13] #636 closed

[2016-09-07 22:17] ericf commented on #637
Make sure that `minimumFractionDigits` <= `maximumFractionDigits`. In your case setting them both to `0` should resolve this issue.

[2016-09-07 22:18] #637 closed

[2016-09-08 05:38] mariuscoto commented on #196
@quicksnap can you please also provide an ES5 version of the 'workaround' ?

[2016-09-08 08:23] thomasdejagere opened #638 "Question: How to adjust the default language to the chosen language? Id's visible of strings on refresh."
Hello,

I'm a trainee at a IT company. They want me to include i18n in their React application.
I have read the documents of React-intl and implemented the basic functionality in the application.

In the application a user can change the language through an dropdown list. When saved, the messages in the <IntlProvider> component change to the messages of that language. The locale property in the In

[2016-09-08 14:30] #638 closed

[2016-09-08 14:31] thomasdejagere commented on #638
Found the issue, wasn't caused by the react-intl library.

[2016-09-12 21:45] thelamborghinistory commented on #513
I am also currently running into this. I like the idea of nested placeholders like
[code]

Even if it looks complicated, I think this would simplify the creation of natural messages files, where you wouldn't have to rip the link text out of the context of the parent message.

[2016-09-14 15:45] antoinerousseau commented on #620
any update on this?

[2016-09-14 16:04] kompot commented on #620
Thanks @steida for a useful script mentioned in
https://github.com/yahoo/react-intl/issues/620#issuecomment-242948214
ended up using it (as one needs to remove `.babelrc`s anyway)

[2016-09-16 13:29] gitim commented on #620
fyi: @davidaurelio merged a fix https://github.com/facebook/react-native/commit/5710b230a2a0f2b29553fbf94af5147a2e030f44

[2016-09-16 15:55] ericf commented on #620
@gitim Cool, thanks for letting us know! Closing this now…

[2016-09-16 15:55] #620 closed

[2016-09-16 20:19] ericf commented on #634
https://github.com/yahoo/react-intl/wiki/API#formatdate

[2016-09-16 20:19] #634 closed

[2016-09-19 12:31] esquevin commented on #335
Why are falsy values not displayed to begin with ? I keep forgetting to add `, number` especially in plural messages.

[2016-09-21 15:26] kellyrmilligan opened #659 "character entities in messages such as &#x00026;(ampersand) in messages break when building for production"
#623

I escaped it as recommended, but when I build for prod
<img width="245" alt="screen shot 2016-09-21 at 10 24 52 am" src="https://cloud.githubusercontent.com/assets/2642088/18717483/b0dbfe5e-7fe5-11e6-818a-7d6b80ded189.png">

it is not rendering correctly.

[code]

i'm building with webpack, and it's run through uglify js in the process.

any ideas?

[2016-09-21 18:16] ericf commented on #659
What's the message in `messages-en-US.json`? Does it look like this?
[code]

[2016-09-21 18:17] kellyrmilligan commented on #659
yes

[2016-09-23 06:29] sandyksit commented on #634
Thanks ericf :+1:
I created this function and its working fine:
_renderFormatDate(date) {
        let formateDate = Intl.DateTimeFormat({month:'long',  day:'numeric', year:'numeric'}).format(date)
        return formateDate
    }

[2016-09-23 16:18] mschipperheyn commented on #600
Any ETA on this one? Is it on the radar or one of those "maybe, if we find some spare time,  but probably not"

[2016-09-23 16:29] antoinerousseau commented on #600
You can already use it very easily in React Native, as explained in https://github.com/yahoo/react-intl/issues/119#issuecomment-216093163

[2016-09-23 16:32] ericf commented on #634
You don't have to use `Intl.DateTimeFormat` directly, and I also wouldn't recommend it.

[2016-09-23 16:34] ericf commented on #600
@mschipperheyn, @steida said he could do a PR for it but I'm not sure if he's still planning to. I'd be happy to review one.

[2016-09-23 16:36] steida commented on #600
@ericf No time for that, sorry :(

[2016-09-23 17:26] antoinerousseau commented on #600
I'll see what I can do based on @steida's proposal :)

[2016-09-23 19:03] adowsky opened #660 "Children don't update when context changes"
Hi,
I noticed that IntlProvider blocks update of its children when Provider's parent updates state with objects transferred to context.
It will be something like that:
Parent class:
[code]

MyDearChild's render:
``
render() {
	 return this.context.someContextObject; // object provided by parent
 }
``

After change someContextObject in parent class, ie.
` this.setState({someContextObject: myNewCont

[2016-09-23 19:24] ericf commented on #660
It's a known issue/current limitation in React. See https://github.com/yahoo/react-intl/issues/234#issuecomment-163417939 for a similar issue with Redux.

To test whether this is indeed the issue trying doing this right after you import `IntlProvider`:
[code]

If so, you're best solution for now will be to force `IntlProvider` into re-rendering.

[2016-09-23 19:32] ericf commented on #660
I could implement a `pure` or similar prop on `<IntlProvider>` which would effectively mean `shouldComponentUpdate()` will always return `true` when `pure={false}`. This is what Redux uses for `connect()` to get around the same issue: https://github.com/reactjs/react-redux/blob/93cdfaeaf9d3e5400ffc05fe9d177118286109ca/docs/troubleshooting.md#my-views-arent-updating-when-something-changes-outside-o

[2016-09-23 19:34] ericf commented on #660
But like the Redux doc say, this will make things less performant. If you passed the `context` and props directly to `<MyDearChild/>` the issue would be resolved, and `<MyDearChild/>` (assuming that's your `<App/>` can stick them on its `getChildContext()`.

[2016-09-23 21:55] adowsky commented on #660
That was just an example. I added property to IntlProvider which triggers update.
Problem appeared when I was writing tests, so the workaround is enough for my case.
Thanks for answer.

[2016-09-23 21:55] #660 closed

[2016-09-24 18:02] paulyoung commented on #549
I also would like to use `messageDescriptorPropTypes`.

[2016-09-26 16:23] coluccini opened #663 "Using a different message variables format?"
Hi,
Is there's a way to config react-intl to be able to use a different variable format inside messages?
Now they need to be {var}, but I'm sharing the translation files with another apps and they are using %var% and I would like to avoid to duplicate and modify the files every time they get updated

[2016-09-26 19:23] ericf commented on #663
There isn't currently a way.

[2016-09-27 09:44] oyvinmar commented on #609
I don't like the span wrapping which is needed when using the FormattedMessage component and found it a bit verbose to use injectIntl when 99% of my use cases only involve intl.formatMessage.

Ended up with creating my own HOC. It's included bellow for anyone interested.

HOC:
[code]

Usage:
[code]

[2016-09-28 17:55] vvohra opened #672 "Switching ICU Message Format for something else?"
Just wanted to say Format.js and related projects are really great and I'd like to integrate it into some projects.

The biggest issue right now is that my translation workflow is tied heavily to the current Translation Management Service (TMS) using gettext/po files. Unfortunately the current TMS doesn't have any real support for ICU Message Format in their tools (mostly verification while vendor

[2016-09-28 18:15] ericf commented on #672
What's the alternative format? And what features are different from ICU?

You can always use [`intl-messageformat-parser`](https://github.com/yahoo/intl-messageformat-parser) to parse the ICU messages then generate a new output format, but you'd also have to do the reverse parse/generation.

[2016-09-28 18:32] vvohra commented on #672
So in gettext/po files for english I would define: "{{count}} message"/"{{count}} messages" for the singular/plural forms. And the plural forms will be defined for the various locales. Feels like a very traditional gettext/po format.

I agree it isn't as capable as ICU Message Format with regards to gender and some other things.

Parsing the ICU to the output format is certainly possible, that's i

[2016-09-29 20:36] vvohra commented on #672
After thinking about it, I think I can actually accomplish the conversion in both ways if I only support a simpler version of the ICU. Thanks for the suggestion, I'll see if I can come up with something.

[2016-10-04 07:45] jbracoupeau opened #678 "FormattedDate always in English server side / Locale client side ?"
Hi all

[code]

I tried with locale='fr', locale={navigator.language}...

it always displays the date in english, then in French, with this nice markup warning :
 _(client) n data-reactid="40">lundi 10 octobre 201
 (server) n data-reactid="40">2016 M10 10, Mon</sp_

[2016-10-04 17:52] ericf commented on #678
See the links here about `Intl` in Node: https://github.com/yahoo/react-intl/wiki#i18n-in-javascript

[2016-10-04 17:52] #678 closed

[2016-10-06 07:30] zouxuoz opened #681 "Jest snapshot testing for application with React Intl (example + docs)"
Hi, I've created [example](https://github.com/zouxuoz/react-intl-jest-example) and want to write some docs about Jest snapshot testing with React Intl for your [wiki page](https://github.com/yahoo/react-intl/wiki/Testing-with-React-Intl#jest). How I can contribute this to your repository?

[2016-10-06 20:47] kamilio commented on #513
I needed some simple formatting in my messages so I just run it through markdown.

[code]

Works pretty well, highly recommended.

[2016-10-06 23:22] ericf commented on #681
@zouxuoz awesome! 🎉 Anyone can edit the Wiki, so feel free to do so. For the example app, we've started switching to use `create-react-app` for the apps in the `./examples/` dir. Since it supports Jest testing out of the box, it would be best to use it to create the Jest example app, which you can then sent a PR for.

* https://github.com/facebookincubator/create-react-app
* https://github.com/fac

[2016-10-10 11:00] craigcosmo commented on #461
@Ognian why you need reactIntlJson-loader ? The json-loader on npm won't do the job for you?

[2016-10-10 12:33] mbrevda opened #684 "rollup includes all locale-data"
Using rollup, all locale-data is included in the bundle. I would expect just the requested files to be included. Perhaps locale-data should be excluded by default from the es6 build?

Here is what I'm including:
[code]

and my rollup config:
<details>
[code]
</details>

[2016-10-10 17:48] AMongeEntytle commented on #243
I am currently working on a wrapper for IntlProvider that extracts the locale from the url path (/en/..., /es/..., etc) but I'm not able to make it work as they "locale" key is in this case a call to a function which extracts the current locale from the path. Any ideas how can I get it working? I tried the workarounds here but had no luck ...

[2016-10-10 21:53] ericf commented on #684
The [`package.json` file](https://github.com/yahoo/react-intl/blob/260313961c5baec189295ff9bf4f3cd7644af29d/package.json#L32-L38) is setup with metadata for excluding all locale data for `"browser"`, which it seems you have set in your `resolve()` options. So I'm not sure why it would be including it.

If you have a chance to dig deeper to find out what's going on, let me know what you find and wh

[2016-10-10 22:27] mbrevda commented on #684
Using the browser version would be unfortunate, as it isn't in es6 (no tree shaking, dead code elimination, etc). Is there a reason to preload all the data in the es version? Perhaps make that optional or add another version that doesn't include the locale-data?

[2016-10-10 23:53] ericf commented on #684
I meant that I setup the `"browser"` field in `package.json` (linked above) to explicitly ignore the file that includes locale data for all locales. The reason for this is so that bundlers like Browserify, Webpack, and Rollup don't include it in their bundle.

Maybe there's something wrong with the `resolve()` plugin. Have you looked through its issues relating to the `"browser"` field? https://gi

[2016-10-11 05:06] mbrevda commented on #684
Glancing at the code, the `browser` field should, indeed, be the file used. But if it **was** used then we would lose the rollup benefits (ts, dce, etc) as the `browser` build is not es 6.

Hence, we need an es6 file that doesn't include locale-data that can be included in rollup projects.

[2016-10-11 09:02] Ognian commented on #461
@craigcosmo translation tools, preserve the exact format.
So if the generated json file looks like:
[code]
and the translated json file looks like:
**file A**
[code]
then you need as an input to react inl  the translated file to look like:
**file B**
[code]
reactInl-loader converts on the fly ***file A*** to look like **file B**, so it is not only a loader but also a converter...
you can also take

[2016-10-11 11:08] craigcosmo commented on #461
understand. But I was under impression that you are using `react-intl-translation-manager`, which generate file __B__ for you exactly how you desire file __B__ to be.

Unless you are not using `react-intl-translation-manager` anymore.

[2016-10-11 12:01] Ognian commented on #461
@craigcosmo no I'm not using  react-intl-translation-manager. I'm using Ognian/react-intl-webpack-plugin to create the combined messages json file from all modules (in the above example the file before file A) and then some translation service (in my case memsource) to translate the file ...

[2016-10-11 14:09] raulra08 commented on #307
Wrapping my <div> in a <IntlProvider> did the job.

`
import "babel-polyfill";
import React from "react";
import {IntlProvider} from 'react-intl';

class App extends React.Component {
    render() {
        return (
            <IntlProvider locale="en">
                <div className="wrapper">
                    <Header />
                    <Sidebar />
                    <Content/>

[2016-10-11 18:46] #681 closed

[2016-10-11 19:06] ericf commented on #684
I don't understand the connection here. Where is the "browser" build defined? I think it's just that Rollup's resolve plugin might not be merging the `"browser"` and `"module"` fields?

[2016-10-11 23:36] andrewheppner opened #686 "Unit testing issues with formatNumber."
I am having the following issue when trying to test out a component that uses the formatNumber method.

`ERROR: '[React Intl] Error formatting number.
ReferenceError: No locale data has been provided for this object yet.'
ERROR: '[React Intl] Error formatting number.
ReferenceError: No locale data has been provided for this object yet.'`

Here is the unit test setup...

[code]

[code]

I am runnin

[2016-10-12 13:05] DWboutin commented on #243
You can check my repo https://github.com/DWboutin/react-webpack-startup maybe it can give you some ideas

[2016-10-13 07:39] esquevin commented on #609
First, thanks for addressing my biggest concerns with react-intl.
Now, where are we on this matter ?
https://github.com/yahoo/react-intl/pull/612 has been there for a couple of month and seems to greatly reduce the complexity of using react-intl. What is currently preventing it from being merged ? When could we expect to see it merge ?

TL DR: Should I fork or should I wait ?

[2016-10-13 12:36] mbrevda commented on #684
Rollup's resolve plugin is preferring `node_modules/react-intl/lib/index.es.js`. Is that what you expected?

[2016-10-13 17:17] ericf commented on #609
@esquevin I've been working on taking this even further to where I really want to end up with React Intl. It would be great to get your feedback on this: https://github.com/yahoo/react-intl/issues/513#issuecomment-252114827

I think it would be important to understand the overlap here, and continue to flesh out the proposal to handle rich-text messages to 1. determine if it's possible to do well,

[2016-10-14 05:27] mbrevda commented on #684
Due to the amount of time it was taking to get simple stuff working, I have given up on rollup for the time being. I still think there are ways to optimize the bundle, Ill open another ticket with a different angle.

[2016-10-14 05:30] ericf commented on #684
@mbrevda sorry, I just haven't had time to look into what's going in inside of Rollup's code. My expection would be that Rollup _does_ use `lib/index.es.js` _and also_ ignore `locale-data/index.js` as defined in the `"browser"` field in `package.json`.

[2016-10-14 05:32] mbrevda commented on #684
No worries, would rather put the resources somewhere I know will work across the board, atm while rollup has its uses (probably for lib/module authors) I dont find it to be the best choice as a browserify/webpack replacement for a typical package.

For the record, again, `locale-data/index.js` **was** included in the final bundle.

[2016-10-14 05:32] #684 closed

[2016-10-14 11:49] mbrevda opened #687 "Minimize bundled code size"
It seems that all modules are bundled into a single dist file, leading to ~31k of imports. This is true even if only some of the packages functionality is used. Other packages, such as [react-router](https://github.com/ReactTraining/react-router/blob/v4/website/examples/Basic.js#L2-L4) and [react-virtualized](https://github.com/bvaughn/react-virtualized/issues/427#issuecomment-252367465) have take

[2016-10-14 16:06] ericf commented on #687
Isn't this moot with Rollup and Webpack 2 once the issues is resolved in Rollup between `"module"` and `"browser"` in `package.json`?

[2016-10-15 16:26] mbrevda commented on #687
The utopia of perfect tree shaking seems to be far off even for those that **are** using rollup/webpack (and not everybody is...). [See here](https://github.com/ReactTraining/react-router/pull/3410) for more discussion. In the meantime, we have direct imports.

[2016-10-16 21:32] unirey opened #690 "injectIntl and other HOC"
I cannot find a way to use both `react-relay` and `injectIntl` with same component. I could just add a parent component to do these things in separate components and pass Relay.js data or localized data as `props `but Im still wondering if it's possible. Any ideas?

[code]

[2016-10-16 22:26] unirey commented on #690
Before asking I tried every possible combination except this one and it works. &ast;facepalm&ast;

[code]

[2016-10-16 22:26] #690 closed

[2016-10-17 21:32] vvohra opened #691 "When browser CLDR data is stale...?"
@ericf @caridy @jasonmit

I have a question that encompasses FormatJS/Intl.js Polyfill and I'm not sure the best place to ask, but I'll ask it here.

Using CLDR rules for formatting is great except when browsers are not using the latest CLDR releases. Either because the user isn't using the latest browser or the browser hasn't pulled in the latest CLDR release.

I'm not sure how often this happens

[2016-10-18 00:06] spiderworm opened #692 "Should allow specifying a pre-defined formattedMessage as a <FormattedMessage> prop"
It's ugly to have some message details defined in a defineMessages({ }) block, but other messages defined in <FormattedMessage> blocks in render().

It would be cleaner if we could, for instance, use a syntax something like the following:

(outside of render())
`const messages = defineMessages({
  key1: { ... },
  key2: { ... }
});`

(and inside render())
`<div>
  <FormattedMessage formattedMessag

[2016-10-18 00:26] vvohra commented on #672
For anyone who might look at this in the future.

What I'm doing is supporting a simplified ICU Message Format as our tooling gets better. For example:

`viewers_label: {numViewers, plural, one {1 viewer} other {{numViewers} viewers}}`

becomes:

[code]
for translation purposes.

Once the translation is done, I merge this back to the original format.

This means:
- Don't support complex ICU Messag

[2016-10-18 00:26] #672 closed

[2016-10-18 05:43] irot commented on #663
@coluccini I'm having the same issue.

While I'm hoping for a similar featured I doubt it's an easy fix to implement.

My solution for now is to parse the imported translations file and standardise the variable before passing into my `<IntlProvider />` component. In my case, `{.Var}` becomes `{var}` -- remove leading '.' character and lowercase everything.

[2016-10-18 08:38] evilnemesis opened #693 "today midnight - FormattedRelative - shows incorret relative day"
when I have today midnight in FormattedRelative it shows yesterday 0:00 except today 0:00
if date has one more second it shows correctly.
for example:
imagine that today is 2016-10-18 00:00:00 UTC
when a I put this date to FormattedRelative it shows yesterday 0:00, but it should show today 0:00
I and my colleagues think that it should show today 0:00.
Is someone capable to explain me if this is a

[2016-10-18 09:28] codepandy opened #694 "Whether can Internationalize array?"
Hi,

Now I need Internationalize a array,the below is my code:
var categories=['微软','谷歌','百度','阿里巴巴'];

[2016-10-18 13:15] coluccini commented on #663
hi @irot,
Yes, that's what I did too. I created a server endpoint that return (and cache) the translated messages standardised.
Thanks!

[2016-10-18 15:36] adjourn opened #695 "What actually happens if I change locale? Remount?"
I accidentally noticed something and it got me wondering..

I have a component that animates up and down if boolean `state` changes. This component is **always** rendered in my app. However, if it's in non-default `state` and I change locale, it doesn't animate to default `state` or remain to same `state`, it just goes &#42;poof&#42; to it's original position.

I concluded that it doesn't just get

[2016-10-18 18:26] jamiehill commented on #608
Ok, it is indeed do-able and I'm in the middle of putting together a demo repo atm.  Until that's ready, you basically just need to build all of your routes asynchronously.

Here's a snippet from my implementation:

[code]

without giving you all the code, the i18nPath helper is just translating the provided key, and the async helper loading the component asynchromously.  As long as child routes a

[2016-10-18 19:24] unirey commented on #695
I found issue #234 after few hours of browsing and it that seems to describe my issue: I had `key={locale}` on `<IntlProvider>` and it forces full teardown.

 facebook/react#2517 is still open and doesn't seems to be resolved. I take that `key={locale}` is still our only workaround. If I understand the issue correctly, only other solution would be to expose all components to `context` and use `sho

[2016-10-18 20:30] jamiehill commented on #608
Here you go, have managed to finish an [example for you](https://github.com/jamiehill/react-intl-router) - here's hoping it's still of some use to you, if not someone else.

Will add README etc, and further clean up the code over the next couple of days.

[2016-10-19 01:40] codepandy commented on #694
how to do it?

[2016-10-19 12:51] ptomasroos commented on #513
Thats pretty epic @ericf !

[2016-10-19 18:25] ericf commented on #691
@vvohra yes, it ends up being a moving target, but we're working to better standardize this in TC39. The first start is ECMAScript pinning to a particular version of Unicode. The two approaches you mentioned are what I see teams doing.

[2016-10-19 18:28] ericf commented on #692
This is possible today:
[code]

[2016-10-19 18:28] #692 closed

[2016-10-19 18:30] ericf commented on #693
I'm not sure I totally follow, so could you create a PR for a new test case that shows the issue? https://github.com/yahoo/react-intl/blob/master/test/unit/format.js#L325

[2016-10-19 18:31] ericf commented on #663
It could become easier to do this through this proposed abstraction: https://github.com/yahoo/react-intl/issues/513#issuecomment-252114827

[2016-10-19 18:48] evilnemesis commented on #693
Hi @ericf a very big sorry.
I have figured it out that I made a mistake.

[2016-10-19 18:48] #693 closed

[2016-10-19 18:48] caridy commented on #691
There is another effort that can help with this as well: https://github.com/andyearnshaw/Intl.js/issues/242. By breaking the Intl polyfill into small pieces, will help to patch only the offender instead of penalizing all Intl features.

[2016-10-19 18:57] ericf commented on #695
Redux has this same issue, but they are working on ways around not having to implement `shouldComponentUpdate` on their `<Provider>`. Ideally we'd be able to rebuild `<IntlProvider>` in a similar fashion so it can be performant without `shouldComponentUpdate()`.

I don't currently have the time to do this, but would be up for working with someone who does.

[2016-10-19 19:05] ericf commented on #694
We don't currently support list formatting. But it is a feature I'd like to see!

[2016-10-19 19:05] ericf commented on #694
Some work has started on `Intl.ListFormat`: https://github.com/zbraniecki/proposal-intl-list-format

[2016-10-19 19:19] ericf commented on #693
Okay, glad to hear you got it fixed!

[2016-10-20 10:18] jochienabuurs commented on #580
Even though i'm loading the polyfill, i still don't have the correct date format displayed. Using the following config:
`
<FormattedDate
  value={date}
  year='numeric'
  month='long'
  day='2-digit'
  weekday='long'
/>
`
i get the correct output in chrome, firefox and safari 10, but not in safari 9.
In safari 9 it still states "Vr 21 Okt. 2016" (no long names, but short).
This tells me that the I

[2016-10-20 13:38] pcompassion opened #697 "How do I import formatDate ?"
sorry if this is a dumb question, the doc clearly says there is a function but don't see how I can import it.

[2016-10-20 13:45] pcompassion commented on #697
found the doc... closing

[2016-10-20 13:45] #697 closed

[2016-10-20 16:05] ericf commented on #580
@jochienabuurs The Intl Polyfill only contains a subset of the total locale data, therefore some combinations aren't currently supported. There's some open issues on the Intl repo about this. It comes down to a balance between compatibility and file size.

[2016-10-21 01:05] kunnix commented on #71
Workaround to prevent webpack from pre-processing `node_modules/intl-*` js files with `source-map-loader`:

[code]

[2016-10-21 04:20] joetidee opened #698 "Where are messages defined?"
I am coming from another i18n package that used *.json files to store messages in a particular language, for example en-GB.i18n.json would look like:

[code]

My application is built using Meteor/React. From having read around it appears that the language files need to be compiled, but is there a way to simply defin the messages in json format within a file or database?

[2016-10-21 04:39] joetidee opened #699 "Not sure how to access the messages..."
Apologies for this, I'm sure I'm missing something obvious. I have the following code:

[code]

I am using a Meteor/React application. How do I access the message from within the `<Login />` component?

[2016-10-21 16:22] gamtiq opened #700 "Typo(s) in documentation"
There is the following typo in description of [&lt;FormattedPlural&gt;](https://github.com/yahoo/react-intl/wiki/Components#formattedplural):

Also it seems there is a typo in [Module Bundlers](https://github.com/yahoo/react-intl/wiki#module-bundlers) section:

[2016-10-21 20:15] gamtiq commented on #700
I have fixed typos.

[2016-10-21 20:15] #700 closed

[2016-10-23 10:59] brichardssa opened #702 "Ability to explicitly pass timeZone to IntlProvider"
I'd like to be able to set default formats for the entire application which are used by each of the different format functions. Currently, when passing defaultFormats to IntlProvider, these formats are only used by the formatMessage function.

For example, if I want all times displayed in a specific time zone (namely Africa/Johannesburg), it would be useful to pass the following to IntlProvider:

[2016-10-24 15:33] tswardenski opened #704 "FormattedMessage Component Doesn't Accept className"
I've noticed when using the `<FormattedMessage id="some.string.id" />` component, the output is something along the lines of:

[code]

I don't mind the `<span>` container or any other potential container that I can specify, however I am unable to add a `className` to the `<FormattedMessage />` component to add a class to the containing element.

This is a decently large inconvenience when trying t

[2016-10-24 15:37] dccourtney commented on #704
👍 to being able to pass className through

[2016-10-24 15:45] divyamistry commented on #704
Yes please! This would be useful. MUCH nicer than wrapping `<FormattedMessage />` into another `div` or `span` with some styling.

[2016-10-24 19:30] sf-adam-randall commented on #704
👍 yeah I would use this

[2016-10-24 23:15] ericf commented on #698
You can simply pass the parsed contents of that JSON file to `<IntlProvider>`'s `messages` prop.

See: https://github.com/yahoo/react-intl/wiki/Components#intl-provider-component

[2016-10-24 23:15] #698 closed

[2016-10-24 23:18] ericf commented on #699
By passing the correct `id` to `<FormattedMessage>`: https://github.com/yahoo/react-intl/wiki/Components#formattedmessage

Ideally you'd use `defineMessages` inside your `<Login>` component's file though to co-locate the messages with where they are used.

[2016-10-24 23:18] #699 closed

[2016-10-25 08:31] joetidee commented on #698
But in a Meteor application, I am not sure if the process creates the language file(s) from all the inline messages within the components, as intended. Is there a way to check?

[2016-10-25 17:08] ericf commented on #702
@brichardssa is `timeZone` the main use case you have for this? Because I've been thinking for awhile that we should expose `timeZone` as a top-level prop to `<IntlProvider>`, similar to `locale`.

[2016-10-25 17:12] ericf commented on #704
This has been brought up many times, and is not something I plan to support. You can always provide a function-as-child to customize the rendering.

In the future, React will likely be supporting components returning strings from `render()` with React Fiber, so then React Intl won't have have to wrap everything with `<span>`s.

Also, I'm thinking about this a the future direction for `<FormattedMe

[2016-10-25 17:12] #704 closed

[2016-10-25 17:12] ericf commented on #698
I don't know about how Meteor works to say.

[2016-10-25 18:10] brichardssa commented on #702
For our particular use case it is. I still think that the ability to provide defaultFormats for dates and numbers would make this a lot more user friendly

[2016-10-25 18:24] ericf commented on #702
@brichardssa I'd like to understand what those concrete uses cases would be that aren't handled by the named formats features and/or component reuse. Timezone is the main one that stands out to me that's in the same realm as `locale` that `<IntlProvider>` should provide and date/time formatting should use as the default.

I would rather accept a PR that just added support for `timeZone` propagatio

[2016-10-25 19:15] brichardssa commented on #702
I'll do that. I just think that giving people the ability to specify default formats in the form of the Intl documentation provides a more direct way for users to control the behaviour of react-intl

[2016-10-26 07:54] esquevin commented on #513
I'd love for react intl to support your syntax

[code]

Internally we have implemented something similar but a less advanced that already allows us to do:

[code]

It's a use case that should be natively handled by react intl and I can't wait for what you proposed to be released

[2016-10-26 09:46] lauterry opened #706 "intl.formatDate - month - 2-digits doesn't work on Chrome Window"
Hello

I'm trying to have a list of 2-digits month in a select component with the following code :

[code]

Here is what i got :

| month | month2Digits |               |
|-------|--------------|---------------|
| 1     | 01           |               |
| 2     | 02           |               |
| 3     | 03           |               |
| 4     | 03           | problem here  |
| 5     | 04           |

[2016-10-26 10:06] lauterry commented on #706
I have tried to put 2016 instead of 1970 and it works.

It seems to have a problem with 1970 on chrome window

[2016-10-26 17:09] ericf commented on #706
Can you open an issue on Chrome/V8's issue tracker?

[2016-10-26 17:09] #706 closed

[2016-10-26 17:42] Undeadlol1 opened #708 "How to add ukranian localeData?"
It's seems like currently there is no ua.js locale data available.
I don't seem to understand how can i make my own, to make a Pull Request.
Can you point me at the right direction? Is there any guides?

[2016-10-26 17:54] ericf commented on #702
The `formats` and `defaultFormats` (fallback) props on `<IntlProvider>` require a named format configuration, e.g.:

[code]

I see how your PR #707 supports `formateDate/Time()` and `<FormattedDate/Time>`, but it won't support `<FormattedMessage>` 😢. Is this what you were talking about with the consistency?

I think to make this work, we'd want to update the `intl-messageformat` package to support

[2016-10-26 18:01] ericf commented on #708
The data exist under `locale-data/uk`: https://unpkg.com/react-intl@2.1.5/locale-data/uk.js

[2016-10-26 18:01] #708 closed

[2016-10-26 18:04] Undeadlol1 commented on #708
Well, that's a little bit confusing since international code of Ukraine is 'ua'.
Thank you very much for the response.

[2016-10-26 18:14] ericf commented on #708
btw, all the locale data comes from CLDR: http://cldr.unicode.org

[2016-10-26 18:22] juandopazo commented on #702
I'm definitely ok with a `timeZone` top level attribute for `IntlProvider`. While the user _might_ change their time zone in our use cases, we always refresh the page for it. Not sure it's reasonable to keep the TZ in a store.

Defaults sound like they might come back to bite you. It's kind of like using context, but without seeing the context.

[2016-10-26 18:25] ericf commented on #702
@juandopazo the implementation detail we need to figure out is how to propagate the `timeZone` value passed to `IntlProvider` down to `Intl.DateTimeFormat` and `IntlMessageFormat`. For `IntlMessageFormat` it can't involve the actual message string being any different; e.g. `Today is {now, date}`, and not `Today is {now, date, userTZ}`. This is why I was talking about passing defaults to `IntlMessa

[2016-10-27 05:33] brichardssa commented on #702
Just updated the title of this issue to reflect what we are trying to achieve here. Will look into this as soon as I get some time

[2016-10-27 18:18] juandopazo commented on #702
So... FYI, most browsers have trouble with arbitrary timezones: http://kangax.github.io/compat-table/esintl/#test-DateTimeFormat_accepts_IANA_timezone_names

[2016-10-28 05:51] brichardssa commented on #702
That's true. V8 logs a pretty straight forward error message when an unrecognised timezone is passed to it. Node < 6 give me this: "RangeError: Unsupported time zone specified Pacific/Samoa"

It would be interesting to see what the other browsers do.

[2016-10-28 19:09] juandopazo commented on #702
And the biggest problem is the polyfill does not support them either.

[2016-10-30 15:22] efkan commented on #409
People who use `React-Intl` on `React-Native` might visit this issue for the same issue.

When `formatDate`, `formatNumber `etc. are being used, the same error could be thrown and format attempting would not be success. **Related lacale data must be imported** as directed by _Gerarddp_ .

For instance:
[code]

However, on the phone the error is not thrown and the app works properly. So importing n

[2016-10-31 02:08] mimecuvalo opened #711 "Zero values not rendering"
Related to underlying Intl-messageformat bug https://github.com/yahoo/intl-messageformat/issues/144
Problem being here:

[code]

[2016-10-31 19:36] ericf commented on #711
Closing since this is mentioned in another repo and has been discussed many times. Use `{foo, number}`

[2016-10-31 19:36] #711 closed

[2016-10-31 23:36] mimecuvalo commented on #711
Seeing that there's many dupes of this and it's for dev's to shoot themselves in the foot here: https://github.com/yahoo/intl-messageformat/issues/88

Would it make sense at least when using a `plural` rule that it's implicitly treated as a number?

[2016-11-01 16:14] ericf commented on #711
This feature already exists for plural rules using `#`. http://formatjs.io/guides/message-syntax/#plural-format

[2016-11-01 18:06] mimecuvalo commented on #711
Sure, I've seen that - but it's easy to forget that.  Is there any reason you wouldn't expect/want a variable that's being treated as a plural to be implicitly as a number?

[2016-11-01 20:19] LarsOL opened #714 "Date timezone parsing error?"
I encountered a small bug, when rendering`<FormattedDate value="2016-08" month="long"/>`
It displays the month before in negative timezones (e.i America)

The MDN documentation says: "the default is the runtime's default time zone."
and ISO 8601 states "If no UTC relation information is given with a time representation, the time is assumed to be in local time."
So I would expect no shift? Instead

[2016-11-01 20:36] LarsOL commented on #714
It seems that Javascript does not follow ISO 8601 fully

[MSDN](https://msdn.microsoft.com/en-us/library/ff743760(v=vs.94).aspx)

Even more confusing, the Intl.DateTimeFormat documentation for MSDN is the exact opposite of MDN

[MSDN](https://msdn.microsoft.com/en-us/library/dn342822(v=vs.94).aspx)

[2016-11-01 20:36] #714 closed

[2016-11-02 05:44] #691 closed

[2016-11-07 10:06] amangeot commented on #72
Hello, I am having an issue trying to pass styles to the wrapping span.

Let's say you have a form with an intl message such as "From {min} to {max}". Is it bad practice to use `FormattedMessage` to pass html `input`s as `min`, `max` ? The problem is aligning `input`s with the surrounding text. Passing some flex styles to the wrapper would do the job.

I thought there was some docs on how to style

[2016-11-07 18:19] EdgarOrtegaRamirez commented on #307
You can also wrap your Router from `react-router` with `<IntlProvider>`:

Using `react-intl@2.1.5`

[code]

[2016-11-07 18:33] piyaa opened #717 "Ability to define <IntlProvider> at the root component and then access it anywhere among its children."
Is there a way to define <IntlProvider></IntlProvider> at the root comp, somewhat like this:

render() {
  return (
    <IntlProvider locale="ja">
     <App>
         <Child></Child>
         <Child2></Child2>
         <Child3></Child3>
    </App>
    </IntlProvider>
  )
}

now if I try to use the "formatteddate" in <Child3> comp, it does not work as expected, but when I add the add the <IntlProvi

[2016-11-07 20:24] ericf commented on #717
What version of React are you using? This should work as expected, and as shown in all the `examples/` in this repo with React 14+

[2016-11-07 22:37] piyaa commented on #717
Im using React 15 and i tried this:

below os my root comp where i'd like to add the "IntlProvider".
export default class PortalModule {
  render() {
     return (
      <IntlProvider locale="ja">
       <App/>
     </IntlProvider>
    )
  }
}

export default class App extends React.Component {
  render() {
   <Child1>
   <div style= {paddingTop:"135px"}> {this.props.children}</div>
   <Child1/>

[2016-11-07 23:47] drenganathan opened #718 "luukhhbdgtjdrdf"

[2016-11-07 23:48] #718 closed

[2016-11-08 16:34] brentvatne commented on #600
@antoinerousseau - any update?

[2016-11-08 16:58] steida commented on #600
@brentvatne I just reimplemented common components in Este. Not ideal, but it works. https://github.com/este/este/blob/master/src/native/app/components/formatted.js

[2016-11-08 17:02] antoinerousseau commented on #600
didn't have the time to work on a PR, just made my own HoCs
see `Formatted*.js` files in https://github.com/antoinerousseau/tribeez/tree/master/src/mobile/components

[2016-11-08 18:53] brentvatne commented on #600
Long-term, this might be a solution: https://github.com/lelandrichardson/react-primitives

It aims to provide interop between common primitives, regardless of platform

[2016-11-08 18:56] #717 closed

[2016-11-08 19:25] piyaa opened #719 "FormattedDate method displays the date in local lang, but not date"
Basically I'm trying to render the date in the japanese local time, which is a day ahead of US time.but formatteddate just translates the date in jp, rather than display the actual jp local date. what im i missing?
[code]
How to display local date using FormattedDate method?

[2016-11-08 21:08] ericf commented on #719
You can set the `timeZone` prop to a IANA TimeZone string.

See: https://github.com/yahoo/react-intl/wiki/Components#date-formatting-components
See: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat

[2016-11-08 21:08] #719 closed

[2016-11-08 21:11] ericf commented on #600
@brentvatne React Fiber should allow a component's `render()` method to return a string, not sure how React Native will handle this, but it would be ideal for React Intl to use.

[2016-11-08 21:12] ericf commented on #72
@amangeot the escape hatch is to pass a function-as-child, then you get full control over rendering.

[2016-11-08 22:11] piyaa commented on #702
Has the timeZone prop been added to the . I pulled latest and didnt see the changes I see in the commit above?can we now add the prop to the IntlProvider directly?

[2016-11-09 05:49] brichardssa commented on #702
Unfortunately not yet. In order to achieve this, we need to request some changes in one of react-intl's dependencies.

[2016-11-09 08:41] amangeot commented on #72
Function-as-child, thank you!

In case someone lands here, from: https://github.com/yahoo/react-intl/issues/162
[code]

[2016-11-10 07:15] ImJoeHs opened #720 "Can locales files be splitting?"
Hello, i am adding react-intl to a big application , the translation file would be huge and also it is redundant to load this file at one time. So how can I do the code spliting with the locales files?

[2016-11-10 20:00] jmz7v opened #721 "Allow tagName to be null"
Hi,

I'm seeing from #130 and #131 that `FormattedMessage` allows you to change the tag of the element that will be returned, however, I'm trying to translate the placeholder of an input element, in this particular case the translation should be returned as pure text instead of `<tag>Translation</tag>`.

I tried to set my message like `<FormattedMessage id='translationid' tagName={null} />` but it

[2016-11-10 21:05] ericf commented on #721
You should use the API for this: https://github.com/yahoo/react-intl/wiki/API#injection-api

[2016-11-10 21:05] #721 closed

[2016-11-10 22:22] ericf commented on #720
Yes it's possible to do this. You'll end up with code having an implicit dependency on it's translated strings which you'll have to manage based on how your splitting the code.

I think the best way to handle this is using nested `<IntlProvider>` instances. Say you have an app using React Router and code split on routes. You can have a top-level `<IntlProvider>` with the app-shell string `messages

[2016-11-10 22:24] ericf commented on #72
@amangeot here's a more complete example that formats `<time>`'s `dateTime` attribute properly: https://github.com/yahoo/react-intl/wiki/Upgrade-Guide#update-to-injectintl

[2016-11-11 09:00] ImJoeHs commented on #720
Thanks a lot!

[2016-11-11 09:00] #720 closed

[2016-11-12 00:28] piyaa opened #723 "How to load the json files while accessing the FormattedMessage comp"
I currently have :
[code]

how do i load my json files containing the strings to load the string inside the 'id' field?

[2016-11-13 04:01] tswaters opened #724 "Can't build - Error transforming react-intl\src\index.js with 'babel' plugin: It looks like your Babel configuration specifies a module transformer. Please disable it."
I'm on Windows 10, unsure if this makes a difference.

[code]

I updated `./scripts/build-dist` and `./scripts/build-lib` with the following:

[code]

That seems to make it build, but I'm unsure if it is functioning properly.  Tests pass!

See also: https://github.com/rollup/babel-preset-es2015-rollup/issues/11

[2016-11-14 10:39] bojandragojevic commented on #616
I have same problem. Did you figure out why this is happening?

[2016-11-14 17:22] NickCain opened #725 "How does React-Intl handle 'Right to Left' Locales?"
I am working on an application that will need to support languages that read right to left.
What would be the best way to impliment this using `React-Intl`?

I have noticed that the localeData is there for these languages, e.g. Arabic, however it does not align the text to read Right to Left.

Is there a sensible solution for this? Has anyone come up with a solution for this before?

Thanks in adv

[2016-11-14 20:43] web2style opened #728 "FormattedMessage camelCase values property issue"
[code]
This piece of code won't work, as `react-intl` lowercases `{signIn}` (transforms to `{signin}`) so that it doesn't match `signIn` property in the specified values object.

This is pretty important as we can't use `sign-in` as object property and just `signin` is unreadable and is even highlighted by my IDE as a typo.

[2016-11-14 22:02] ericf commented on #723
Please see the docs on the wiki and the example apps in this repo.
https://github.com/yahoo/react-intl/wiki#creating-an-i18n-context

[2016-11-14 22:02] #723 closed

[2016-11-14 22:06] ericf commented on #724
Not sure why the build would run differently on unix/Mac than Windows. But feel free to create a PR for this change.

[2016-11-14 22:29] ericf commented on #725
Can you provide an example page with the issue?

You might need to setup the `dir="rtl"` on the body.

[2016-11-14 22:31] ericf commented on #728
This shouldn't be the case. There shouldn't be code that calls `toLowerCase()`. Can you create a simple reproducible example or failing test case?

[2016-11-15 01:02] PoojaSSW opened #731 "To optimize loading of locale data files so that these files can be bundles separately in chunks"
The approach defined in this lib for accessing the locale data forces all files in the locale-data directory to be bundled by Webpack.
[code]

I tired something like:
[code]

It works only for "en" and fails for the rest of languages.
Is there a better way of loading the localedata so that the files can be bundles separately in chunks and not one big bundled file. just feel cumbersome to manage.

[2016-11-15 01:36] ericf commented on #731
Try removing the `.default`

[2016-11-15 02:34] piyaa commented on #731
tried..no change..:(

[2016-11-15 07:05] web2style commented on #728
I don't claim there's `toLowerCase()`. But the code above throws the following error for me:
[code]
Note the lowercase `signin`.

When I change both to `signin` myself, it works as expected.

[2016-11-15 07:08] piyaa commented on #731
So here is a strange behavior i noticed. I constantly keep getting this error on executing the above func:
``[React Intl] Missing locale data for locale: "ja". Using default locale: "en" as fallback.`
and does not render the translated files. However , when I hard-code the locale, eg in the above case"ja":
[code]

it magically works, Im confused with this behavior. why should it fail on something

[2016-11-15 07:50] v29neil opened #732 "Library not behaving correctly when Array.prototype gets modified."
When some third party library modify the Array.prototype. Library throws error.
TypeError: Cannot read property '_mergeFormats' of null
![react-intl-error_1479196153135](https://cloud.githubusercontent.com/assets/6794259/20297378/41a044b0-ab36-11e6-8a96-f38969ac84fe.jpg)

To replicate this , Add this  library to page (http://app.hatchbuck.com/OnlineForm/js/cdn/jotform.js?ver=1.2.2)

[2016-11-15 10:46] mxmtsk opened #733 "FormattedRelative: "Invalid Date" on iOS"
Hey,
I'm using FormattedRelative to show a more human readable date and it works perfectly fine on desktop, but on iOS I'm getting Invalid Date with no console error/warning.

`<FormattedRelative value={post.publish_date} />`

The value is a datetime value from my database. How can I debug it or is this a known error?

[2016-11-15 12:17] joetidee opened #734 "How to specify a value within a value?"
I have the following sentence in my translation file:

`"mytext": "(this issue {spanOpen}will{spanClose} be solved)"`

and I have tried to format this using the following code:

[code]

but get the following error in the browser console:

[2016-11-15 12:51] NickCain commented on #725
An example snippet of code:

[code]

[2016-11-15 15:38] ericf commented on #725
Adding `direction` metadata to the ECMAScript Intl spec is something we've been working on. But your point is interesting because CLDR has metadata about a locale's direction and it could be used by `<IntlProvider>` to output a wrapping `<div>` with `direction` set.

[2016-11-15 15:41] ericf commented on #728
Could you create a simple example to show the issue? Maybe you could make tweaks to the https://github.com/yahoo/react-intl/tree/master/examples/hello-world example and show the problem?

[2016-11-15 15:44] ericf commented on #732
Does React generally work correctly when Prototype.js is on the page?

[2016-11-15 15:45] ericf commented on #733
It would be helpful to have more information about the browser version and the actual value of `post.publish_date` from your database.

[2016-11-15 15:57] mschipperheyn commented on #600
I wonder why we're veering of into conceptual idea territory when the initial post in this thread offers a perfect solution.

[2016-11-15 17:02] mxmtsk commented on #733
Hi @ericf! The value looks like this: "2016-11-04 13:49:58". The Browser is Safari on iOS 10.1 (14B67).

[2016-11-15 18:35] ericf commented on #733
@mxmtsk you need to make sure the value conforms to the date strings that can be processed by `Date.parse()`: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse

http://tools.ietf.org/html/rfc2822#page-14
http://www.ecma-international.org/ecma-262/5.1/#sec-15.9.1.15

[2016-11-15 18:39] piyaa commented on #731
So another question I have is how can I pass the object to the messages prop in the IntlProvider using the above approach i.e:
[code]

the index is a function, how can I make it return an object that I can pass into the messages prop to load the desired locale object for translations?

[2016-11-15 18:42] mxmtsk commented on #733
@ericf thank you very much, works now!

[2016-11-15 18:42] #733 closed

[2016-11-15 20:11] ericf commented on #734
This is a current limitation where there isn't a great/clean solution for. I wrote a proposal on how to address this here: https://github.com/yahoo/react-intl/issues/513#issuecomment-252114827

_Marking this as a dup of #513_

[2016-11-15 20:11] #734 closed

[2016-11-15 20:12] ericf commented on #600
@mschipperheyn if you're eager to get the short-term solution in, would you mind opening a PR for it?

[2016-11-15 20:14] ericf commented on #731
I'm not sure, I'm not an expert on this Webpack feature.

[2016-11-16 06:35] v29neil commented on #732
I first tried it with https://cdnjs.cloudflare.com/ajax/libs/prototype/1.7.3/prototype.min.js  . And It is working correctly with veresion 1.7.3 .
But when i try with version 1.7 which jot form is using, It is throwing same error.

[2016-11-16 10:01] TylorShin commented on #266
+1
need some advice :cry:

[2016-11-16 10:34] NickCain commented on #725
Awesome, glad to hear you are working on something as well, if you require any further input or anything let me know.

Also, thanks for getting back to me, React-Intl is an awesome library and I've used it in many applications now. Keep up the good work! 👍

[2016-11-16 16:57] ericf commented on #732
If you can provide details on whether or not React even works with Prototype.js and how React Intl can defend against Prototype.js, that would be helpful.

[2016-11-16 18:00] mschipperheyn commented on #600
Hi @ericf , I don't have a lot of time but I'll give it a go and see where I end up

[2016-11-16 19:47] mschipperheyn commented on #600
Ok, have a look and tell me what you think: https://github.com/mschipperheyn/react-intl

[2016-11-16 20:02] ericf commented on #600
@mschipperheyn can you open a PR, even if it's a WIP one?

[2016-11-16 20:04] mschipperheyn commented on #600
https://github.com/yahoo/react-intl/pull/738

[2016-11-18 07:08] olafahn opened #743 "Is it safe to pass ReactElement throw values prop?"
to use `<br />` in FormattedMessage,
i made something like below:

[code]

but is it good idea in terms of security?

[2016-11-18 07:11] olafahn commented on #743
i also pass FormattedNumber as well...

[2016-11-18 20:21] ericf commented on #743
Yes, this is supported.

[2016-11-19 06:51] olafahn commented on #743
thank you so much! @ericf

[2016-11-19 06:51] #743 closed

[2016-11-20 12:40] mschipperheyn commented on #600
Can someone help me test this? Should I deploy as tmp on npm to facilitate?

[2016-11-21 05:46] MilanRgm opened #745 "[Question] How to change the text when using with redux?"
I am developing an app which needs to be multi language site. I am using this library for translation. I am facing so much difficult to understand the package( as i am not native English speaker, hard to understand english to me). I want spanish to be the default locale and when user selects english(which is on the navbar as dropdown), all the strings should be translated to english.

Someone plea

[2016-11-21 19:39] PoojaSSW opened #746 "Unable to translate strings in the user desired language"
I'm unable to translate the file in the desired lang. In my root module:

[code]

in the App frame comp i have:
[code]
en.json:

`"test.id": "Hellow Worlds"`

ja.json:

`"test.id": "新しいダッシュボード"`

It constantly render the defaultMessage in this case. what im i missing?

[2016-11-21 21:06] ericf commented on #745
This lib doesn't do any localization/translation, its focus is on internationalization. You'll need to pass along the collection of translated `messages` to `<IntlProvider>` whenever the user changes their locale.

[2016-11-21 21:08] ericf commented on #746
I wouldn't be able to say without see the code and being able to run it. You might want to look at how the apps in the `examples/` folder work to help you when debugging.

[2016-11-21 21:48] piyaa commented on #746
hmm..i  did followed the exact way from the examples section, also went through other wiki pages, still dont know what im i missing!

[2016-11-21 22:02] MilanRgm commented on #745
so if i am using redux, i need to dispatch an action on which language user has selected and pass the translated messages(en.json, es.json) accordingly in messages props of <IntlProvider>?

[2016-11-21 22:03] MilanRgm commented on #745
Sorry i did not get any help on Stack overflow. Thus, i posted here. I have heard that, this community is too responsive and helpful.

[2016-11-22 02:32] MilanRgm commented on #745
@ericf Can you see my update question ? I have updated my reducer and <IntlProvider> gets both locale and message props. When user selects es from dropdown, <IntlProvider> gets locale as es and its message, if selects english then gets locale as en and its message. How can i now display the text accordingly in nav.js(inside <Link to={{ pathname: '/signup' }}>) ?

[2016-11-22 14:08] MilanRgm commented on #745
`{intl.formatMessage({ id: 'nav.registration.text'})}` worked for me.

[2016-11-22 14:09] MilanRgm commented on #745
If i need to put all the code as an example for others to help on translating languages dynamically, i am happy to do so.

[2016-11-22 15:04] ericf commented on #746
Did you make sure the value of `messages` is correct? I'm not sure what `require.context()` does.

[2016-11-22 15:07] ericf commented on #745
@MilanRgm yeah you can use `intl.formatMessage` when need a string value. But if you are trying to output the formatted message as a child of another React component, then you can use `<FormattedMessage>`.

That would be great! Some people have already transitioned some of the examples over to use `create-react-app` in the `examples/` dir. Look at those for a good place to start. This is a common

[2016-11-22 16:33] tswardenski opened #747 "[Question] How to check if translation string/id exists?"
I have a bit of an odd scenario where I'm displaying a list of mixed values; some system default string values that need to be translated, and some user defined strings that shouldn't be translated.

I've gone through the docs a handful of times to see if there's a "pretty" way to check if a translation string ID exists and I ended up just implementing:

[code]

I don't like this method as it ends

[2016-11-22 17:26] ericf commented on #747
@tswardenski yeah this has come up before. My recommendation is to create a component to handle this. I'm not sure on your exact API of how to you want to receive `value`, but here's a place to start: https://github.com/yahoo/react-intl/pull/488#issuecomment-224945705

[2016-11-22 18:06] tswardenski commented on #747
@ericf thanks for the reference. It looks like maybe I could get away with doing something like this?

[code]

Thoughts?

[2016-11-22 19:08] piyaa commented on #746
Sorry my bad, corrected code:

[code]

the object passed to messages looks fine correct?Also here is the way I'm adding the addLocaleData to get the translations. This is way for making sure the webpack renders the files in chunks rather one big bundled file:
[code]
locale in all above cases is set "ja" for now.

[2016-11-23 08:06] Tushant commented on #745
I have a basic running example of translating the language with redux. This is the first time i am trying to contribute . What should i do now?

Thanks

[2016-11-23 14:19] lauterry opened #748 "Extra spaces in FormattedDate break style in Edge browser"
Hi

The following code in Edge browser

[code]

generates

[code]

which, one escaped, gives

[code]

As you may see, there is extra ```&#x200e;``` surrounding the space between ```ven.``` and ```02``` which break style.

You can see what I mean by going [here](http://codepen.io/anon/pen/eBWKLz) with Edge

[2016-11-23 14:37] lauterry commented on #748
Seems to be related to https://github.com/Microsoft/ChakraCore/issues/1282

[2016-11-26 00:17] carlos-peru opened #749 "String without FormattedMessage"
I want to populate a placeholder in a form with a string based on the locale. How can I retrieve the string without using FormattedMessage?

[2016-11-28 10:13] keirk opened #750 "Add WithIntl HOC instead of using context"
How about adding a WithIntl HOC (much like the WithRouter HOC added to React Router) instead of having to include a context type directly?

[2016-11-28 10:19] keirk commented on #750
Ignore this - just noticed the injectIntl hoc (although with* seems to be becoming the convention).

[2016-11-28 10:19] #750 closed

[2016-11-28 14:52] amangeot commented on #585
Sorry, I missed your message. Setting `IntlProvider`'s `key` to `locale` is doing the job as I don't expect users to change their locale often. Thank you !

[2016-11-29 11:15] mschipperheyn opened #751 "Question: How can use formatMessage inside a redux action?"
I need to use translated messages in a redux action. How do I do that?

[2016-11-29 14:20] ermoca opened #752 "Is it possible to use the api with typescript ?"
I would like to use the formatMessage function of the react-intl API to insert a message as placeholder, but I can't figure out the right way to access this function.

Here is a simplified version of what I have :

    //index.tsx
    <IntlProvider locale={`fr-FR`} messages={messages_fr}>
        <NameForm/>
    </IntlProvider>,

    //nameForm.tsx
    interface NameFormProps {
       intl?: Injec

[2016-11-30 03:46] ole3021 opened #753 "Generate Messages with configuration files."
hi , i love the idea of react-intl, and we are currently use it in our project, but i have a problem, and looking for your help or suggestions of the best way to use react-intl with configurations files.

The case is i have define a bunch of items (like menus items) in a configuration file, like below

[code]

and i would love to use the configuration's `name` as `id` and `title` as `default messa

[2016-11-30 08:07] ermoca commented on #749
If I understand your question correctly, you can use the formatMessage function of the API : https://github.com/yahoo/react-intl/wiki/API#formatmessage

[2016-11-30 17:07] nwshane commented on #371
I spent a long time debugging this exact issue, and @djhi's solution saved me. Has this been added to the docs? If so, it's hard to find. (That or I'm just blind.)

[2016-12-01 19:21] lirsacc opened #754 "line break"

[2016-12-01 20:55] ericf commented on #747
Yeah, exactly!

[2016-12-01 20:55] #747 closed

[2016-12-02 11:14] andregoncalvesdev commented on #749
Just add:

[code]

Then you will have access to this.context.intl object on your component.

Then, simply use:
`<h1>{this.context.intl.formatMessage(messages.example)}`

[2016-12-02 11:38] andregoncalvesdev opened #755 "Browser Infinite Loading"
I already used this plugin and i had no problems. But now i´m using webpack dev server and it seems that everytime i use Formatted Message component or formatMessage function, the browser freezes and keeps on infinite loading.

My component:

[code]

Messages file:

[code]

Also the IntlProvider is set:
![screen shot 2016-12-02 at 11 34 51](https://cloud.githubusercontent.com/assets/9271177/208326

[2016-12-02 14:45] helgiborg opened #756 "Add method setAliasForDefaultMessage()"
This library is in many ways brilliant but a drawback imho is that the way to format messages is quite bloated. When you have a lot of short text in your React components, as is sometimes the case, the readability of the jsx part of the render() method will suffer because the texts "FormattedMessage" and "defaultMessage" are quite long.

How about to add a setAliasForDefaultMessage() method to the

[2016-12-02 17:22] steida commented on #620
Still broken in RN 0.39

[2016-12-02 19:53] ericf commented on #745
@Tushant you can send a Pull Request with your example app added to the `examples/` dir of this project's repository.

[2016-12-02 19:55] ericf commented on #748
Yeah, there isn't anything we can safely do to remove these control chars that works in all cases. The Chakra repo is the right place to follow-up on this issue.

[2016-12-02 19:55] #748 closed

[2016-12-02 19:58] ericf commented on #751
It would be helpful to know more about what you're trying to do.

[2016-12-02 21:51] bcage29 commented on #752
Add "@types/react-intl": "2.1.0", to your packages.json in devDependencies

[2016-12-03 05:59] TrejGun opened #758 "Why IntlProvider allows only one child?"
Sorry to ask, but i can't find a reason in code why IntlProvider allows only one child?

https://github.com/yahoo/react-intl/blob/master/test/unit/components/provider.js#L91

can this restriction be removed?

[2016-12-04 17:12] mschipperheyn commented on #751
Well, I have redux actions that can fail. If this happens I generate a failureStatus action that takes a message as an argument. That message needs to be i8n

[2016-12-04 17:23] mschipperheyn commented on #751
This seems like a solution: https://github.com/yahoo/react-intl/issues/416#issuecomment-223039994

[2016-12-05 16:14] #751 closed

[2016-12-06 01:44] Tushant commented on #745
@ericf send it. :)

[2016-12-07 19:59] ericf commented on #753
You could write a mapping function to do this simply and at runtime:
[code]

[2016-12-07 19:59] #753 closed

[2016-12-07 20:00] ericf commented on #371
@nwshane please add it to the docs, the Wiki can be updated by anyone.

[2016-12-07 22:55] #754 closed

[2016-12-07 22:57] ericf commented on #749
Using `context` directly works today, but not recommend because it could change in the future. The officially supported way is to wrap your component with the `injectIntl()` HoC: https://github.com/yahoo/react-intl/wiki/API#injection-api

[2016-12-07 22:57] #749 closed

[2016-12-07 22:59] ericf commented on #755
In order to help, I'd need to be able to run a simplified example app that shows the issue. If you wanted to create a very simple app that uses React Intl and webpack-dev-server in a repo that I can access let me know and I can try it.

[2016-12-07 23:01] ericf commented on #756
This is a dup of #609 + #612, but this is on hold for a more radical approach to solving the bloat problem described in: https://github.com/yahoo/react-intl/issues/513#issuecomment-252114827

[2016-12-07 23:01] #756 closed

[2016-12-07 23:04] ericf commented on #752
@bcage29 would you mind adding this to the docs on the wiki?

[2016-12-07 23:07] ericf commented on #758
It's common for it to be the top-level component of an app, and React requires that the top-level component must return a single child element from its render function.

[2016-12-07 23:07] #758 closed

[2016-12-07 23:19] ericf commented on #751
I also like passing React Elements through actions. It seems a little weird at first, but React Elements are descriptors of rich messages, and that's exactly what you're looking to pass through Redux with your action.

[2016-12-08 08:03] ermoca commented on #752
thank you @bcage29 ! I hadn't thought of that.

[2016-12-08 14:47] ermoca commented on #752
well, I just tried and it doesn't solve my problem
I already had "react-intl" : "*" in my packages.json listed in dependencies and using @types/react-intl instead didn't change the errors

[2016-12-08 15:11] bcage29 commented on #752
@ermoca did you do an npm install?

[2016-12-08 15:20] ermoca commented on #752
yes. I already use react-intl to create <FormattedMessage> elements and it works like a charm so I guess I have all the needed dependencies. It's just when trying to use the api to translate a placeholder attribute that I can't find the right way.

[2016-12-12 15:03] sharnik commented on #620
The fix in the react-native repo is tagged with v0.40.0-rc.3, so it didn't go in yet.

[2016-12-12 15:09] antoinerousseau commented on #620
it's first tagged `v0.35.0`... so yes it's live since that version

@steida try again with fresh node_modules maybe

[2016-12-12 17:03] steida commented on #620
Sure I trashed that dir

[2016-12-12 17:57] jgkim commented on #620
The fix cannot raise the error anymore, but it cannot actually fix the issue, since it makes the module imports an empty object instead of actual locale data. Thus, to use `react-intl` with `react-native`, we need to import each locale manually.

[2016-12-12 21:39] steven5210 opened #766 "Is it possible to add a <span> tag to style a part of the message?"
Is it possible to add a <span> tag to be apart of the message so that for example I can make a part of the message to be bold? I.E. "```blah blah is <span className="bold">7.99</span> blah```."  Right now I"m using formattedmessage to have it render the currency as USD. I tried doing it like this below but it throws an error that it's not a number and that's due to the <span> tags that's part of t

[2016-12-12 23:12] mschipperheyn commented on #600
I haven't had the time to test this in RN yet and write specific tests for it yet, (I prob will have time over the holidays) but since the changes make the react-intl more generically applicable (not depending on span), without requiring code changes, would it be better if I remove the React Native specific documentation updates, so it can be merged and as such can receive some testing in the wild

[2016-12-13 01:10] joetidee opened #767 "How to handle HTML?"
I have the following HTML in my language file:

`"blah" : "<p style={{paddingBottom:'10px'}}>This is some text with {numItems} in it. Here is a second variable called {anotherVar}.</p>"`

I am using this:

`<FormattedMessage id="blah" values={{ numItems: "some text", anotherVar: "foobar"}} />`

Looks like the process is escaping the HTML, so how do I have the text in the language file and pass the

[2016-12-13 11:00] yodaddyp commented on #767
[`<FormattedHTMLMessage />`?](https://github.com/yahoo/react-intl/blob/master/src/components/html-message.js)

[2016-12-13 14:13] joetidee commented on #767
The docs say that FormattedHTMLMessage should only be used for legacy code and to use FormattedMessage going forward.

[2016-12-13 15:51] kopax opened #768 "Is there a way to load i18n messages from server ?"
I am trying to figure out how to implement two things with the current internationalization

1. How to inject in production extra messages from server
1. How to store message in advance in order to read it from an id key returned by the server

I have an API endpoints with some messages that are not stored on the client with the following structures `[{ id: 'com.hello', defaultMessage: 'Hello' }]`

[2016-12-13 18:14] #766 closed

[2016-12-14 12:25] m1m6 commented on #768
I'm working on something like that, What i tried to do is -
 1- send a sync request to endpoint to get translations as JSON, then store the results in localStorage
2- When providing the messages to IntlProvided, I did the following` IntlProvider locale="en-US" messages={localStorage.getItem("TranslationLanguage")}`

[2016-12-14 13:01] DominicTobias opened #769 "Expose underlying component function (e.g. formatDate)"
Hi, I want to add some formatted dates to a select, my `Dropdown` component can take props like this:

[code]

So it take a string (I don't want something wrapped in an element), but it seems that although `formatDate` for instance is [documented](https://github.com/yahoo/react-intl/wiki/API#formatdate), it's not actually exposed.

Is there a way to do this with existing components? I know I can u

[2016-12-14 13:13] DominicTobias commented on #769
Nvm I found I can get these from the `intl` object

[2016-12-14 13:13] #769 closed

[2016-12-14 14:43] mschipperheyn commented on #600
Ok, so I removed the react-native references from the pull request. My hope is that this makes react-intl usable in React-Native without advertising as such and hopefully generate some useful input from testing in the wild. Also, I hope this will make this merge request acceptable to be applied now instead of later.

Basically, the pull request is now "just" a change that eliminates the dependency

[2016-12-14 15:27] maxdeviant commented on #767
This is how we have been doing it:

[code]

It seems that HTML within the `values` prop is not escaped.

[2016-12-14 15:32] Chatatata commented on #766
What kind of approach did you prefer to solve the issue?

[2016-12-14 17:01] joetidee commented on #767
Thank you very much.

[2016-12-14 17:01] #767 closed

[2016-12-14 17:34] randombumper commented on #461
Hi @Ognian, thanks for the plugins you wrote, they work great. This is a mite off-topic, but I didn't know where else to ask. I've been struggling to configure Memsource to parse the unified JSON file in a meaningful manner (importing only `defaultMessage`, with `description`as context). No matter what I put in the JSON config box, I get an empty list of strings to translate. Can you please help w

[2016-12-14 18:31] steven5210 commented on #766
Without using formattedHtmlMessage we went with the nested formattedMessage approach.

[code]
        <span className="product-list-shipping-total pull-right">
          <FormattedMessage
            id="cxo/cxo-items/active/list/totalShippingCost"
            description="totalShipCost"
            defaultMessage="Shipping cost is {shippingMessage}"
            values={{
              shippingMes

[2016-12-15 11:09] bensampaio opened #770 "How to generate multiple locale translation files and merge them"
I have found several discussions about this but none of them provide a concrete answer, so here I am :)

I recently started using react-intl in my project and I am quite happy with the way it works. My all app is working in English but the problem now is. How do I add translations for Dutch and Spanish, for example?

I am using [babel-plugin-react-intl](https://github.com/yahoo/babel-plugin-react-

[2016-12-15 15:50] Ognian commented on #461
take a look on page 14 of this pdf: http://www.ogi-it.com/presentation/react_i18n.pdf
Hope this helps...

[2016-12-16 11:05] rszczypka commented on #416
I have done it like that using Intl: https://www.npmjs.com/package/intl

[code]

[2016-12-16 14:51] mschipperheyn commented on #600
@ericf can you give me feedback, please? Would love to see this implemented

[2016-12-16 18:32] cusspvz opened #771 "ReferenceError: No locale data has been provided for this object yet."
Error:
[code]

I'm getting the error `ReferenceError: No locale data has been provided for this object yet.` while rendering a `FormattedRelative` component, but I think it shouldn't, here's why:

I'm using react-intl with redux, I load both locales on the server side and client side, both output the same error.

Here's my `provider.jsx`:
[code]

On redux state I'm loading current `locale` and res

[2016-12-16 18:39] cusspvz commented on #771
Fixed!

Spent an hour around this, but 5min after posting this, realized `react-intl/locale-data/...` doesn't bring up `intl/locale-data/...`.

For those who have the same issue, here is how I've fixed it:

[code]

[2016-12-16 18:40] #771 closed

[2016-12-16 20:05] souptown opened #772 "defaultFormats without "format" prop on every Formatted*?"
I'd like all <FormattedDate/> components in my app to use 2 digits months and days.

Is it possible to specify this using \<IntlProvider\> without adding a format="foo" prop to every \<FormattedDate\>?

This doesn't seem to do it:
[code]

[2016-12-18 23:03] manuelbieh opened #773 "Tried to contribute, failed miserably. Are there any setup instructions?"
Hi,

I cloned the repo and tried to run `npm install` which fails at the build step:

[code]

The "missing" packages (cldr-numbers-full, cldr-dates-full cldr-core, ...) are all in `node_modules/` and even after installing them explicitly the `npm run build:lib` task still failed. Tried it on Bash on Windows and Cygwin.

Do I need to install any packages globally before being able to build somethin

[2016-12-20 04:48] ericf commented on #773
Oh! It seems those packages were removed! I'll have to see what's going on and ping the Unicode folks.

[2016-12-20 06:09] #773 closed

[2016-12-20 06:10] ericf commented on #773
@manuelbieh this should be fixed now. Sorry about that!

[2016-12-20 06:27] ericf commented on #768
You can treat the translated messages as data, and fetch them from your endpoint like you mentioned. Simply pass the translated messages to `messages` and set the `locale` on your `<IntlProvider>` element.

[2016-12-20 06:28] ericf commented on #766
I'm working towards a better solution for rich text messages: https://github.com/yahoo/react-intl/issues/513#issuecomment-252114827

[2016-12-20 06:34] ericf commented on #770
The Babel plugin extracts the default (English in your case) messages from your source files into JSON data files. This allows you to co-locate your message definitions where the messages are actually used in your UI. Since Babel works on a per-file basis, the plugin ends up outputting a `.json` file for every `.js` file that has messages defined in it.

You can checkout the _Translations_ example

[2016-12-20 06:39] ericf commented on #772
There isn't a way to do this because the recommendation is to just use React and create a component which has your defaults pre-set.

[code]

[2016-12-20 06:39] #772 closed

[2016-12-20 12:13] JohnSmith0602 opened #776 "FormattedDate displays the wrong date in Japanese"
[code]

It's just a simple case, the output of it is like: September 01, 2016.
It seems like a default date in English rather than a date in Japanese.

I change the locale to zh-CN & fr-FR, it works as expected, like 2016年11月01日.

I have the latest version 2.1.5 of react-intl, wonders what I can do then. Many thanks!

[2016-12-20 14:15] #768 closed

[2016-12-20 14:19] souptown commented on #772
Thank you for the clarification.

[2016-12-20 21:54] steven5210 commented on #766
Thanks for the update! It looks good so far!

[2016-12-21 09:25] SanthoshHari912 opened #777 "Dynamically add imports react-intl/locale-data/<locale>"
Hello,
 Am using React-Intl for internationalisation in my React App. Here I have to support many locales which I don't know upfront. Am exposing a json folder where the user will add the locale specific json files.
For formatting numbers and data, am not sure how will I be able to import locales and add it to addLocaleData dynamically in React Class.

 I have to handle this in React Component Cla

[2016-12-21 16:33] ericf commented on #776
What browser and version is this in?

[2016-12-21 18:03] ericf commented on #777
Can you please explain this more? How would this function know where to load the locale data, and how would this work in the browser?

Is this a function that you could write that does what you need and calls `addLocaleData()`?

[2016-12-22 03:36] steida opened #779 "intlShape as flowtype"
With the advent of flowtype, intlShape should be exported as flow type.

[2016-12-22 05:49] JohnSmith0602 commented on #776
Chrome  55.0, Safari 10.0.1, Firefox 50.1.0, they all have this issue, seems independent of the browser.

[2016-12-22 06:35] ericf commented on #779
Sure. I'm not a Flow user so I'm not sure what that looks like.

[2016-12-22 08:03] JohnSmith0602 commented on #776
Sorry, I just made a stupid mistake of missing ja file when addLocaleData.

[2016-12-22 08:03] #776 closed

[2016-12-22 08:55] SanthoshHari912 commented on #777
Hi eric,

 Am creating a react based UI util library and for internationalization I use React-intl. I expose a folder say 'i18n' along with the distribution folder for my library. For the locales that need to be supported, I have placed a json file which has the translations as key/value pairs, inside this folder (for example to support french, I have i18n/fr.json)

No if the user who use this lib

[2016-12-22 12:55] joetidee opened #780 "Is it possible to lazy load language files into my app?"
As far as I understand it, react-intl will extract language message from code files and place them into seperate files to be bundled into the application. However, if the application switches language based on the end-user selecting which language they prefer, or by referncing the end-users language setting (in their Account, for example), is there a way to dynamically load in a language when need

[2016-12-22 14:59] m1m6 opened #781 "Is it possible to cal api methods without inject each component"
Hi , i'm wondering if there's any way to call API methods without inject each component ?

somthing like providing a function that will call intl.formatMessage for example

export function t(id,defaultmessage){
  console.log("Called ",id,defaultmessage);
  return intl.formatMessage(
    {
      id: id,
      defaultMessage: defaultmessage
    }
  )
  }

[2016-12-22 18:17] #119 closed

[2016-12-22 18:17] #600 closed

[2016-12-22 19:48] ericf commented on #777
By dynamic do you mean to allow locale-switching in the browser and that you want to fetch `react-intl/locale-data/de.js` over the network async?

I would recommend doing something similar to what React Intl does for loading locale data. It's not React Intl that actually needs the locale data, it's the underlying `intl-messageformat` and `intl-relativeformat` libs. `addLocaleData()`, simply calls

[2016-12-22 19:54] ericf commented on #780
Yes this is possible. The best way to think about the translated messages is thinking of them as data you'd get back from an API response. You'd just need to load the them async from the network, and re-render once they're loaded by updating `<IntlProvider>` with the new `locale` and `messages` values.

Many people have asked about this so there's other issues you can dig through to see different

[2016-12-22 19:54] #780 closed

[2016-12-22 19:57] ericf commented on #781
Possible, sure, you can create an instance of a component with `intl` injected and save a ref to its `this.props.intl.formatMessage` function in an outer scope. But I wouldn't recommend this. If you want to provide a function that builds on the injected `intl` context, then you might want to write an HOC that either replaces `injectIntl()` or wraps it and adds your function which delegates to `int

[2016-12-22 19:57] #781 closed

[2016-12-22 20:10] m1m6 commented on #781
Thanks exicf for your reply,
for the first point i'm not sure that i understand what you said exactly, but it seems like
creating a component and inject it with injectIntl, then use a VAR and set its value to be this.props.intl.formatMessage , then by exporting this var i can use it form outside?

for the second point,may i'll try it if the first doesn't seem to be good enough.

[2016-12-23 00:03] ericf commented on #362
I believe this was fixed by https://github.com/yahoo/react-intl/pull/597

[2016-12-23 00:03] #362 closed

[2016-12-23 00:08] ericf commented on #779
This is related to #549 too

[2016-12-23 00:12] ericf commented on #659
If this is still happening, can you reopen and provide a failing test case as a PR?

[2016-12-23 00:12] #659 closed

[2016-12-23 00:15] ericf commented on #686
In PhantomJS, you'd need to make sure the `Intl` APIs exist or are polyfilled, and that React Intl has its locale data loaded:

- https://github.com/yahoo/react-intl/wiki#i18n-in-javascript
- https://github.com/yahoo/react-intl/wiki#loading-locale-data

[2016-12-23 00:15] #686 closed

[2016-12-23 00:15] #687 closed

[2016-12-23 00:17] ericf commented on #724
I think this should be fixed now. There were changes in Rollup and its plugins that were breaking the build.

[2016-12-23 00:17] #724 closed

[2016-12-23 00:18] ericf commented on #728
Closing this, but please reopen if you have a running example that I can use to reproduce the issue.

[2016-12-23 00:18] #728 closed

[2016-12-23 00:19] ericf commented on #731
@piyaa did you end up figuring this out?

[2016-12-23 00:20] ericf commented on #745
https://github.com/yahoo/react-intl/pull/759

[2016-12-23 00:21] ericf commented on #746
@piyaa is this still an issue?

[2016-12-23 00:22] ericf commented on #752
Since the TypeScript bindings aren't officially supported (in that I don't work on them), I'm gonna close this out.

[2016-12-23 00:22] #752 closed

[2016-12-23 00:22] ericf commented on #755
Please feel free to reopen with a reproducing example where I can debug the problem if you're still experiencing it.

[2016-12-23 00:22] #755 closed

[2016-12-23 01:13] steida commented on #549
PropTyped are dead. Or at least, I don't need them.

[2016-12-23 01:13] #549 closed

[2016-12-23 01:39] ericf commented on #600
This is now in `react-intl@2.2.0` 🎉

[2016-12-23 01:53] ericf commented on #600
I added a note about `<IntlProvider textComponent>` on the Wiki:
https://github.com/yahoo/react-intl/wiki/Components#intlprovider

It would be great if someone wanted to add more comprehensive docs to the Wiki about using with React Native and even including an example app in the repo at `/examples` ❤️

[2016-12-23 06:56] mbrevda commented on #687
Is lib size not a priority for this project?

[2016-12-23 07:20] ericf commented on #687
This isn't actionable without a major version bump. I'd rather setup specific issues related to actions that can happen for the current major version. I have some ideas on how to do that.

[2016-12-23 07:31] mbrevda commented on #687
Great to hear, looking forward to seeing what you come up with!

On Fri, Dec 23, 2016, 9:20 AM Eric Ferraiuolo <notifications@github.com>
wrote:

[2016-12-23 09:34] brainlessdeveloper opened #785 "Style prop and linters"
Hello there and thanks for the wonderful library,

The `style` prop on `FormattedRelative`, `FormattedNumber` and `FormattedPlural` triggers errors/warnings on most widespread linter configurations, which expect its value to be an object for CSS-like styles.

I think these linter configurations have a point, and the `style` prop on these components should be named with a new name that's not reserv

[2016-12-23 14:19] mschipperheyn commented on #600
I already have this ready. I just removed it from the deploy to expedite its release. I will add some stuff

[2016-12-23 15:32] ericf commented on #785
This is a bug in the linter. `style` isn't a reserved, predefined prop in React. The linters should only be enforcing this on primitive elements (lowercase), `<span>`, etc.

`style` is part of the Intl API options which React Intl uses: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat

[2016-12-23 15:32] #785 closed

[2016-12-23 15:37] brainlessdeveloper commented on #785
Got it, you're totally right! Thanks, I'll look into fixing my linter configs.

[2016-12-26 15:05] ipanasenko opened #787 "Regression: missing "key" prop warning"
Hi, guys!

I've updated to 2.2.0 and noticed that when I provide a message as a value to another message, React started throwing warning regarding missing key prop.

Here are a couple of jsbins to show you what I mean, have a look in the console

2.1.5: http://jsbin.com/jumogusomo/2/edit?html,js,output
2.2.0: http://jsbin.com/jumogusomo/3/edit?html,js,output

Can you have a look, please?

[2016-12-26 18:38] apsavin opened #788 "Support for old browsers (Android 4.0)"
Hi, guys!
It seems that there is a bug in `react-intl`.

How to reproduce: Open a project with react-intl on Android 4.0

Current behaviour: Exceptions.

1. Syntax error
1. Cannot assign to read only property '__esModule' of Object

How to fix:

In `react-intl/lib/index.js`

1. replace `extends: _extends,` with `"extends": _extends,`
1. replace `Object.defineProperty(exports, '__esModule', { value

[2016-12-26 22:33] ipanasenko commented on #787
I think this is what causing it: https://github.com/yahoo/react-intl/commit/f211d024f8a97df2934dca77720eed06abf937c7#diff-b7d9ab5e91ff171c3c4dcfad50320401R132

[2016-12-27 11:33] oun commented on #600
Hi. I got warning "Failed prop type: invalid prop textComponent supplied to IntlProvider, expected a ReactNode"

[2016-12-27 16:57] mschipperheyn opened #789 "React Native: missing message key leads to red screen of death"
When a message is missing from the message store, it is reported through a console.error.
In React-Native, this leads to a red screen of death and basically blocks you until you add the key. This is extremely annoying and unproductive. Is it possible that a missing key is reported through a console warning instead of an error?

I personally don't consider a missing key is an error because they ten

[2016-12-28 00:31] oun opened #791 "React native warning failed prop type"
Hi, I use react-intl latest version with react native and got this warning.
"**Failed prop type: invalid prop textComponent supplied to IntlProvider, expected a ReactNode**".

Here is my code:

[code]

[2016-12-28 20:13] #791 closed

[2016-12-28 20:27] ericf commented on #788
I would like to support platforms that React supports. Does React support Android 4.0?

[2016-12-28 20:32] ericf commented on #789
If no message `id` is provided, it will cause an error to be thrown because there's nothing that can be rendered.

Can you be clearer as to what exactly you're talking about that's throwing the error? Can you provide an example?

[2016-12-28 20:40] ericf commented on #787
Thanks for reporting this. I see the error that you mentioned. I'll look at resolving it.

[2016-12-28 21:02] ericf commented on #787
@ipanasenko I verified that your hunch was right. I will work on reverting this change, and also adding a test for it.

[2016-12-29 01:01] steida commented on #600
As a creator of this issue, I changed my mind now. Now I think injectIntl should be used everywhere. It's nice with flowtype checking and auto-complete and definitely less verbose. <FormatWhatever seems to be the unnecessary abstraction for me. Feel free to correct me.

[2016-12-29 01:20] steida opened #793 "react-intl 3 should be completely flowtyped"
We need type checking and autocomplete.
We can leverage https://flowtype.org/docs/typeof.html
String keys suck. We should use https://flowtype.org/blog/2015/07/03/Disjoint-Unions.html for that.

Pattern like that https://github.com/este/este/blob/87a72259a6660ed3c9e58a64e7a98439b0741162/src/common/types.js#L99 but probably composed.

This is what we want. Typed and autocompleted intl.

[code]

[2016-12-29 01:21] steida commented on #793
Pattern like that https://github.com/este/este/blob/87a72259a6660ed3c9e58a64e7a98439b0741162/src/common/types.js#L99 but probably composed.

[2016-12-29 01:24] steida commented on #793
This is what we want. Typed and autocompleted.

`placeholder={intl.formatMessage(intl.messages.newTodoMessages.placeholder)}`

[2016-12-29 02:37] steida commented on #793
https://github.com/marudor/flowInterfaces/blob/master/packages/iflow-react-intl/index.js.flow

[2016-12-29 03:37] ericf commented on #793
Why would it have to be v3?

[2016-12-29 03:58] ericf commented on #600
@steida React Intl's components provide an optimization for re-renders, and a component like `<FormattedRelative>` does auto-ticking, and `<FormattedMessage>` supports rich-text formatting — and this feature is about to be dramatically improved: https://github.com/yahoo/react-intl/issues/513#issuecomment-252114827

[2016-12-29 03:59] #787 closed

[2016-12-29 04:27] steida commented on #793
Good question. Maybe I am wrong, but I suppose it would have the impact to API. Not sure yet.

[2016-12-29 15:57] mschipperheyn commented on #789
<img width="375" alt="screen shot 2016-12-29 at 13 54 59" src="https://cloud.githubusercontent.com/assets/384959/21547623/6fcf01c2-cdce-11e6-9494-6b6493001d4f.png">
Sure, so, in this example I'm trying to render a not yet existing message id. The behaviour I would like is for it to just render the id "ui.liked", perhaps give a console.warning. The behaviour I'm getting is a console error. In React

[2016-12-29 18:11] apsavin commented on #788
Well, our React 15 app works well. With monkey--patched react-intl though)
I'd like to remove the patch and to fix it on the react-intl side. It seems
that we'll not  need to change the code - we'll need only to fix the
transpilation.

[2016-12-29 19:27] ericf commented on #789
The pattern of using `console.error` is to provide a stack trace. This is the same thing that React does with its warnings — all warning level items still use `console.error`:

https://github.com/facebook/react/blob/d77c42a26d000c4b8c89daa1505060b894b11078/CHANGELOG.md#notable-enhancements

If you're testing a different locale, like `pt`, just make sure to set both `locale` and `defaultLocale` to

[2016-12-29 19:27] #789 closed

[2016-12-29 19:34] ericf commented on #788
For the Syntax Error, I can look into why `extends` isn't being considered a reserved word that needs quoting. I'm already adding the Babel ES3 transforms. It appears its an issue with how Rollup is pulling in the Babel helpers which is leaving the `extends` unquoted.

As for the O.dP, the expectation is that the runtime is ES5, so you'll likely need to add an ES5 shim to make sure APIs like O.dP

[2016-12-30 01:41] jacobgreen25 commented on #687
Would greatly appreciate this @ericf. Thanks @mbrevda for bringing this up.

[2016-12-30 14:56] tomasfrancisco commented on #416
Another use case using [react-redux-toastr](https://github.com/diegoddox/react-redux-toastr):

I want to be able to call a state change outside of a component, using i18n, for example, within a saga or action:

`toastr.error(formatMessage(messages.userNotFoundErrorLabel));`

[2016-12-30 23:07] p10ns11y opened #800 "Atom snippets"
Is it ideal to include snippet packages in wiki?

I have made snippets for atom
https://atom.io/packages/atom-react-intl-snippets

[2016-12-31 04:15] ericf commented on #800
Yeah sure, feel free to add it to the wiki!

[2016-12-31 13:49] p10ns11y commented on #800
Thanks @ericf  I will do it :)

[2016-12-31 14:02] p10ns11y commented on #800
Done !

[2016-12-31 14:02] #800 closed

[2017-01-02 09:22] bensampaio commented on #770
Hi @ericf,

Thank you for the detailed answer. I get it now. In the meantime, I also tried `react-intl-translations-manager` and it seems to do exactly what I wanted (only not in the way I expected).

Just to make sure I understood: when you say that Babel works on a per-file basis, you mean that it cannot generate more then one `.json` file per `.js` file? If that's the case, is there no way to k

[2017-01-02 09:27] Selsynn opened #801 "Code with ES5 -> Can I use React-intl to manage translation ? If yes how ?"
Hello, I'm currently developping with Laravel 5 (framework PHP) and ES5 (because i can't have more recent like ES6)
The babel-plugin-react-intl is available only with ES6. And I don't have webpack on the project (I have Elixir/gulp)

I struggle for achaiving the traduction.
Is it possible without having ES6 ?
how to do it ?

(sorry for bad english, it's not my maternal language)

[2017-01-02 17:22] ericf commented on #770
The role of the Babel plugin is still internationalization, not localization. Co-locating your default strings with your source code is a better developer experience, and doing that pushes move the i18n problem to the compiler where the Babel plugin can extract the strings programmatically. The strings the Babel plugin extracts are still the default English strings, but it's provides them in a JSO

[2017-01-03 05:03] ericf commented on #801
`babel-plugin-react-intl` on npm is compiled to ES5.

[2017-01-03 05:03] #801 closed

[2017-01-03 08:38] bensampaio commented on #770
Ok, I think that's clear enough. Thank you a lot for the detailed answers. I think this should be a bit more clear in the documentation, though.

[2017-01-03 13:57] SanthoshHari912 commented on #777
Thanks for the suggestions. I followed as mentioned in locale-data-registry.js.
So say if my locale is 'de', I did the following

			let localeData = {
				locale: navigator.language;
			};
			IntlMessageFormat.__addLocaleData(localeData);
			IntlRelativeFormat.__addLocaleData(localeData);
but I get the below error,
Error: Locale data added to IntlMessageFormat is missing a `pluralRuleFunction` fo

[2017-01-03 15:05] peramsathyam commented on #777
@SanthoshHari912 : if you are not using `browserify` for your building and using `webpack`

you can do :
[code]

You can also try dynamic loading with `System.import` promise similar to `require.ensure`

[code]

[2017-01-03 17:10] ericf commented on #770
Yeah I agree, sorry.

[2017-01-03 17:10] #770 closed

[2017-01-04 05:53] SanthoshHari912 commented on #777
@peramsathyam Thank you .This is exactly what I was trying to achieve. It worked like charm. Just a small change I have to do the code above.

    import { addLocaleData } from 'react-intl';
    const possibleLocale = navigator.language.split('-')[0] || 'en';
    addLocaleData(require(`react-intl/locale-data/${possibleLocale}`));

[2017-01-04 05:54] #777 closed

[2017-01-04 13:18] SanthoshHari912 opened #804 "Calling addLocaleData() inside methods in ES6 React Component Class doesn't work"
Hi @ericf @peramsathyam,
  This is in continuation with issue no #777 . Am able to dynamically load locale data outside the ES6 class definition when it is given along with import statements. But when I try to do the same, in the methods inside class definition, its not working. I get the following error

**React Intl] Missing locale data for locale: "{locale}". Using default locale: "en" as fallb

[2017-01-04 13:45] SanthoshHari912 commented on #804
This seems to be a issue at my environment.Sorry for spamming . This usecase works !! Thanks again and closing this issue as it is no more valid

[2017-01-04 13:45] #804 closed

[2017-01-05 18:39] saidmoya12 commented on #244
@ericf then why still this issue?

I have same issue and all my packages are up to date

Is necesary use some plugint on babel?

Thanks