[2020-03-13 21:25] fsmaia commented on #529
I solved a part of the problem, by detecting `const { intl: { formatMessage } } = this.props`, with the following excerpt:
[code]

Now I'm missing `const { props: { intl: { formatMessage } } } = this` pattern, and also stateless components, in which the parameter isn't a binding.

[2020-03-14 00:39] longlho commented on #529
you prob will have to handle aliasing as well, e.g `{formatMesage: _} = intl` or something like that

[2020-03-16 20:40] HitkoDev commented on #558
If that's the case, why even mention polyfills for date & numbers anywhere, and why not turn caching into a simple bool flag instead of making a full interface that allows overrides?

[2020-03-17 19:42] donovanhiland opened #562 "Pass files to ignore to formatjs/cli"
**Which package?**
@formatjs/cli & babel-plugin-react-intl

**Is your feature request related to a problem? Please describe.**
I would like to 1. ignore test files and 2. auto generate ids if they're not provided. Currently I can't figure out how to extract translations from all `ts` and `tsx` files in a directory minus `__tests__` and `*.test.*`. No amount of file glob variations have worked for

[2020-03-17 19:44] longlho commented on #562
`--id-interpolation-pattern` should allow you to specify the ID if they're not there.

We'll add support for `ignore` soon :)

[2020-03-17 19:50] donovanhiland commented on #562
Great thanks for the reply! The ID interpolation is working great using `@formatjs/cli`. I need the ignore functionality so I went with the babel plugin directly which looks like this to mimic the cli's functionality:

[code]

Looking forward to `ignore` support 👍

[2020-03-17 19:52] donovanhiland commented on #562
I would be happy to make a contribution and work on this if it would help

[2020-03-17 19:53] longlho commented on #562
yeah it should be pretty simple, we can expose `ignore` in the CLI and pass it into [here](https://github.com/formatjs/formatjs/blob/master/packages/cli/src/cli.ts#L105). PR's always welcome 😄

[2020-03-18 03:42] #495 closed

[2020-03-18 04:01] #553 closed

[2020-03-18 04:02] #562 closed

[2020-03-18 20:24] paulincai commented on #553
Ok, @longlho after updating to 6.1.0 I ended up with 408 extra files which I don't need. What I did was to update the library and start my project in development.

I don't this this was the intended behavior. There are files created for each and every js file I have in my entire project structure, even for files that are just libraries, utilities etc...

![Screen Shot 2020-03-19 at 00 21 45](https

[2020-03-18 20:53] longlho commented on #553
@paulincai should be fixed in latest version

[2020-03-18 22:19] ervasive commented on #553
I've updated the dependency in the codesandbox example to the latest version and unfortunately, it still keeps non-existent (stale) "descriptors" for me in the messages file with v6.2.0 🤷

[2020-03-19 19:54] ervasive commented on #553
NVM, just noticed the new option
Thank you for fixing the issue

[2020-03-23 00:18] pyrocat101 commented on #543
@jeffal can you deploy your repro (with unminified version of dist) to a static website hosting service? For example, now.sh, surge,sh, or even GitHub pages?

@longlho Happy to take this one since I have access to BrowserStack.

[2020-03-23 00:21] longlho commented on #543
thanks @pyrocat101 all urs!

[2020-03-24 17:13] Alino opened #583 "parser option to print ICU with spaces"
Can we add an option to print the ICU message with 1 space?

for example I have this message
[code]

I convert it to AST, and then I parse it, it will become

[code]

I would like to keep the 1 space delimeter, any suggestion?

[2020-03-24 17:24] longlho commented on #583
What’s your use case?

On Tue, Mar 24, 2020 at 1:13 PM Alexander Sadovsky <notifications@github.com>
wrote:

[2020-03-24 17:27] Alino commented on #583
I am converting an ICU message to AST to modify it (to add plural options for different target language) and then I have to convert it back to ICU. But I need to keep the format (spacings) to not to confuse users and keep consistency.

[2020-03-24 21:30] longlho commented on #583
Spaces are not represented in AST right now since it's space-agnostic (by space I mean spaces, newlines, tabs...). I don't plan to change this behavior anytime soon. Emitting out `space` is the job of the emitter, not necessarily the parser.

[2020-03-24 22:01] Alino commented on #583
thanks for response, can anything be done about the printer? to print the ICU with the spaces?

[2020-03-24 22:03] longlho commented on #583
As I mentioned right now I don't capture any type of spaces, so injecting 1 space would be arbitrary and doesn't achieve your use case anyway because of things like
[code]

[2020-03-24 22:11] Alino commented on #583
I understand. I think it would be nice to have an option for the printer to "pretty print" with some rules. To use space after comma inside curly brackets and after plural type. To make it look like the example message I showed.

[2020-03-25 00:31] jasonmit opened #584 "formatjs-extract-cldr-data documentation doesn't reflect API"
**Which package?**
formatjs-extract-cldr-data

**Describe the bug**
I'm planning to migrate ember-intl to the latest formatjs libs but currently blocked on the data extraction part since the APIs I realized on changed quite a bit.

The `formatjs-extract-cldr-data` [README](https://github.com/formatjs/formatjs/blob/master/packages/formatjs-extract-cldr-data/README.md) appears to be out of date and

[2020-03-26 14:30] bertho-zero opened #586 "Missing @babel/types dependency"
[code]

with Yarn 2

[2020-03-27 11:37] mortargrind opened #587 "IntlMessageFormat class breaks the conditional polyfilling"
**Which package?**
`intl-messageformat`

**Describe the bug**
`IntlMessageFormat.defaultLocale` is being calculated when the library first loaded. In the application code, I first do my custom polyfill check, load necessary `Intl` polyfills and then we initiate the app itself. Since `static IntlMessageFormat.defaultLocale` property initialization happens immediately during class declaration it wil

[2020-03-27 14:40] murar8 opened #588 "[@formatjs/cli] Provide translation management functionality"
**Is your feature request related to a problem? Please describe.**
Currently the cli only provides support for message extraction but it would be nice to have the option to do translation management using an official package.
The functionality I'm looking for would be similar to what [extract-react-intl-messages](https://github.com/akameco/extract-react-intl-messages) offers.

**Describe the solut

[2020-03-28 19:27] longlho commented on #588
Yeah this is definitely something we're interested in but have not had the bandwidth to work on so PR's always welcome :)

[2020-03-28 19:36] longlho commented on #587
I think I'm confused, if u're loading the necessary Intl polyfills before initiating the app, shouldn't it work. `IntlMessageFormat` should be part of the app chunk bc it's not in the spec (so technically not a polyfill)

[2020-03-29 03:44] #529 closed

[2020-03-29 03:47] longlho commented on #584
Hi there, sorry we didn't know you were using `formatjs-extract-cldr-data` by itself. Its usage is quite private to our monorepo only, which also means it's not really following semver and we can break things easily there whenever we change the way we massage CLDR data. We highly recommend you using our higher-level packages/API instead.

What's your use case actually?

[2020-03-29 03:50] longlho commented on #586
do you have a repro link (codesandbox/repo)?

[2020-03-29 03:52] longlho commented on #543
@jeffal what do you use to polyfill `Intl.PluralRules`?

[2020-03-29 04:09] jasonmit commented on #584
Prior was using it to extract plurals and relativetime data for the Ember formatjs integration.  I spent the week migrating ember-intl off those older libs and on to the new stuff.

I'll close this since not needed anymore.

[2020-03-29 04:09] #584 closed

[2020-03-29 04:13] jeffal commented on #543
@longlho [`@formatjs/intl-pluralrules`](https://www.npmjs.com/package/@formatjs/intl-pluralrules) v1.5.2
[code]

@pyrocat101 I'll work on deploying to a static website. Hopefully, can have something ready in the next few days.

[2020-03-29 05:16] jeffal commented on #543
@pyrocat101 Updated my previous comment with requested links. Thank you!

[2020-03-29 11:14] murar8 commented on #588
Ok so i worked through the code and started implementing the command and this is roughly what i'm going for:

[code]
[code]
Now there are a couple of details I would like to discuss before going forward with the implementation:

1. It is not clear to me as to what the --remove-default-message option actually does since we are using babel just for extraction?

2. It does not look like it is possibl

[2020-03-29 20:34] longlho commented on #588
hmm I'm not sure about the `key-value` format because that doesn't capture description which is very important for translators.

`--remove-default-message` isn't necessary as you mentioned. `--ignore` rn just proxy straight to `glob` so I don't think multiple patterns are supported.

[2020-03-29 20:41] longlho commented on #557
We don't set the necessary meta fields in `package.json` for Node to recognize it as ESM because that confuses the other bundlers, which is prob why you need to import from a specific path. Just a guess...

[2020-03-29 20:41] #557 closed

[2020-03-29 20:44] longlho commented on #558
We don't dictate caching strategy per formatters since they have different implications in browser vs SSR. Doing that via a boolean also means exposing cache itself to flush/purge/add on demand for finer grain control which is even worse.

[2020-03-29 20:44] #558 closed

[2020-03-29 20:49] longlho commented on #522
hmm I don't see anything wrong w/ building or serving from the repo.

[2020-03-29 20:49] #533 closed

[2020-03-29 22:40] murar8 commented on #588
I understand but the main use case i envisioned for the tool would be to just extract the messages in a format where translations can be filled in and directly imported in code, and keeping metadata inside each translation file would complicate the workflow in my opinion. Since I noticed this is a common use case for smaller projects I thought it would be nice to have that feature integrated in th

[2020-03-30 07:16] bertho-zero commented on #586
The require is visible in the first lines of
https://unpkg.com/babel-plugin-react-intl@7.1.0/dist/index.js but not in https://unpkg.com/babel-plugin-react-intl@7.1.0/package. json.

[2020-03-30 08:30] googol opened #590 "Website has bad links to the core libraries on the Github page"
**Which package?**
The formatjs.io website

**Describe the bug**
The core library links on the webpage point to the old archived repositories

**To Reproduce**

1. Navigate to https://formatjs.io/github/
2.  click on one of the core library links
3. You'll end up in one of the archived pre-monorepo repositories.

**Expected behavior**
I'd expect to end up in the correct directory of this repositor

[2020-03-30 09:31] pyrocat101 commented on #590
cc @redonkulus

[2020-03-30 10:53] raulfdm commented on #285
with latest version (4.3^), no need to add `jsdom` or `xmldom`

[2020-03-30 20:28] #543 closed

[2020-03-30 21:35] dependabot-preview[bot] opened #593 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/27998820).

[2020-03-30 21:35] dependabot-preview[bot] opened #594 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/27998825).

[2020-03-30 21:35] dependabot-preview[bot] opened #595 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/27998824).

[2020-03-30 21:35] #593 closed

[2020-03-30 21:35] #594 closed

[2020-03-30 22:03] #595 closed

[2020-03-30 22:03] dependabot-preview[bot] opened #596 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/27999644).

[2020-03-30 22:03] dependabot-preview[bot] opened #597 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/27999648).

[2020-03-30 22:03] #596 closed

[2020-03-31 11:32] atomcorp opened #598 "[@formatjs/cli] Clearer error message when no files found"
**Which package?**
@formatjs/cli

**Is your feature request related to a problem? Please describe.**
Currently if you use an invalid glob (great that you added those btw!) or the cli can't find any files for whatever reason you get a strange warning: `warning Reading source file from TTY.` and the process hangs, indefinitely.

**Describe the solution you'd like**
The check happens in `extract.ts`,

[2020-03-31 15:18] dependabot-preview[bot] opened #599 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/28110984).

[2020-03-31 15:18] #597 closed

[2020-03-31 15:52] mortargrind commented on #587
I am loading the pollyfills before initializing the app as you can see the in the example repo (See: https://github.com/mortargrind/intl-formatmessage-polyfilling/blob/6849cbd6cce43e4f3b51409a82e4bf2a2adbf098/src/index.js#L20).

But the `intl-messageformat` lib is referencing the Intl API during initial load, not when the `IntlMessageFormat` class is actually being called. So before me deciding wh

[2020-03-31 19:29] longlho commented on #587
Polyfilling before importing application-related code is the correct solution here which means moving all your app imports to be after polyfills. There are services like polyfill.io which are exactly for this purpose.

Polyfills are meant to be in the boostrap phase of your app because they affect the global environment (by modifying `window` or `document` or such) so having a stable runtime shoul

[2020-03-31 20:21] Cuantico commented on #522
everything seems back to normal in the version   "@formatjs/intl-relativetimeformat": "^4.5.11",

[2020-03-31 20:21] #522 closed

[2020-04-01 05:33] longlho commented on #588
hmm if u're publishing it as a separate package wouldn't https://github.com/akameco/extract-react-intl-messages be sufficient? I think the aspect of managing multiple locales might be valuable but not the output schema.

[2020-04-01 08:21] BramDecuypere opened #602 "Translations not found when extracting Formatted Messages - use case Next.js with dynamic paths"
**Which package?**
Since this is a monorepo. Please specify which package this bug report is for.
`@formatjs/cli`

**Describe the bug**
A clear and concise description of what the bug is.

Unable to extract component that are under a path with `[square brackets]` inside of it.
This has been used by next.js as a pattern for dynamic routing. Although not perfect, it seems as though the cli is unable

[2020-04-01 19:20] mortargrind commented on #587
I agree what you are saying in general but hear me out:

Right now this library is executing some Intl related code even before calling anything from it. And it's doing this not because it has to have some sort of side effect on load time: It just happens because of having a static member.

In my opinion, loading the polyfills before your application _runs_ should be enough if there's no physical

[2020-04-01 19:28] longlho commented on #587
I'm open to a PR to turn that into a memoized fn call.

[2020-04-02 02:58] ramsy-leftclick opened #605 "Messages not being extracted when using React hook only"
**Which package?**
babel-plugin-react-intl

**Describe the bug**
When I use the React hook for translating my text in components directly the messages do not get extracted.

**To Reproduce**
1. Use the following code in your component
[code]
2. Run babel-plugin-react-intl

**Expected behavior**
I expected these messages to be extracted in the configured folder (eg. /build/messages/src/...)

**Scre

[2020-04-02 10:41] joeyhub opened #606 "intl-messageformat: String formatter"
intl-messageformat 8 and onward removes the ability to format a raw string and instead attempts to parse as HTML.

Not only are not all strings HTML or XML but might look like it, support for HTML is limited so it does not work in all cases.

This is also a major deviation from ICU which does not make assumptions about strings.

Is there any rationale for this change? It makes the library much har

[2020-04-02 18:19] murar8 commented on #588
Ok so I ended up releasing it as an external package mainly because I wanted to gain some familiarity with CI pipelines and publishing to npm. To answer your question yes the tool I built does not add much value to existing utilities besides allowing users to extract translations without configuring babel. I have no doubt You can make a much more informed decision than me about the  output schema

[2020-04-04 11:13] Janpot opened #607 "intl-messageformat-parser: Some issues I ran into migrating to v4"
**Which package?**

`intl-messageformat-parser`

**Is your feature request related to a problem? Please describe.**

1. [My library](https://nymus.now.sh/) is using `intl-messageformat-parser`. To enable xml-like syntax in v3 I did some postprocessing on the AST. Which enabled me to allow self-closing tags. The new parser doesn't allow self-closing tags. Which means I can't move to the latest vers

[2020-04-05 01:38] longlho commented on #607
1. Self-closing tags do get parsed in the parser, it's just a text node instead. In general self-closing tags are pointless because ICU already has `{var}` syntax.
2. We don't plan to allow any settings to tune parsing. It's a PEG parser so doing that is non-trivial.
3. Same reason as above, since it's a PEG parser, when it encounters a token that doesn't fit in the schema it triggers a syntax err

[2020-04-05 01:43] longlho commented on #606
What's your use case? You can always lock down `intl-messageformat` at a lower version.

[2020-04-05 01:44] longlho commented on #605
yes we right now do not support scraping `formatMessage` alias to another function right now.

[2020-04-05 01:46] longlho commented on #588
kk sgtm!

[2020-04-05 01:46] #588 closed

[2020-04-05 03:23] #599 closed

[2020-04-05 03:23] dependabot-preview[bot] opened #608 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/28733249).

[2020-04-05 03:23] dependabot-preview[bot] opened #609 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/28733258).

[2020-04-05 03:23] #608 closed

[2020-04-05 04:25] #609 closed

[2020-04-05 04:25] dependabot-preview[bot] opened #612 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/28733731).

[2020-04-05 04:25] #612 closed

[2020-04-05 04:25] dependabot-preview[bot] opened #613 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/28733730).

[2020-04-05 04:26] longlho commented on #602
I don't use next.js so idk tbh

[2020-04-05 13:36] Janpot commented on #607
I'm fine with not supporting self-closing tags, but you essentially just created a parser that fails on what used to be valid ICU messages. I think an option to enable/disable xml syntax is not such a crazy request.

Just skimmed through [the docs](https://pegjs.org/documentation#grammar-syntax-and-semantics). But it looks like options can be passed [in the initializer](https://github.com/Janpot/f

[2020-04-05 14:50] longlho commented on #607
As I mentioned we don't plan to tweak this behavior. This powers our linter as well. Tag support is a popular ask and will be in the next [standard of MessageFormat](https://github.com/unicode-org/message-format-wg) that we're working on

[2020-04-05 15:14] #607 closed

[2020-04-06 16:21] joeyhub commented on #606
Not all strings will be HTML. A string could be in any format. For example, latex or any possible presentation language imaginable, even an invented one. Keeping it agnostic and only parsing the string for ICU allows it to support a wide range of use cases.

An obvious one might be a string that is not HTML but documents HTML so it might contain HTML strings in it.

The HTML parser is also incompl

[2020-04-06 16:26] longlho commented on #606
Supporting some form of tag will be in the next [MessageFormat standard](https://github.com/unicode-org/message-format-wg/) from Unicode org (pending exact syntax). As you can see it's not HTML (or XML or XHTML), it's a tag-based syntax that wraps around chunks of text for rich text formatting.

We don't plan to change this behavior some locking down at a lower version is your best bet.

[2020-04-06 17:41] hjylewis opened #619 "Expose node API for extracting message IDs out of a file"
Let me know if this functionality already exists. I haven't been able to find an easy way of doing it.

**Which package?**
@formatjs/cli

**Is your feature request related to a problem? Please describe.**
I'm developing a library to inject message translations on a per-file basis so that messages will be dynamically added to a bundle. Given a file, this library needs to be able to detect what IDs

[2020-04-06 18:12] longlho commented on #619
Have you tried `babel-plugin-react-intl`?

[2020-04-06 18:32] hjylewis commented on #619
I'm aware of `babel-plugin-react-intl`. How would I use it in this context? I would have to run it using babel which would require the user's babel config which is what `@formatjs/cli` is already doing under the hood, right?

[2020-04-07 15:14] #613 closed

[2020-04-07 15:14] dependabot-preview[bot] opened #620 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/29002499).

[2020-04-09 09:32] BramDecuypere commented on #602
It's apparently related to the use of `[ brackets ]` in folder names. The extracting doesn't pass throught these folders

[2020-04-09 14:14] #620 closed

[2020-04-09 14:14] dependabot-preview[bot] opened #625 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/29279586).

[2020-04-09 17:27] joeyhub commented on #606
If they made it like that in the standard, you're stuck with it.

It then raises the question of if they now have syntax that clashes with HTML is there an escape character?

I can't find a good source for the latex syntax and semantics.

[2020-04-09 17:31] joeyhub commented on #606
It's to use single quote to enwrap, IE...

There will be confusion because the previous method name as HTML but it's not it just looks like it.

[2020-04-09 23:12] joeyhub commented on #606
I think this issue can be resolved mostly with using the discussion to improve documentation.

It is however upstream that should be documenting syntax and semantics better so I'd also consider bumping it up there as well.

Currently there is a discussion of targeting man or machine and then if man developer or translator. I feel however just better documentation and easier to find is key, first s

[2020-04-10 02:27] longlho commented on #606
Which doc are you referring to? The standard body hasn't decided on a syntax yet.

[2020-04-10 02:28] longlho commented on #602
What's the args that you passed into the CLI?

[2020-04-10 09:51] BramDecuypere commented on #602
What I'm doing is running an npm script that runs this:

[code]

Then the script is this:
[code]

[2020-04-10 13:03] longlho commented on #602
Hmm the CLI does support globbing I believe

On Fri, Apr 10, 2020 at 5:51 AM Bram Decuypere <notifications@github.com>
wrote:

[2020-04-10 14:18] #625 closed

[2020-04-10 14:18] dependabot-preview[bot] opened #626 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/29413037).

[2020-04-11 03:23] #626 closed

[2020-04-11 03:23] dependabot-preview[bot] opened #627 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/29453789).

[2020-04-11 03:23] #627 closed

[2020-04-11 03:23] dependabot-preview[bot] opened #628 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/29453791).

[2020-04-11 03:39] zombieJ commented on #628
same issue here

[2020-04-11 04:06] longlho commented on #619
This should be in @formatjs/cli@1.4.2

[2020-04-11 04:06] #619 closed

[2020-04-11 04:07] #628 closed

[2020-04-11 04:08] longlho commented on #590
We're working on a replacement for `formatjs.io` so stay tuned :)

[2020-04-11 04:13] #586 closed

[2020-04-11 04:26] hjylewis commented on #619
Awesome, thank you!

[2020-04-12 03:28] hjylewis opened #631 "Ignore `babel.config.json` files"
**Which package?**
`@formatjs/cli`

**Describe the bug**
Not ignoring babel project wide config files (i.e. `babel.config.json`). More info here https://babeljs.io/docs/en/config-files.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a project wide config file i.e. `babel.config.json`
2. Run cli
3. Observe how the `babel.config.json` file has not been properly ignored until the `.bab

[2020-04-12 04:41] #631 closed

[2020-04-12 05:21] pyrocat101 commented on #598
Ah, this is because the current CLI's stdin reading logic isn't updated when glob is introduced. Previously, before glob was introduced, if the resolved files to process is empty, the CLI assumes that you are feeding the input from stdin.

I am gonna send a fix for this soon.

[2020-04-12 06:12] #598 closed

[2020-04-12 06:17] dependabot-preview[bot] opened #635 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/29471115).

[2020-04-13 15:34] #635 closed

[2020-04-13 16:26] hjylewis commented on #631
Thanks! @longlho

[2020-04-14 03:41] dependabot-preview[bot] opened #642 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/29648149).

[2020-04-14 03:41] #642 closed

[2020-04-14 03:41] dependabot-preview[bot] opened #643 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/29648148).

[2020-04-14 03:41] dependabot-preview[bot] opened #644 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/29648150).

[2020-04-14 03:41] #643 closed

[2020-04-14 11:46] momesana opened #646 "License file missing for package intl-displaynames"
**Which package?**
intl-displaynames

**Describe the bug**
MIT License file is missing and the link on the formatjs/formatjs github page results in a 404 error

**To Reproduce**
try to access https://github.com/formatjs/formatjs/blob/master/packages/intl-displaynames/LICENSE.md

**Expected behavior**
The expected behaviour would be to find a valid LIcense file.

[2020-04-14 14:27] #644 closed

[2020-04-14 20:18] joeyhub commented on #606
I usually go by this...

http://userguide.icu-project.org/formatparse/messages

Though I originally used it with:

https://www.php.net/manual/en/intro.intl.php

The nice thing about a standard like ICU is there's potential for backend to match frontend more easily.

One of the reasons normally to use something like intl-messageformat which adheres closely to ICU is that strings would work across m

[2020-04-14 20:54] longlho commented on #606
Ok I'm not sure what the action item for us here is? We don't plan to revert this decision since our biggest use case is tag-based formatting.

[2020-04-14 22:32] joeyhub commented on #606
If you're no longer providing an ICU compatible format I think that needs to be made clear.

Fluent isn't ICU compatible but this library might still be:

https://github.com/messageformat/messageformat

[2020-04-15 00:01] swac opened #652 "Ability to extract strings from intl-messageformat strings"
**Which package?**

`intl-messageformat`

**Is your feature request related to a problem? Please describe.**

I'd like to use `intl-messageformat` for a Node.js project. I've seen that there is a [CLI](https://github.com/formatjs/formatjs/tree/master/packages/cli) for extracting strings from code into JSON files.

From the [docs](https://github.com/formatjs/formatjs/blob/master/packages/intl-messa

[2020-04-15 00:10] joeyhub commented on #606
There's quite a few possible actions...

1. A lot of the docs state ICU compatibility but would need to be updated.
2. Possibly extend to parser not to destroy HTML in various cases (IE, attributes, closing tags, etc).
3. Possibly mention in documentation to use escape chars to protect HTML.
4. It may be possible to auto-escape HTML with the AST.
5. Provide function example that preserves tags wri

[2020-04-15 00:44] longlho commented on #652
@swac react-intl does support non-React env so maybe you can use that: https://github.com/formatjs/react-intl/blob/master/docs/API.md#createintl

[2020-04-15 19:29] swac commented on #652
Thanks @longlho! That approach seems to work great.

[2020-04-15 19:29] #652 closed

[2020-04-19 01:40] #587 closed

[2020-04-19 01:41] #646 closed

[2020-04-20 05:00] dependabot-preview[bot] opened #654 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/30248147).

[2020-04-20 05:37] tmt96 opened #655 "Polyfill Intl.NumberFormat causes errors with Intl.DateTimeFormat"
**Which package?**
`intl-unified-number-format`

**Describe the bug**
If I use both the `intl` and `intl-unified-number-format` packages, `Intl.DateTimeFormat` returns error.

**To Reproduce**
Steps to reproduce the behavior:
 Create a node project with index.js:
[code]

**Expected behavior**
Console prints out the correctly format date '03/2016'

**Actual behavior**
Console prints out error:
[cod

[2020-04-20 17:07] #654 closed

[2020-04-22 22:19] pyrocat101 commented on #655
@tmt96 what is your node.js version?

[2020-04-22 22:35] tmt96 commented on #655
I'm on Node 10. However, we want to use NumberFormat in React Native on Hermes engine (https://hermesengine.dev/), which does not implement the Intl API and thus requires polyfill

[2020-04-22 22:37] tmt96 commented on #655
If it's helpful, I could reproduced the bug with Node 13.1

[2020-04-23 14:26] bertho-zero opened #663 "babel-plugin-react-intl: Allow to override cwd with an option"
**Which package?**
babel-plugin-react-intl

**Is your feature request related to a problem? Please describe.**
My build webpack build the modules of monorepo directly from the sources, the problem is that the `babel-plugin-react-intl` uses the `process.cwd()` rather than the path of the config used. The construction of the relative path is wrong.

![image](https://user-images.githubusercontent.com

[2020-04-24 04:30] dependabot-preview[bot] opened #664 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/formatjs/update-logs/30817680).

[2020-04-24 10:52] ybelenko opened #666 "ESLint plugin doesn't work without typescript package"
**Which package?**
`eslint-plugin-formatjs: ^2.2.1`

**Describe the bug**
It seems like plugin doesn't work with vanilla javascript(React JSX in my case).

**To Reproduce**
`.eslintrc.js`:
[code]
`package.json`:
[code]

[code]

[code]

After installation of missed package error disappears.

**Expected behavior**
Package should work with vanilla javascript(without `typescript` package).

[2020-04-24 15:15] #664 closed

[2020-04-24 21:39] tmt96 commented on #655
@pyrocat101 do we have any update for this bug?

[2020-04-24 23:54] longlho commented on #666
ah we do use typescript to parse JS as well. I'll add the missing dependency

[2020-04-25 00:29] #666 closed

[2020-04-25 00:33] pyrocat101 commented on #655
@tmt96 Hey, sorry busy at work on weekdays. I will get to it this weekend!

[2020-04-25 01:15] shadiabuhilal opened #672 "babel-plugin-react-intl: Adding feature to combine messages into one JSON object file"
**Which package?**
babel-plugin-react-intl

**Is your feature request related to a problem? Please describe.**
There is projects that need to have one file that contains the combine messages so it can be reusable across the components to reduce translations, also to check for duplicate values with different keys.

**Describe the solution you'd like**
I have propose a solution long time ago https:/

[2020-04-25 16:50] longlho commented on #672
We do have `@formatjs/cli` that handles this already. Are you able to use it?

[2020-04-25 22:53] pyrocat101 commented on #655
@tmt96 It looks like a bug on Intl.js side.

The `CreateDateTimeParts` implementation references `Intl.NumberFormat` that you polyfilled:

https://github.com/andyearnshaw/Intl.js/blob/4bd382c5df206f328b35ca23579904f603b84f0b/src/12.datetimeformat.js#L908

This `nf2` is called with `FormatNumber` here: https://github.com/andyearnshaw/Intl.js/blob/4bd382c5df206f328b35ca23579904f603b84f0b/src/12.date

[2020-04-25 22:53] #655 closed

[2020-04-27 13:37] tictcotq opened #1630 "Pass default values to IntlProvider"
**Is your feature request related to a problem? Please describe.**
In scope of project it's very common to have `{br}`, `<em>...</em>` etc in many localised strings. However, it is currently necessary to pass those as `values` in every occurrence of `<FormattedMessage />` or `formatMessage` where those values are expected. This is quite repetitive.

**Describe the solution you'd like**
Allow to pa

[2020-04-27 15:01] c3s4 opened #1631 "is useIntl() memoized?"
I'm using `useIntl` to get `intl` instance to format the messages. I need to use the `intl`instance inside an `useEffect` so it has to be in the dependency array. This causes an infinite render loop.

I have no idea how to avoid this. Yes I can not list as dependency but is a bad practice and the linter complains about this. Maybe a memoized version could be the right way. I can't imagine why the

[2020-04-27 15:37] longlho commented on #1631
Do you have a codesandbox to repro?

On Mon, Apr 27, 2020 at 11:02 AM Davide Cesaroni <notifications@github.com>
wrote:

[2020-04-27 16:42] nstepien opened #677 "babel-plugin-react-intl: extractFromFormatMessageCall crashes on function parameter destructuring"
**Which package?**
`babel-plugin-react-intl`

**Describe the bug**
I have a function that looks like this:
[code]
and is called like this:
[code]
and I get an error like this when trying to parse it:
[code]

**Desktop (please complete the following information):**

- OS: [e.g. iOS] *
- Browser [e.g. chrome, safari] *
- Version [e.g. 22] `7.5.3`

**Smartphone (please complete the following informat

[2020-04-27 16:42] nstepien opened #1632 "babel-plugin-react-intl: extractFromFormatMessageCall crashes on function parameter destructuring"
**Which package?**
`babel-plugin-react-intl`

**Describe the bug**
I have a function that looks like this:
[code]
and is called like this:
[code]
and I get an error like this when trying to parse it:
[code]

**Desktop (please complete the following information):**

- OS: [e.g. iOS] *
- Browser [e.g. chrome, safari] *
- Version [e.g. 22] `7.5.3`

**Smartphone (please complete the following informat

[2020-04-27 18:11] longlho commented on #1630
This can actually be solved in user space by either create a wrapper around `FormattedMessage` or create your own `Provider`. I'll keep this open to see if there's enough interests we might consider adding this capability into the library

[2020-04-27 19:36] pahaz opened #1651 "https://formatjs.io/ bad "Get Started" link"
![image](https://user-images.githubusercontent.com/1394025/80413031-71fd6700-88d7-11ea-942e-22179360d1ba.png)
 After click you will get "Page Not Found"

[2020-04-27 19:38] longlho commented on #1651
Thanks for reporting! We'll take a look asap.

[2020-04-27 19:50] pahaz opened #1652 "Lots of google search links point to "page not fount""
![image](https://user-images.githubusercontent.com/1394025/80414071-1df38200-88d9-11ea-96db-e91f17c8968b.png)

Query: `formattedmessage react-intl`
Links:
 1. https://github.com/formatjs/react-intl
 2. https://github.com/formatjs/react-intl/blob/master/docs/Components.md
 3. https://github.com/formatjs/react-intl/wiki/Components

It's really painful to try to use intl at the moment.

[2020-04-27 19:53] longlho commented on #1652
You can search within https://formatjs.io. Google will eventually re-index. The old site has been unmaintained for years and it doesn't even build anymore so we have to get off it.

[2020-04-27 19:53] #1652 closed, assigned to nobody

[2020-04-27 19:56] longlho commented on #1651
fixed

[2020-04-27 19:56] #1651 closed, assigned to nobody

[2020-04-27 21:28] AustinBratcher opened #1653 "Broken Documentation Links"
**Which package?**
react-intl

**Describe the bug**
It appears that with the recent merge to master, all documentation links are broken.

**To Reproduce**
- Head to https://github.com/formatjs/react-intl/blob/master/docs/README.md (This is the main documentation link in the react-intl package).
- Notice Github serves a 404

[2020-04-27 21:34] frank-shipstation commented on #1653
I think the readme url you provided is old and invalid and thus should 404

This is the react-intl readme I found: https://github.com/formatjs/formatjs/blob/master/packages/react-intl/README.md

But the links inside that read me are broken for sure

[2020-04-27 21:50] longlho commented on #1653
We’ve consolidated all docs to https://formatjs.io

On Mon, Apr 27, 2020 at 5:34 PM frank-shipstation <notifications@github.com>
wrote:

[2020-04-28 03:44] longlho commented on #1653
We've updated all the relevant links in our docs so lmk if you find any more broken links

[2020-04-28 03:44] #1653 closed, assigned to nobody

[2020-04-28 08:37] c3s4 commented on #1631
I was trying to create a codesandbox but it was causing a loop as expected, then I tried to create something usable and in the end I figured out the loop does not happen again. I investigated a little more and I figured out that this issue is related to my messages object. For some strange reason (maybe is related to the react router, but I have to investigate more) at each render my object is rec

[2020-04-29 19:30] #1631 closed, assigned to nobody

[2020-04-30 11:43] Laassari opened #1656 "Broken links in the docs"
**Which package?**
react-intl

**Describe the bug**
all links to the API ends with `.md` which breaks them. removing the `.md` from the link fixes the problem

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://formatjs.io/docs/react-intl#api-reference'
2. Click on 'React Intl API'

**Expected behavior**
it should take me to `https://formatjs.io/docs/react-intl/api` but instead,

[2020-04-30 17:52] fbartho opened #1658 "packages/react-intl/examples does not run on clean install from master"
**Which package?**

packages/react-intl/examples

**Describe the bug**

When running `yarn run examples` we get an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. clone formatjs/formatjs
2. `cd packages/react-intl/examples`
3. `yarn install`
4. `yarn run example`

**Expected behavior**

I would expect the example to run as indicated in the README in that directory

**Screensh

[2020-04-30 18:06] fbartho commented on #1658
As a workaround, I tried creating a blank polyfill file at the targeted path, and that suppressed that error, but I realized a better change was to comment out this line in index.tsx:
https://github.com/formatjs/formatjs/blob/87d77191d297b55437520f580ae83841a9717be0/packages/react-intl/examples/index.tsx#L2

This then led to an error about core-js, which I worked around by commenting out this line

[2020-04-30 23:18] longlho commented on #1658
did you `yarn build` at the root?

[2020-04-30 23:36] #1656 closed, assigned to nobody

[2020-05-01 00:24] fbartho commented on #1658
Thanks @longlho -- turns out that that was a missing step! -- There were a heck of a lot of warnings, but it eventually completed.

I also ran `yarn build` inside `packages/react-intl/` -- not sure if that was needed or not.

Will close this issue!

[2020-05-01 00:24] #1658 closed, assigned to nobody

[2020-05-04 20:28] Yohanna opened #1663 "Missing 'locale' prop error links to a non-existing file in the repo"
**Which package?**
react-intl

**Describe the bug**
The error printed when declaring an `IntlProvider` component without the `locale` prop links to a file that doesn't exist: https://github.com/formatjs/formatjs/blob/master/docs/API.md#intlshape

**To Reproduce**
Declare an `IntlProvider` component without a `locale` prop, then check the browser dev tool for the error message.

**Expected behavior

[2020-05-04 20:30] longlho commented on #1663
Thanks for reporting! We'll take a look asap.

[2020-05-05 20:34] awilson9 opened #1664 "Documentation: broken link in Intl MessageFormat"
**Which package?**
Intl MessageFormat

**Describe the bug**
Clicking the link to `pre-parsed AST` on this page https://formatjs.io/docs/intl-messageformat#modern-intl-dependency

navigates you to a github project: https://github.com/formatjs/formatjs/tree/master/packages/intl-messageformat-parser

that tells you nothing other than that documentation is hosted at the website you started from.

I'm

[2020-05-05 20:39] awilson9 commented on #1664
The link to `compile.ts` in https://formatjs.io/docs/tooling/ts-transformer is also broken

[2020-05-06 04:30] #1664 closed, assigned to nobody

[2020-05-06 04:40] longlho commented on #1632
@nstepien I can't seem to repro it w/ the test added

[2020-05-06 04:40] #1663 closed, assigned to nobody

[2020-05-06 04:40] longlho commented on #1663
fixed

[2020-05-06 10:23] santialbo opened #1665 "Allow cli to extract a list of values used for interpolation"
**Which package?**
cli

**Is your feature request related to a problem? Please describe.**
I would like to have in my CI a validation step where I check that any call to `<FormattedMessage {...}/>` or `intl.formatMessage({...}, {...})` is being provided the right values. For this to be possible I need the extract method from the cli to also provide me with a list of values used. If I had this I wo

[2020-05-06 17:42] longlho commented on #1665
we have a linter for that :) https://formatjs.io/docs/tooling/linter#enforce-placeholders

[2020-05-06 18:55] nstepien commented on #1632
Ah, turns out there is more to it: the `formatMessage` has to be in a block for the crash to occur.
The following should crash:
[code]
[code]

Hint: a brace-less `if` won't crash.
[code]

I don't know why destructuring outside the function parameters fixes it.

[2020-05-06 18:56] longlho commented on #1632
Thanks I'll take a look. Have you tried w/ the latest version?

[2020-05-06 19:00] nstepien commented on #1632
Just tried with `babel-plugin-react-intl@7.5.6` and it's fixed, thanks! Sorry for the bother.

[2020-05-06 19:00] #1632 closed, assigned to longlho

[2020-05-06 19:01] longlho commented on #1632
Glad it works! Thanks for reporting!

[2020-05-07 08:15] DiegoBM opened #1669 "Components fetching their own translated messages from a server"
**Which package?**
react-intl

**Is your feature request related to a problem? Please describe.**
Our architecture provides all the configuration (this includes also translated messages) for each Content component from a remote server , therefore each component might eventually make a request to that server to fetch and use its configuration. the problem is that apparently the only way to fetch tr

[2020-05-07 10:34] santialbo commented on #1665
Awesome! thanks a lot, I just added it tour setup.

[2020-05-07 10:35] #1665 closed, assigned to nobody

[2020-05-08 07:35] MarvelSQ opened #1670 "UnifiedNumberFormat notation: 'compact' format Error"
**Which package?**
@formatjs/intl-unified-numberformat

**Describe the bug**
UnifiedNumberFormat didn't adjust the compact

**To Reproduce**
[code]

[2020-05-08 07:39] MarvelSQ commented on #1670
these expected results are coming from **Intl.NumberFormat** with same config

[2020-05-08 14:33] robinclaes opened #1671 "babel-plugin-react-intl: defaultMessage with html fails to parse"
**Which package?**
babel-plugin-react-intl

**Describe the bug**
defaultMessages in defineMessages that contain HTML cannot be parsed with following error:
`SyntaxError: Expected "#", "'", "\n", "{", argumentElement, double apostrophes, end of input, or tagElement but "<" found.`

**To Reproduce**
Steps to reproduce the behavior:

1. `defineMessages({
{
  id: 'test',
 defaultMessage: '<a href="www

[2020-05-08 20:04] abhayvatoo opened #1672 "Rich Text Formatting: key attribute is not applied when a tag resolves to <li>"
**Which package?**
react-intl

**Describe the bug**
console warning: `Each child in a list should have a unique "key" prop.` is generated even if a `key` is supplied to `<li>` tag in the `values` prop for `<FormattedMessage>` or `formatMessage`

For example,

for the message described below:
[code]

and using
[code]
A warning `Each child in a list should have a unique "key" prop.` is generated eve

[2020-05-08 22:01] longlho commented on #1669
Right now setting `IntlProvider` is your best bet. Right now IO is out of our scope since its complexity isn't necessarily our concern.

[2020-05-08 22:02] longlho commented on #1670
related to #1634 I believe

[2020-05-08 22:07] longlho commented on #1671
do you have a repro? I added a test but couldn't repro it.

[2020-05-08 22:54] DiegoBM commented on #1669
Thank you for your answer @longlho, but no IO is required in my suggestion (we fetch the data from our server ourselves), just to provide a way to enrich/extend the already loaded messages. Some sort of "addMessages" API method if you wish, that can be called at different points in time and that appends the passed messages to the existing list of messages that was initially passed to the root Intl

[2020-05-08 23:23] longlho commented on #1669
Hmm why can't you modify the root `messages` & just set `Provider` w/ the new bigger `messages`? Performance-wise I haven't seen that being an issue since the `intlCache` is preserved.

[2020-05-08 23:31] DiegoBM commented on #1669
The components connect to the server themselves to grab their piece of information, therefore in order to modify the root messages from the component level and set the new bigger messages, I'd need some sort of method that sends the component messages up to the root level in order to compose the new bigger messages and update the provider, which is basically what I'd be asking for, does that API o

[2020-05-09 00:45] longlho commented on #1669
nope but I imagine you have some centralized state management? `messages` would just be a global state is what I mean

[2020-05-09 01:10] DiegoBM commented on #1669
I presume that you mean keeping messages in some sort of centralised Redux store, in our case we are using GraphQL and XState so we don't really keep any form of central store. We could create a separate context just for this, but since this was specifically an i18n concern, and react-intl already provides a context API I guess that it made sense to keep it within that domain. I'll explore other p

[2020-05-09 02:26] longlho commented on #1669
SGTM. Thanks!

[2020-05-09 02:26] #1669 closed, assigned to nobody

[2020-05-09 08:34] christophehurpeau opened #1673 "Missing dependency chalk in cli"
**Which package?**
cli

**Describe the bug**

With yarn 2 (berry), I have this error:

[code]

[code]

**Workaround**

in `.yarnrc.yml`, set:

[code]

[2020-05-10 08:58] simaks opened #1674 "Render different locale than set in IntlProvider (nested IntlProvider)."
**Which package?**
react-intl

**Is your feature request related to a problem? Please describe.**
I want to be able to render custom locale under different locale that is set in IntlProvider

I want something like this:
[code]

Or this:
[code]

To output this:
[code]

**Describe the solution you'd like**
Enable locale changing within IntlProvider children.
Allow passing different messages for each

[2020-05-10 14:31] meness commented on #77
If you're still looking for a workaround, I created this [gist](https://gist.github.com/meness/d81b1a751670eeeef7c6bce983eafb42) for you. There's no magic there! just a wrapper around `Intl`. Hope this helps.

[code]

[2020-05-10 19:33] longlho commented on #77
I wouldn't recommend doing that @meness. Manual string concat is never i18n-safe. You can do:
[code]

[2020-05-11 07:23] #1673 closed, assigned to pyrocat101

[2020-05-11 08:21] robinclaes commented on #1671
I've updated my issue. Apparently babel-plugin-react-intl can't handle quotes so it's impossible to use an `a href` in a default message, while it should be possible in a FormattedHtmlMessage.

If necessary we can set up a minimal repro but with the snippet above you should get the same error.

[2020-05-11 19:34] longlho commented on #1671
Oh as of v7 we no longer allow that due to potential XSS risk https://github.com/formatjs/formatjs/blob/master/packages/babel-plugin-react-intl/CHANGELOG.md#700-2020-03-22 so you have to either migrate off that or pin to v6

[2020-05-11 19:34] #1671 closed, assigned to nobody

[2020-05-12 09:38] foubei commented on #1670
Have you solved this issue?

[2020-05-12 11:22] simaks commented on #1674
I have solved it like this:
https://github.com/simaks/boilerplate-react-redux-saga/commit/52d3a47121a670a9f3314666740fad31fc34781b

[2020-05-12 11:22] #1674 closed, assigned to nobody

[2020-05-13 16:59] christophehurpeau opened #1677 "Better defineMessages typings for typescript"
**Which package?**
react-intl

**Is your feature request related to a problem? Please describe.**

I recently upgraded react-intl from 2.8.0, using @types/react-intl, and I found that defineMessages typings changed

now:
[code]

with @types/react-intl:
[code]

The old function was particularly usefull with Enums:

[code]

We could be sure that all values of Colors were defined in colorMessages. Th

[2020-05-15 19:54] longlho commented on #1677
`defineMessages` is meant to be a compiler macro that we use to tag a set of messages for extraction so it actually doesn't do anything (it just echoes out whatever's passed to it as you can see) so it literally doesn't have any typing restriction.

[2020-05-16 15:04] shengbeiniao opened #1679 "@formatjs/cli extract intl.formatMessage not work~"
**Which package?**
@formatjs/cli

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following informa

[2020-05-16 15:55] shengbeiniao commented on #1679
[code]

[2020-05-16 15:55] #1679 closed, assigned to nobody

[2020-05-17 22:04] klimashkin opened #1680 "Tags inside plural variants"
Up until MessageFormat 8.0.0 it was possible to wrap values in plural section into html tags to style them. After upgrading from 7.8.4 to 8.3.11 using the new syntax it seems to be not possible anymore:
[code]

<img width="817" alt="Screen Shot 2020-05-17 at 3 02 44 PM" src="https://user-images.githubusercontent.com/576077/82161188-7e7a3d00-984f-11ea-9ab5-87307e5a2bcb.png">

[2020-05-18 20:13] longlho commented on #1680
Thanks for reporting! We'll take a look asap.

[2020-05-19 05:37] marcesengel commented on #1677
@christophehurpeau you can use the following to get the old functionality (typed on mobile, may have minor syntax errors)

[code]

@longlho how about making these the defaults for the generics?

[2020-05-19 17:01] smeijer opened #1681 "intl.formatMessage returns an array instead of a string"
**Which package?**
Since this is a monorepo. Please specify which package this bug report is for.
`react-intl: 4.5.5`

**Describe the bug**
When formatting rich text, formatMessage returns an array instead of a string. This gives trouble when rendering the result, a message is now an array without `keys`.

[code]

I would expect the type of `message` to be `string`, not to be `array`

**To Reprodu

[2020-05-19 17:04] longlho commented on #1681
It’s an array of mixed string & ReactNode. In your case the `<i>` element

On Tue, May 19, 2020 at 1:01 PM Stephan Meijer <notifications@github.com>
wrote:

[2020-05-20 02:09] #1681 closed, assigned to nobody

[2020-05-20 02:20] leishihong opened #1682 "本都没发现这个错误，线上频繁出现报警【 invariant(id, '[React Intl] An `id` must be provided to format a message.');】"
![image](https://user-images.githubusercontent.com/26375364/82397670-80c4dd00-9a83-11ea-8c59-2bbab6b44ead.png)

[2020-05-20 04:30] pyrocat101 commented on #1682
@leishihong 你有没有可以重复这个错误情况的代码？

[2020-05-20 04:53] smeijer commented on #1681
Wouldn't it make sense to wrap it in a fragment though? Or make sure that all elements already have a `key`?

[2020-05-20 05:23] longlho commented on #1681
ah gotcha in that case u should thumb up #1623 so we can get some more signal for feedback

[2020-05-20 05:48] leishihong commented on #1682
@pyrocat101 非常抱歉，内部项目无法公开的，我们客户使用场景是在东南亚地区，中国境内没有那个报错，目前都是收到的客户那边的报错信息

[2020-05-20 05:49] leishihong commented on #1682
@pyrocat101 目前使用的版本是2.9.0，

[2020-05-20 07:37] pyrocat101 commented on #1682
@leishihong 你不需要公开你们项目的代码，只需要提供一个可以复现这个错误的代码就行。连可复现的环境都没有，我们如何帮助你？

[2020-05-20 08:41] leishihong commented on #1682
@pyrocat101 目前来看是没法复现这个的

[2020-05-20 10:24] pyrocat101 commented on #1682
Closing unless we have reproduce steps.

[2020-05-20 10:24] #1682 closed, assigned to pyrocat101

[2020-05-20 13:18] iamstarkov opened #1683 "react-intl v3→v4 upgrade guide is missing"
**Which package?**
react-intl

**Describe the bug**
no upgrade guide from v3 to v4. there are upgrade guides for v1→v2 and v2→v3, but none for v3→v4

**To Reproduce**
open react-intl part of the docs. https://formatjs.io/docs/react-intl/

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
there should be one

[2020-05-20 16:13] longlho commented on #1683
v4 didn't have a huge list of changes so there's no Upgrade Guide for it. Our Release Notes/Changelog should cover it IMO but let me know if u need help. https://github.com/formatjs/formatjs/blob/master/packages/react-intl/CHANGELOG.md#400-2020-03-05

[2020-05-21 03:24] longlho commented on #1683
Fixed in https://formatjs.io/docs/react-intl/upgrade-guide-4x

[2020-05-21 03:24] #1683 closed, assigned to nobody

[2020-05-21 03:35] #1680 closed, assigned to nobody

[2020-05-21 03:37] longlho commented on #1672
dupe of #1623

[2020-05-21 03:37] #1672 closed, assigned to nobody

[2020-05-21 06:57] pyrocat101 commented on #1670
I think this is a spec bug. Will be fixed along with the next major version release very soon :)

[2020-05-22 08:08] iamstarkov commented on #1683
@longlho thanks

[2020-05-24 05:02] pyrocat101 commented on #1670
Should be fixed by #1684.

[2020-05-24 05:02] #1670 closed, assigned to pyrocat101

[2020-05-24 08:03] nebojsanb opened #1686 "formatjs extract -> warning Reading source file from TTY"
When I try to use `formatjs extract` to extract messages to json files, I only get this warning and nothing seems to happen. I tried to google it but that didn't help...

I am using this tool on my mac, and formatjs cli 1.6.18 version.

Thank you for your support.

[2020-05-24 21:26] longlho commented on #1686
how did u execute it?

[2020-05-25 01:08] pyrocat101 commented on #1686
@nebojsanb did you pass in the glob pattern?

[2020-05-25 08:31] nebojsanb commented on #1686
Hey guys, thank you for your time and effort, and thank you for removing the bug label as I could not find a way to do it :/.

I tried with:
`formatjs extract --messages-dir /messages`
and some other options, but then I found in formatjs sourcecode (I don't know how I missed that in the documentation) that I need to pass the source file names.

so the one that worked was:
`formatjs extract */*`
th

[2020-05-25 09:56] Floriferous opened #1688 "Docs for older versions of this library?"
I can't find the docs for the older versions of this library, are they available somewhere? The only thing I found is the migration guides.

I'm specifically looking for the docs of v1.

[2020-05-25 12:02] Floriferous opened #1689 "[Docs] "Runtime environments" page does not exist"
In the docs, on [this page](https://formatjs.io/docs/basic-internationalization-principles#structure-of-code), a "Runtime environments" page is mentioned. This page does not appear to exist.

I was looking for a section that documents how to best determine a user's locale.

[2020-05-25 18:09] longlho commented on #1686
u're prob looking for `formatjs extract "**/*"`

[2020-05-25 18:11] longlho commented on #1688
You're prob looking for https://github.com/formatjs/formatjs/tree/1.x

[2020-05-25 18:11] #1688 closed, assigned to nobody

[2020-05-25 19:48] nebojsanb commented on #1686
Thank you that is it!
I used `formatjs extract "**/*.js"` and it works perfectly.

[2020-05-25 19:48] #1686 closed, assigned to nobody

[2020-05-25 23:46] longlho commented on #1689
you're looking for `Accept-Language` header basically: https://en.wikipedia.org/wiki/List_of_HTTP_header_fields#Accept-Language
or `navigator.language || navigator.browserLanguage`

[2020-05-26 17:34] Mossar opened #1691 "react-intl 3 with React 15.6.1"
### Which package?
react-intl

### Expected behavior

I would like to upgrade react-intl 2 to 3 (because I need it for babel react intl plugin) with React 15.

### Current behavior

1. After upgrading react-intl from 2 to 3 I have few things to change (intlShape occurences, localeData, etc). There is a lot of things to change because we use intlShape in almost every component and it will take some

[2020-05-26 19:27] jSharpWolf opened #1692 "Short format rounding bug = 9990 -> 1.0 k"
**Which package?**
intl-numberformat

**Describe the bug**
There is a bug when using the short format, that causes numbers such as 9990 or 9999 to be displayed as 1.0 k

**To Reproduce**

            formatted = new NumberFormat('en', {
                notation: "compact",
                compactDisplay: "short"
            }).format(9990);

This will return "1.0 K", and is false in all other loca

[2020-05-26 19:59] longlho commented on #1691
We don't support React 15 anymore so tbh I don't know :)
You can remove the `intlShape` thing

[2020-05-27 00:00] pyrocat101 commented on #1692
Oops. Looking now.

[2020-05-27 00:59] pyrocat101 commented on #1692
Could be a bug in the spec. Filed here -> https://github.com/tc39/ecma402/issues/447

Meanwhile I will think of a workaround.

[2020-05-27 03:57] longlho commented on #1691
Actually we use React 16 context API so it's not react 15-compatible

[2020-05-27 03:57] #1691 closed, assigned to nobody

[2020-05-27 06:36] Menci commented on #137
I write HTML directly in the message and I got this error:

[code]

My solution is escape the message's url when loading them and wrap formatMessage to get unescaped HTML back.

[2020-05-28 15:26] mstarets opened #1693 "Need an opt-out option for the XML tag feature"
Package: intl-messageformat-parser

Problem description:
The parser violates ICU 4.8 spec by requiring that < and > characters be escaped when they are used in regular message text. Since we are not interested in using the XML tag feature or HTML formatting support, we would like to be able to opt out.

Proposed solution:
1. Expose 'treatTagsAsText' parser option (exact name TBD)
2. Modify parser.

[2020-05-28 15:55] VincentLanglet opened #1694 "[intl-getcanonicallocales] cldr-core/supplemental/likelySubtags.json is not found"
**Which package?**
@formatjs/intl-getcanonicallocales

**Describe the bug**
When building, I get the error
[code]

**Expected behavior**
No error

**Additional context**

We can see here that
https://github.com/formatjs/formatjs/blob/master/packages/intl-getcanonicallocales/src/canonicalizer.ts#L14

We're using this library https://github.com/unicode-cldr/cldr-core
Which is not require in the pack

[2020-05-28 18:18] longlho commented on #1693
You can pin `intl-messageformat-parser` to the `v7`. Dupe of #1648

[2020-05-28 18:18] #1693 closed, assigned to nobody

[2020-05-28 18:21] longlho commented on #1694
fixed in d0b72fe398c7017d03e8ee66c98ad88fe3e47657

[2020-05-28 18:21] #1694 closed, assigned to nobody

[2020-05-28 20:19] mstarets commented on #1693
I just wanted to point out that this issue is different from 1648. I am not proposing to reverse the change you made in 8.0. I am asking to add an opt-out flag that would allow us to not require escaping for < and >. All of your existing customers won't be affected at all. The code changes are minimal, and should be easy to maintain.

Pining to an old version is not an option for us. We would like

[2020-05-28 20:21] longlho commented on #1693
What's your use case actually? Do you use any of the top level libs like `intl-messageformat` or `react-intl`?

[2020-05-28 20:49] mstarets commented on #1693
Hey Long, we have our own component framework, and are not using React and react-intl. We are switching our translated message format to ICU 4.8, and decided to use your library (because we liked it a lot!) in two different areas:
1) Build-time transformation of message patterns into formatter functions (along with TypeScript definitions for them) that take message arguments and return fully forma

[2020-05-28 21:23] longlho commented on #1693
Cool thanks a lot for the explanation. We’ll take a look as soon as we can.

On Thu, May 28, 2020 at 4:50 PM mstarets <notifications@github.com> wrote:

[2020-05-29 13:53] alorek opened #1695 "react-intl - formatTime - doesn't use option 'hourCycle'"
**Which package?**
react-intl

**Describe the bug**
not possible to use a 24 hour format with midnight as `00:00` when using locale 'en-US'

root cause:
`formatTime` and `formatDate` filter out from options `hourCycle`

**To Reproduce**
While using locale  'en-US' I expect to be able to pass `hourCycle` options to formatTime like:

[code]
to get `00:00`

this works correctly in  `Intl.DateTimeForm

[2020-05-29 19:58] longlho commented on #1695
Thanks for reporting! We'll take a look asap.

[2020-05-31 11:24] #1692 closed, assigned to pyrocat101

[2020-06-01 16:28] Klemensas opened #1697 "IntlProvider not recognizing children when wrapped in a HOC"
**Which package?**
`react-intl`

**Describe the bug**
When wrapping `IntlProvider` in a HOC wrapper like redux `connect` it seems like the returned component refuses to accept children resulting in a type error when trying to pass them in.

**To Reproduce**
Here's a codesandbox example https://codesandbox.io/s/stoic-leakey-3hrii?file=/src/index.tsx
This one uses a minimal HOC but same could be obs

[2020-06-01 21:43] mstarets commented on #1693
Would it help if I created a pull request? I's be happy to create a branch with the grammar change, the opt-in flag and a test.

[2020-06-01 22:16] longlho commented on #1693
Yup PR’s always welcome!

On Mon, Jun 1, 2020 at 5:43 PM mstarets <notifications@github.com> wrote:

[2020-06-02 02:21] longlho commented on #1697
Thanks for reporting! We'll take a look asap.

[2020-06-03 04:03] liemdo opened #1698 "FormattedTime showing date"
**Which package?**
react-intl

**Describe the bug**
I realize a few timezones are not supported by `formatTime` such as EST.

**To Reproduce**
Output `formatTime(new Date(), { timeZone: 'EST' })}`

Expected: `12:00AM`
Actual: `Wed May 06 2020 19:01:59 GMT-0700 (Pacific Daylight Time)`

**Desktop (please complete the following information):**

- OS: Mac
- Browser: Chrome

[2020-06-03 04:43] longlho commented on #1698
I think you're looking for `America/New_York`, `EST` is not a valid IANA timezone

[2020-06-03 04:43] #1698 closed, assigned to nobody

[2020-06-03 05:54] longlho commented on #1697
hmm why don't you wrap `App` or the top level component? Wrapping a Provider in a HOC is kinda odd.

[2020-06-03 07:41] Klemensas commented on #1697
This is a contrived example and sure, I could change how stuff is wrapped to avoid this. But that seems just like avoiding the underlying issue, no?

[2020-06-04 10:21] cbrevik opened #1700 "React Native: Unable to resolve module path for react-intl 4.6.5"
**Which package?**
`react-intl` v4.6.5 / `@formatjs/intl-utils`

**Describe the bug**

In React Native app, I'm getting an error when trying to start app. It seems related to the `path` module being imported here: https://github.com/formatjs/formatjs/blob/5000bdf14413857a37f3f6e1b4bb440d85ec931e/packages/intl-utils/src/interpolate-name.ts#L1

React Native does not by default have `path` available,

[2020-06-04 11:47] smeijer commented on #1700
I'm having the same issue in a web app.

Browsers don't have a `path` module either.

And the same for `crypto`, which is imported by that same file:

https://github.com/formatjs/formatjs/blob/5000bdf14413857a37f3f6e1b4bb440d85ec931e/packages/intl-utils/src/interpolate-name.ts#L2

[2020-06-04 15:06] longlho commented on #1700
We'll release a patch soon. For now feel free to pin to prev version. Sry for the breakage.

[2020-06-04 17:15] jrjohnson commented on #1700
Same problem with crypto in the same module `@formatjs/intl-utils` as crypto appears to be a node library that isn't available in browsers. I figured since the root cause was the same I would add it here, but please let me know if you'd prefer a new issue instead.

[code]

edit -

Adding that this is difficult to pin with NPM as  it is deeply references several times for us with floating dependenc

[2020-06-04 19:17] #1700 closed, assigned to nobody

[2020-06-04 21:30] jrjohnson commented on #1700
Thank you!

[2020-06-05 14:06] pwujek opened #1701 "[DOCS]: Firefox dark-theme "below the fold" colours inverted"
**Which package?**
All pages on formatjs.io.

**Describe the bug**
The area below the initial view is displayed in inverted colours on a dark background.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://formatjs.io
2. Scroll down

**Expected behaviour**
Colours should not be inverted.

**Screenshots**
![image](https://user-images.githubusercontent.com/1900015/83884619-1fec0480-

[2020-06-06 00:34] longlho commented on #1701
Hmm this is probably a bug for https://github.com/facebook/docusaurus so can u file a GH issue there?

[2020-06-06 00:34] #1701 closed, assigned to nobody

[2020-06-06 00:47] #1695 closed, assigned to nobody

[2020-06-07 23:04] AustinBrunkhorst opened #1704 "injectIntl return type omits children props"
**Which package?**
`react-intl`

**Describe the bug**
`injectIntl` omits the `children` props. This might be somehow related to #1697

[![Edit charming-fermat-tx5qp](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/charming-fermat-tx5qp?fontsize=14&hidenavigation=1&theme=dark)

**To Reproduce**
Consider this example

[code]

using `Test` like so

[code]

Emits the

[2020-06-08 19:01] jl-gogovapps opened #1705 "TypeError: Cannot find function supportedLocalesOf in object function NumberFormat()"
**Which package?**
react-intl

**Describe the bug**

I've seen quite a bit of these in our Sentry integration.  I'm relatively new to react, so I'm not entirely sure what kind of helpful information I can provide, mostly curious if anyone else has run into this.

[code]

My component is something along the lines of
[code]

**To Reproduce**
Haven't been able to reproduce

**Expected behavior**
Not

[2020-06-09 00:09] JustFly1984 commented on #1705
getting similar error `Intl.DateTimeFormat.supportedLocalesOf is not a function` from Sentry.
As sentry reports it originates from browser Firefox 50.0, but MDN says https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/supportedLocalesOf
it is supported since FF29, so could be that.

I have 'intl-pluralrules', '@formatjs/intl-pluralrules/polyfill', '

[2020-06-09 08:58] Tobbe opened #1706 "No error for missing variable, and no fallback to default message"
**Which package?**
react-intl

**Describe the bug**
No error is issued for missing variable when using the imperative api with a defined message, and no fallback is performed to the default message

**To Reproduce**
Fire up a new create-react-app application, with react-intl installed, and then replace everything in App.tsx (or App.jsx) with the code below

[code]

**Expected behavior**
I expect t

[2020-06-09 10:54] santialbo opened #1707 "[cli] No error when using same id with different defaultMessage/description in different files"
**Which package?**
@formatjs/cli

**Describe the bug**
I'm not sure this has always worked like this or if has been a recent bug, but I'm not getting any errors thrown when using the same `id` with different `defaultMessage` in different files.

**To Reproduce**
Same `id`, different `defaultMessage` in **different files**.
Extract and no errors are thrown.

**Expected behavior**
I would expect the

[2020-06-09 10:58] santialbo commented on #1707
I'd be more than happy to fix this if you want. As I understand it some logic would need to go here when merging all the messages from the different files.
https://github.com/formatjs/formatjs/blob/5544cdeb375df64f353a9b3efde55e28fa5616a6/packages/cli/src/extract.ts#L147-L150

[2020-06-09 11:12] santialbo commented on #1707
Something along the lines of
[code]

[2020-06-09 12:24] flipcc opened #1708 "Update react-intl.md to include a "Getting started" chapter"
**Which package?**
react-intl

**Is your feature request related to a problem? Please describe.**
Language switching should be part of a "Getting started" chapter. There are questions around on SO and in the issues. One in particular made me open this issue. It is #243 (or #234), because they even had influence on the docs (see [components > rawintlprovider](https://formatjs.io/docs/react-intl/com

[2020-06-09 12:28] flipcc commented on #1708
I am writing

because I really cannot be sure, how you imagine users to implement language switching using react-intl. I think the linked tutorial does a great job, but still: maybe there is already a hook available? Or `RawIntlProvider`should be used in some way as it is a React.Context.Provider? Maybe, but without docs one cannot know.

[2020-06-09 14:54] jl-gogovapps commented on #1705
@JustFly1984 have you been able to reproduce?  Is there any side affect for the user?  I dont think I'm using any intl polyfills, but I'm seeing it in Chrome 81 (Windows 7)
[code]

Not sure what else I could/should be doing...

[2020-06-09 17:19] pyrocat101 commented on #1705
@jl-gogovapps can you double check on which OS and browsers this error is thrown? I believe Sentry will give you the distribution.

[2020-06-09 17:23] jl-gogovapps commented on #1705
@pyrocat101 thanks for asking me to double check, I'll update my original comment.  It does seem that they are all coming from:
[code]

[2020-06-09 19:12] reharik opened #1709 "extract to single file rather than matching file structure"
This is neither a bug report nor a feature request, but rather a request for guidance.
I'm wondering if there is a way that babel-plugin-react-intl could output all messages into a single file rather that placing them in the matching file structure.
Further, it would be nice if I could preform a transform on the messages as they are retrieved before they are placed in said single file.
I'm not sur

[2020-06-09 19:15] longlho commented on #1709
We have https://www.npmjs.com/package/@formatjs/cli
In terms of babel we don't have a mechanism to know what a `project` is or when it's done processing so we can output the file (neither does `babel` AFAIK)

[2020-06-09 19:18] longlho commented on #1707
I'd be open to a PR for this :) Thanks!

[2020-06-09 19:18] longlho commented on #1706
Can you make a codesandbox.io link?

[2020-06-09 19:23] longlho commented on #1708
I'd be open for a PR for this :)

[2020-06-09 19:43] Tobbe commented on #1706
No 🙁

I tried forever before posting the issue, also tried jsfiddle and codepen, but I couldn't get anything running.

For codesandbox I keep getting this error
![image](https://user-images.githubusercontent.com/30793/84192435-45be3400-aa9a-11ea-81ea-e8bdb03df85a.png)

[2020-06-09 20:31] shadiabuhilal commented on #1707
It will be great, if it can handle different Ids same value error case.

This will make the translation reusable and reduce duplicate translations (reduce translation cost).

e.g:
[code]

[2020-06-10 02:21] longlho commented on #1707
`defaultMessage` by itself yields too many false positive so it has to be in tandem w/ `description`

[2020-06-10 13:20] #1707 closed, assigned to nobody

[2020-06-10 14:30] reharik commented on #1709
Ah so perhaps you can have a running state in the pipe line but there is no "all files processed" event for you to know to dump the state to a file (AFAYK).  Seems like there aught to be a way to tell, but I suspect neither of us has the available mental bandwidth to go studying up on the ASTs right now.
I have a workable solution, it would just be nice to have it a bit more integrated.
Thanks for

[2020-06-10 15:16] SudharakaP opened #1712 "Formatting Date with FormattedDate (react-intl package)"
**Which package?**

react-intl; https://www.npmjs.com/package/react-intl

**Describe the bug**

I am trying to format the date in international format (YYYY/MM/DD) using `FormattedDate`. I could see that there's a property called, `formatMatcher` but not sure how I could use this. So I was trying to use something like,

`<FormattedDate value={new Date()} day="2-digit" month="2-digit" year="numeric

[2020-06-11 01:27] longlho commented on #1709
That's the gist of it yeah. That's why we release a separate CLI.

[2020-06-11 01:27] #1709 closed, assigned to nobody

[2020-06-11 03:33] longlho commented on #1712
I think you're looking for https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/DateTimeFormat/DateTimeFormat
It only takes in either `basic` or `best fit`

[2020-06-11 03:33] #1712 closed, assigned to nobody

[2020-06-11 03:39] #1706 closed, assigned to nobody

[2020-06-11 03:41] longlho commented on #1706
I've fixed the differences in the behavior between component & imperative API. The error for missing values is bc we purposefully hot path rendering the message when no `values` is present for performance. This issue also shouldn't be runtime issue and we have https://formatjs.io/docs/tooling/linter/#enforce-placeholders that should catch it.

[2020-06-11 08:28] Tobbe commented on #1706
Thanks for the fix 🙂

I tried the eslint rule, but it does not catch the error

[code]

[code]

Running eslint with the code above no errors (or warnings) are printed

Other rules are working. If I have this for example I will get an error

[code]

[code]

[2020-06-11 09:39] acontreras89 opened #1713 "Force sign when formatting numbers"
**Which package?**
react-intl

**Is your feature request related to a problem? Please describe.**
There is no way force the inclusion of the plus sign `+` when formatting positive numbers, even though this is already considered [by `NumberFormat.formatToParts`'s `plusSign` type](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/formatToParts#Descrip

[2020-06-11 15:14] SudharakaP commented on #1712
@longlho : Thanks much for the reply. Then I seem to be looking at the wrong place. Do you by any chance know of a configuration we could use to get date in the international format (YYYY/MM/DD)?

[2020-06-12 02:13] longlho commented on #1712
The locale dictates that format (e.g some locale uses `YYYY/MM/DD` or `DD/MM/YYYY`)

[2020-06-12 02:18] longlho commented on #1713
you're looking for `signDisplay: always`

[2020-06-12 02:18] #1713 closed, assigned to nobody

[2020-06-12 02:21] longlho commented on #1706
The linter can only work with inline declaration like `intl.formatMessage({ defaultMessage: 'foo', description: 'bar' })` and `<FormattedMessage/>` since it only looks at the AST and cannot actually evaluate JS.

[2020-06-12 07:07] acontreras89 commented on #1713
Thanks @longlho, couldn't find it documented anywhere else.

[2020-06-12 08:06] Tobbe commented on #1706
Yeah, that's the trade off you make when using eslint. Which is too bad for us, because we never inline our message definitions when using `formatMessage`.

You said you don't print the error message for performance reasons. But you do print the error when using `<FormattedMessage>`. Does that mean `formatMessage` is faster than `<FormattedMessage>`?

[2020-06-12 15:05] SudharakaP commented on #1712
@longlho : Ah, I understand. Thanks a lot for the clarification. :+1:

[2020-06-12 17:50] longlho commented on #1713
yeah MDN lags behind but you can certainly fix it as well if you're motivated to :)

[2020-06-12 17:55] longlho commented on #1706
It's not that we don't print the err message, but rather we hot path the rendering of the message before parsing it (which is when we know there's an issue) if the `values` is not supplied. For example:
[code]
We assume since u didn't pass in any `values` to format, `a {placeholder}` has no placeholder and should just be rendered verbatim. Doing it this way we optimize for the 90% case which is ju

[2020-06-13 05:56] alanhe421 opened #1714 "The bundle size has not changed at all"
react-intl@2.9.0 to 3.12.1

Is it normal? I think because using native intl，size should be smaller

[2020-06-13 06:04] longlho commented on #1714
Native Intl takes care of the `locale-data`, the core of the library is the same.

[2020-06-13 06:04] #1714 closed, assigned to nobody

[2020-06-14 06:47] balloob opened #1715 "Proposal: Use modern syntax in ESM builds"
**Which package?**
`intl-messageformat`, `intl-format-cache`, `intl-messageformat-parser`

**Is your feature request related to a problem? Please describe.**
I would like to be able to import `intl-messageformat` and all its dependencies written in a modern JS syntax. That way my app, which uses this lib, can decide at build time the level of JavaScript it wants to support and what helpers to incl

[2020-06-15 01:06] pyrocat101 commented on #1715
To make sure I understand, you want a build target where the files are emitted as ES modules and in ES6 syntax?

[2020-06-15 01:21] #1704 closed, assigned to pyrocat101

[2020-06-15 01:25] pyrocat101 commented on #1705
@jl-gogovapps @JustFly1984  sorry for the delay in response -- can you double check if you are using any other Intl polyfills (e.g. Intl.js)?

[2020-06-15 01:29] jl-gogovapps commented on #1705
@pyrocat101 no worries, thanks for the response.  After taking a look at my package.json, the only references to 'intl' are

[code]
[code]

I believe this is a list of polyfills I'm using:

[code]
I hope this is helpful, but let me know if theres other info I can provide.

Thanks!

[2020-06-15 03:32] balloob commented on #1715
Yes, and I would want that to be the default when you use `import` to import `intl-messageformat`:

[code]

If it's not the default, `intl-messageformat` will still import the ES5 versions of its dependencies (`intl-format-cache` and `intl-messageformat-parser`).

[2020-06-15 03:49] bakakaba commented on #465
Based on @tinacious comment:

[code]
This should really be the default instead of the full blown error.

[2020-06-15 04:33] longlho commented on #465
This is only in v4, not v2.

[2020-06-15 04:35] longlho commented on #1715
Did u config your bundler to prioritize ES6 entry point?

[2020-06-15 04:35] #1697 closed, assigned to pyrocat101

[2020-06-15 04:41] longlho commented on #1705
Quick glance you should remove `@types/react-intl`. We support TS natively now.
Do you have a stack trace from sentry?

[2020-06-15 05:01] balloob commented on #1715
If you mean the `module` key in [`intl-messageformat/package.json`](https://github.com/formatjs/formatjs/blob/master/packages/intl-messageformat/package.json#L31): yes. However that key points at an ES5 build using import/export. As example, see [`intl-messageformat/lib/error.js`](https://unpkg.com/browse/intl-messageformat@8.3.23/lib/error.js)

[2020-06-15 05:26] longlho commented on #1715
We used to do that (ESNext in ESM build) but then we got complaints that now you have to transpile transitive dependencies so... there's no really best of both worlds here.

[2020-06-15 09:45] JustFly1984 commented on #1705
@pyrocat101 yes I have `intl` running first, then `intl-pluralrules`, then `@formatjs/intl-pluralrules/polyfill` then `@formatjs/intl-relativetimeformat/polyfill` in that order.

[2020-06-15 10:34] acontreras89 commented on #1713
I've added it to the [`NumberFormat` constructor page](https://wiki.developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/NumberFormat) 👍  thanks again @longlho !

[2020-06-15 19:03] mrijke opened #1718 "@formatjs/intl-datetimeformat not published"
**Which package?**
@formatjs/intl-datetimeformat

**Describe the bug**
@formatjs/intl-datetimeformat seems to be not published to NPM (https://www.npmjs.com/search?q=%40formatjs%2Fintl-datetimeformat)

**To Reproduce**
Go to https://www.npmjs.com/search?q=%40formatjs%2Fintl-datetimeformat

**Expected behavior**
Expected to be able to download @formatjs/intl-datetimeformat from NPM

[2020-06-15 19:04] longlho commented on #1718
it's still work-in-progress so u might wanna follow #1702

[2020-06-15 19:06] mrijke commented on #1718
Ah I see!
Thanks for the quick response, I saw a "Publish" commit in that packages folder so I assumed it was meant to be published :)
I'll subscribe to that PR to keep in the loop!

[2020-06-15 19:06] #1718 closed, assigned to nobody

[2020-06-15 19:51] jl-gogovapps commented on #1705
The source is minified, I'm not sure why Sentry isn't picking up the map for this particular ticket.

I'm also seeing a similar error for Safari users
[code]

<img width="821" alt="Screen Shot 2020-06-15 at 3 51 00 PM" src="https://user-images.githubusercontent.com/44532602/84699719-0a9b8500-af20-11ea-8d02-26c8b23cb14a.png">

[2020-06-15 23:05] balloob commented on #1715
That's true. That's why I noted my proposal as a breaking change.

ES6 is also known as ES2015, it was introduced in 2015. That's 5 years ago. It's supported by 94.68% of the browsers that are being used: https://caniuse.com/#feat=es6-class

If there are users that are still targeting IE 11 (itself an unsupported browser), they need a lot more tooling anyway.

[2020-06-15 23:43] longlho commented on #1715
I'll keep this issue open to see if people actually want it. Like I said last time we did it people didn't like it so it's unlikely we're gonna revisit it.

[2020-06-16 13:39] waynegrigsby opened #1719 "React-Intl pass translation as string variable and not object"
I'm in the process of adding react-intl to a payment app I'm building but hitting a snag. I apologize if this has been addressed somewhere. I scoured the issues and documentation and couldn't find a direct answer on this (probably just overlooking it).

**Use Case**: Once a payment is processed I'd like to give the user the option to tweet a translated message indicating they've donated.

**Proble

[2020-06-16 15:59] nagiek opened #1720 "react-intl assigns default properties to custom formats"
**Which package?**
react-intl

**Describe the bug**
In FormattedMessage, if a customFormat is missing a property and it shares the same name as a defaultFormat, the property rendered with a default.

i.e. if a "short" format only has _month_ and _day_ properties, a _year_ is still rendered. If the format name is changed, i.e. from "short" to "month-day", is functions correctly.

**To Reproduce**
1

[2020-06-16 17:17] swac opened #1721 "relativetimeformat polyfill error: TypeError: undefined is not an object (evaluating 'aliases[locale]')"
**Which package?**

@formatjs/relativetimeformat and @formatjs/intl-utils

**Describe the bug**

Polyfilling `@formatjs/relativetimeformat` with the `en` locale seems to cause an error upon startup:

[code]

It appears that this issue may have been fixed in https://github.com/formatjs/formatjs/commit/e0e937062514f0f776401be99b556682dd0623cc#diff-3fff9be61c95c5a55a1d9bdd3d6fcc7b, but the code in th

[2020-06-16 20:10] longlho commented on #1721
Thanks for reporting! We'll take a look asap.

[2020-06-16 20:36] longlho commented on #1721
@swac do you have a codesandbox.io link?

[2020-06-16 20:38] longlho commented on #1720
I think this is by design from the old days (and will be a breaking change as well). At the spec level the recommendation is to use skeleton, e.g:
`as of {date, date, ::yyMMM}` in your use case

[2020-06-16 20:40] longlho commented on #1719
`<FormattedMessage/>` is a React component so it's an object, not a string. I think u're looking for https://formatjs.io/docs/react-intl/api/#formatmessage

[2020-06-17 03:03] johnfrades opened #1722 "Make this error part of onError: [React Intl] An `id` must be provided to format a message."
**Which package?**
react-intl: 4.6.9

**Describe the bug**
Im getting this error **[React Intl] An `id` must be provided to format a message.**
but this error wasn't thrown in onError of `IntlProvider`

**To Reproduce**
Steps to reproduce the behavior:

1. create a defineMessage
2. intl.formatMessage(messages.MISSING_MESSAGE_ID)

**Expected behavior**
the `onError` should catch this type of error

[2020-06-17 03:05] longlho commented on #1722
This is meant to be fatal. It's typically a symptom of some deeper pipelining issue of extracting messages and such that we've seen in large codebases.

[2020-06-17 03:07] johnfrades commented on #1722
So this can't be done? i know it's human error for this to happened, but would be good if there's a way to catch this so that we can handle it properly

[2020-06-17 03:08] longlho commented on #1722
It is by design and should have been caught during testing in your app :)

[2020-06-17 03:45] longlho commented on #1722
My suggestion is to move away from manual ID generation and use an automatic ID gen extraction flow like `@formatjs/cli`

[2020-06-17 03:49] johnfrades commented on #1722
ohh i see, ok man gonna check that one out!

[2020-06-17 05:33] #1719 closed, assigned to nobody

[2020-06-17 05:33] #1720 closed, assigned to nobody

[2020-06-17 09:58] pranay-dev-1 opened #1723 "Suggest how we can integrate formattedMessage with alert() or any javascript variable string value."
I want to translate text in alert() to any other language, how i can achieve that as normal HTML text we can translate with <formattedMessage> component.

Please suggest any lead/solutions on this issue.

Thanks in advance.

[2020-06-17 15:41] longlho commented on #1723
You're looking for https://formatjs.io/docs/react-intl/api/#formatmessage

[2020-06-17 15:41] #1723 closed, assigned to nobody

[2020-06-17 21:15] #1722 closed, assigned to nobody

[2020-06-20 03:50] kaysonwu opened #1724 "[react-intl] Support translation string parameter replacement"
**Which package?**
`react-intl`

**Is your feature request related to a problem? Please describe.**

Support translation string parameter replacement

**Describe the solution you'd like**

I want to use the translation string as id, But the `formatMessage` api will not replace the placeholder.

[code]

I want to use the translation string directly instead of defining the phrase, which can save me

[2020-06-20 04:00] longlho commented on #1724
I'm not sure I understand ur use case. Do u want dynamic ID?

[2020-06-20 04:07] kaysonwu commented on #1724
Fallback can format ID instead of return as is.

[2020-06-20 04:09] kaysonwu commented on #1724
Phrases are good, but translating strings as id is more intuitive

[2020-06-20 04:10] longlho commented on #1724
Hmm that's what `defaultMessage` does. If you don't want to manually specify ID you can use `@formatjs/cli` to autogen IDs

[2020-06-20 04:11] kaysonwu commented on #1724
I know `defaultMessage` work, but for this I have to write an additional phrase id.

[2020-06-20 04:12] kaysonwu commented on #1724
Because I have explicitly used translation strings here, I am not going to use phrase.

[2020-06-20 04:13] longlho commented on #1724
You don't have to write IDs. We have toolchains that automatically extract messages & generate IDs for you

[2020-06-20 04:15] kaysonwu commented on #1724
If you can upgrade the fallback mechanism, that would be great

[2020-06-20 04:15] longlho commented on #1724
We don't have any plan to support this in the near future.

[2020-06-20 04:35] kaysonwu commented on #1724
Okay, but `id` is required.  `@formatjs/cli` does not meet my need.  I prefer translation strings as keys to short keys, In this way, English has become my default backup language, and I do not need to define a translation file for it.

[2020-06-20 04:35] #1724 closed, assigned to nobody

[2020-06-22 01:24] tinacious commented on #465
@javaDeveloperKid, without seeing the parent component, I'm not able to see what `this.onError` looks like.

Please note that this was a problem I needed to solve for myself and decided to contribute it to this thread to help others. **I am not a react-intl or formatjs contributor**. I noticed the original links I provided that link to the documentation and source code are now broken as it looks l

[2020-06-22 07:33] llh911001 opened #1739 "Cannot find module './injectIntl' or its corresponding type declarations"
**Which package?**

`packages/react-intl`, version `@4.6.10`.

**Describe the bug**

When compiling a TypeScript project that uses `useIntl` and `defineMessages`, the compilation fails as follows:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Any TypeScript projects
2. Run `tsc` to compile the project

**Expected behavior**
No error occurs, projects get compiled successfully.

**D

[2020-06-22 09:47] JustFly1984 commented on #1739
confirming the bug, @llh911001 thank you for workaround

[2020-06-23 05:48] pyrocat101 commented on #1739
Might be https://github.com/formatjs/formatjs/issues/1716

[2020-06-23 05:56] pyrocat101 commented on #1739
The tsc produced `index.d.ts` has the correct typing, but API extractor produced `react-intl.d.ts` did not correctly rewrite the `import(...)` path. Right now react-intl is using `react-intl.d.ts` as the typing definition.

cc @longlho

[2020-06-23 06:18] pyrocat101 commented on #1739
Upgrading react-intl's API Extractor to 7.8.12 produces the following build error:

[code]

[2020-06-23 06:26] #1739 closed, assigned to pyrocat101

[2020-06-23 08:01] alexander-r-jaimy opened #1743 "yarn add react-intl fails"
**Which package?**
yarn add react-intl fails

**Describe the bug**
When trying to install react-intl

**To Reproduce**
yarn add react-intl fails

**Screenshots**
![Screenshot from 2020-06-23 10-07-56](https://user-images.githubusercontent.com/60174868/85377707-c587dc00-b539-11ea-8d91-8426e7ca0225.png)

[2020-06-23 08:06] csvan opened #1744 "@formatjs/intl-datetimeformat breaks yarn installs"
As of v1.2.1, yarn installs are consistently failing with:

[code]

We have reproduced this across multiple machines and environments. We have tried fetching both directly from http://registry.npmjs.org and an internal Nexus instance proxying the same registry. Did something go wrong when publishing?

The only version I can find that works with Yarn is 1.1.0.

[2020-06-23 08:07] csvan commented on #1743
Related to this: https://github.com/formatjs/formatjs/issues/1744

[2020-06-23 08:09] alexander-r-jaimy commented on #1744
![Screenshot from 2020-06-23 10-07-56](https://user-images.githubusercontent.com/60174868/85377534-86598b00-b539-11ea-9e9a-0d91f53fe8e3.png)
same error in a fresh docker

[2020-06-23 08:21] csvan commented on #1744
Seems to be several bad publishes of this package. If I add:

[code]

I get

[code]

[2020-06-23 08:35] csvan commented on #1744
Seems like this is the only version that works:

[code]

[2020-06-23 08:43] mattvb91 commented on #1744
Seeing the same on vercel deployments:

`
10:38:16.235
error https://registry.yarnpkg.com/@formatjs/intl-datetimeformat/-/intl-datetimeformat-1.2.1.tgz: Extracting tar content of undefined failed, the file appears to be corrupt: "ENOENT: no such file or directory, link '/vercel/.cache/yarn/v6/npm-@formatjs-intl-datetimeformat-1.2.1-da53daa6480994259371229925700c797f3cac4b-integrity/node_modules/@f

[2020-06-23 09:12] zhanghaoxu commented on #1744
any temporary solution for this issue?

[2020-06-23 09:12] fmr commented on #1744
I managed to do an install with npm. Is it possible `1.2.1` only affected yarn installs?

[2020-06-23 09:48] csvan commented on #1744
Ping @longlho

[2020-06-23 13:03] evertbouw commented on #1743
Use `yarn add react-intl@4.6.9` for now

[2020-06-23 13:04] evertbouw commented on #1744
Stick to version 4.6.9 for now. `yarn add react-intl@4.6.9`

[2020-06-23 14:01] longlho commented on #1743
dupe of #1744

[2020-06-23 14:01] #1743 closed, assigned to nobody

[2020-06-23 14:03] longlho commented on #1744
Sorry for the breakage, react-intl@4.7.2 should unbreak yarn now.

[2020-06-23 14:03] #1744 closed, assigned to nobody

[2020-06-23 19:05] chyipin opened #1746 "Examples doesn't run locally"
**Which package?**
`react-intl`

**Describe the bug**
The react-intl example failed to start

[code]

**To Reproduce**
1. Follow instructions to setup locally
[code]
2. Launch example
[code]

**Expected behavior**
The examples run at http://localhost:1234

**Workaround**
I comment out the import and it runs fine…
[code]

[2020-06-23 19:06] pyrocat101 commented on #1746
Posting here for posterity: let's add core-js as a dev dependency of react-intl

[2020-06-24 09:26] christophehurpeau commented on #1677
I think it should not go stale?

[2020-06-24 19:15] #1746 closed, assigned to nobody

[2020-06-25 08:51] TimoKunze opened #1751 "FormattedTime does not seem to support hourCycle attribute"
**Which package?**
react-intl

**Describe the bug**
The following code renders as "24:59:59" with en locale. Shouldn't it render as "00:59:59"? The `hourCycle` attribute seems to be ignored.
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Place the code from above in the render method of a React component.
2. Make sure the React app uses en locale.
3. Execute the React app.
4. See er

[2020-06-25 21:05] matthew-gerstman opened #1752 "Support a set of standard HTML tags in intl strings."
**Which package?**
react-intl

**Is your feature request related to a problem? Please describe.**
I regularly end up writing the exact same lines of code
[code]

**Describe the solution you'd like**
I'd like to see an abstraction on top of `formatMessage` (or built in) that takes care of a standard set of html tags.

It might be make sense automatically convert tags to functions like the ones I li

[2020-06-25 21:14] longlho commented on #1752
thoughts @pyrocat101 ?

[2020-06-26 00:44] mikeplis opened #1753 "FormattedList polyfill not working"
**Which package?**

@formatjs/intl-listformat

**Describe the bug**

Importing the @formatjs/intl-listformat polyfill and using FormattedList doesn't render a formatted list in browsers that don't natively support the ListFormat API.

**To Reproduce**

https://codesandbox.io/s/naughty-sun-dng0u?file=/src/App.js

[code]

**Expected behavior**

I expect to see "Me, myself, and I" rendered

**Screens

[2020-06-26 01:15] mikeplis commented on #1753
I've also tried using the ponyfill and that's not working either, including Chrome 83

[code]

<img width="1112" alt="Screen Shot 2020-06-25 at 9 14 11 PM" src="https://user-images.githubusercontent.com/1382377/85810382-dea2af80-b728-11ea-86ff-461f749a0dcd.png">

[2020-06-26 01:18] longlho commented on #1753
You need to give it some locale-data like `import '@formatjs/intl-listformat/dist/locale-data/en';`
Our documentation is wrong it looks like (it doesn't come w/ `en` locale-data) so I'll keep this open until we fix that

[2020-06-26 01:19] longlho commented on #1751
What Node version does Electron use?
Also what version of react-intl are you using?
Do you have a codesandbox.io link?

[2020-06-26 10:06] TimoKunze commented on #1751
It should be Node 12.14.1. I'm using react-intl 4.7.2.
At the moment I don't have a codesandbox.io link, sorry.

[2020-06-26 10:54] mkosir commented on #1686
I created a script to search only through files in /src folder
`"translate-extract": "formatjs extract 'src/**/*.{js,jsx,ts,tsx}'"`

[2020-06-26 12:22] meness opened #1755 "Help: How to use FormatJS with NodeJS?"
I imported `intl-messageformat` package. My string contains HTML tags and I don't know how to make it work because it throws following exception: `Expected "#", "'", "\n", "{", argumentElement, double apostrophes, end of input, or tagElement but "<" found.`

[2020-06-26 16:46] longlho commented on #1751
If you can create a codesandbox.io link to repro that'd be great.

[2020-06-26 16:49] #1753 closed, assigned to nobody

[2020-06-26 16:59] #1755 closed, assigned to nobody

[2020-06-26 16:59] longlho commented on #1755
you can use the `ignoreTag` option in our latest version of `intl-messageformat` to treat HTML tag as string literal and not parse it

[2020-06-26 20:26] longlho commented on #1755
This doc should help you get started: https://formatjs.io/docs/intl-messageformat/#intlmessageformat-constructor

[2020-06-27 02:31] longlho opened #1756 "Polyfill `toLocaleDateString`"
**Which package?**
@formatjs/intl-datetimeformat

**Is your feature request related to a problem? Please describe.**
We should polyfill `Date.prototype.toLocaleDateString`. Right now there seems to be a pattern mismatch probably due to our best fit pattern matching.

[2020-06-27 06:23] pyrocat101 commented on #1752
This can be done without modifying the library:

[code]

[2020-06-27 06:27] pyrocat101 commented on #1752
That being said, I think it seems like a reasonable enhancement to me.

@longlho what do you think about the security implication here? Is it possible that the message is a user-input string, and then this can be exploited via custom element constructed with JavaScript?

[2020-06-27 10:51] #1630 closed, assigned to nobody

[2020-06-27 10:51] #1689 closed, assigned to nobody

[2020-06-28 01:10] longlho commented on #1752
Security-wise it should be ok (I think). There're a couple of implications for supporting "ambient" formatter:
- Right now we hot-path messages without placeholder for performance (and it's significant per internal TTI metrics): https://github.com/formatjs/formatjs/blob/master/packages/react-intl/src/formatters/message.ts#L140-L143 This right now relies on whether there're values being passed in.

[2020-06-29 12:33] bertho-zero opened #1761 "Escaping issue, double apostrophe"
**Which package?**
`react-intl` or `intl-messageformat-parser` ?

**Describe the bug**
Since I updated the formatjs packages I have problems with apostrophes, I have certain messages which escape correctly (by replacing the `''` by `'`) and others which display the two quotes.

Is this a bug or should I only put simple quotes?

**To Reproduce**
I don't really know, I can't understand the problem.

[2020-06-29 20:47] longlho commented on #1761
Do you have the sample message? apostrophe escape is only necessary if you're escaping special syntactic char, otherwise it's verbatim. E.g:
[code]

[2020-06-30 01:55] jl-gogovapps commented on #1705
@pyrocat101 I appreciate we all have a lot going on, but I just wanted to bump this to see if there was any more information I could provide to help?

[2020-06-30 02:21] longlho commented on #1705
Can u try dropping `intl.js` and use `@formatjs/intl-datetimeformat` & `@formatjs/intl-numberformat` instead?

The order should be:
1. `@formatjs/intl-getcanonicallocales`
2. `@formatjs/intl-pluralrules`
3. `@formatjs/intl-numberformat`
4. `@formatjs/intl-datetimeformat`

[2020-06-30 08:10] bertho-zero commented on #1761
I created this sandbox: https://codesandbox.io/s/react-intl-example-gm8zs

I notice that the problem disappears as soon as I add a `values` object, even empty.

[2020-06-30 13:46] jl-gogovapps commented on #1705
@longlho thanks for the reply.

I'm not exactly sure what you mean here.  I'm using react/webpack.  I'm not using intl.js (afaik).

This is what the top of my index.tsx file looks like:
[code]

package.json:
[code]

[2020-06-30 16:36] longlho commented on #1761
Ah thanks a lot for the codesandbox link. Yeah when there's nothing to escape, single apostrophe would be just fine.
We have an optimization where if there's no `values` being passed in, we assume the message is just plain translations lookup w/o any placeholder, thus saving parsing time. This is the 90% that's we're optimizing for.

[2020-06-30 16:37] longlho commented on #1705
Is this still happening for you? What's the full User-Agent from Sentry?

[2020-06-30 16:42] jl-gogovapps commented on #1705
Yes, over 160 events in Sentry:

<img width="319" alt="Screen Shot 2020-06-30 at 12 40 27 PM" src="https://user-images.githubusercontent.com/44532602/86152994-fd10fe00-bace-11ea-9f61-058e8f827269.png">

[code]

[2020-06-30 20:27] awwit commented on #1705
Today I got the same error in sentry.

With the same user-agent: `Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36`

[2020-06-30 22:05] TimoKunze commented on #1751
I hope this link works: https://codesandbox.io/embed/elegant-johnson-vb9le

[2020-07-01 01:43] longlho commented on #1751
You have to remove `hour12={false}`. When that is set, `hourCycle` is ignored per spec (https://tc39.es/ecma402/#sec-initializedatetimeformat step 14)

[2020-07-01 01:43] #1751 closed, assigned to nobody

[2020-07-01 02:00] longlho opened #1764 "`FormattedMessage` should throw if an `intl` provider isnt available"
**Which package?**
react-intl

**Describe the bug**
Right now we silently display English when `FormattedMessage` fails to find an `intl` via context. This becomes an operational issue where we don't find out until production since tests pass silently. We should throw when this happens.

**Expected behavior**
Throw an error when `intl` provider is not found.

**Additional context**
Comes from inte

[2020-07-02 02:59] #1708 closed, assigned to nobody

[2020-07-02 10:42] dvh91 opened #1768 "Missing locale json files in numberformat"
According to docs, the way to add the numberformat polyfill is:
[code]

And I think the latest changes make it break as there are no JSON files anymore.

The new way to activate the polyfill is:
[code]

Basically, it's a breaking change so I would rather support the two ways or bump version in major.

Version used: `@formatjs/intl-numberformat@^4.2.11`

[2020-07-02 19:07] longlho commented on #1768
thanks a lot for reporting we'll bump major and update the docs

[2020-07-02 19:39] #1764 closed, assigned to longlho

[2020-07-02 22:14] longlho commented on #1677
@christophehurpeau do you want to make a PR for this? :)

[2020-07-03 06:34] yume-chan opened #1773 "@formatjs/intl-getcanonicallocales@1.2.8 contains no compiled files"
**Which package?**
@formatjs/intl-getcanonicallocales

**Describe the bug**
The published package contains only source code, not compiled files.

**To Reproduce**
Steps to reproduce the behavior:

1. Download and use it.

**Expected behavior**

Package has a `dist` folder.

**Screenshots**

[code]

**Desktop (please complete the following information):**

- OS: [e.g. iOS] N/A
- Browser [e.g. chrom

[2020-07-03 07:37] bertho-zero commented on #1761
I think that even without a placeholder we can transform the double quotes to gain consistency, a simple `.replace (/''/gm,"'")` would be enough, right?

I doubled the apostrophes of all my messages by increasing the version of react-intl and there I should remove some, but not all for it to work properly.

[2020-07-03 10:18] redmundas commented on #1768
this is not entirely true. I've been importing this way for a while now. and it broke for me this week, after upgrading.
now docs show that `dist` part isn't needed anymore for locale imports: https://formatjs.io/docs/polyfills/intl-numberformat
so replacing `import '@formatjs/intl-numberformat/dist/locale-data/en';` with `import '@formatjs/intl-numberformat/locale-data/en';` solved the issue for

[2020-07-03 12:09] JustFly1984 opened #1774 "[@formatjs/intl-relativetimeformat@6.0.1} Can't resolve '@formatjs/intl-pluralrules/dist/locale-data/en' and other locale files in"
**Which package?**
@formatjs/intl-relativetimeformat

**Describe the bug**
After updating "@formatjs/intl-relativetimeformat" from "5.2.11" to  "6.0.1" webpack build errors with
[code]

for every locale we use in project

**Screenshots**
<img width="570" alt="Screenshot 2020-07-03 19 08 25" src="https://user-images.githubusercontent.com/2255993/86467961-9acf2c00-bd60-11ea-8c49-acf3b6d3db43.png">

[2020-07-03 14:03] longlho commented on #1768
We've published v5 and updated the doc

[2020-07-03 14:03] #1768 closed, assigned to nobody

[2020-07-03 14:04] longlho commented on #1774
We moved the `locale-data` location from `dist/locale-data` to just `locale-data`: https://github.com/formatjs/formatjs/blob/master/packages/intl-relativetimeformat/CHANGELOG.md#breaking-changes

[2020-07-03 14:04] #1774 closed, assigned to nobody

[2020-07-03 14:07] longlho commented on #1761
Technically that's possible but it'd be an implementation detail that makes your message non-ICU compliant so there's some risks there :)

[2020-07-03 14:08] longlho commented on #1773
I've published a new version to fix this. Sorry for the bad publish

[2020-07-03 14:08] #1773 closed, assigned to nobody

[2020-07-04 12:57] longlho commented on #1774
Yeah for all the polyfills basically

On Sat, Jul 4, 2020 at 2:38 AM Alexey Lyakhov <notifications@github.com>
wrote:

[2020-07-04 13:28] #1761 closed, assigned to nobody

[2020-07-05 19:14] ghost opened #1776 "Error: [React Intl Error MISSING_DATA] Missing locale data for locale: "ru" in Intl.NumberFormat. Using default locale: "en" as fallback."
**Which package?**
react-intl

**Describe the bug**
I'm not using NumberFormat but getting error.

**To Reproduce**
Please run code
https://github.com/aprisniak/nextjs-itnl

just run and reload the page.

**Expected behavior**
No errors

**Desktop (please complete the following information):**

- OS: macOS 10.15.5
- Browser Chrome
- Version 83.0.4103.116
- React-intl 5.0.2

[2020-07-05 19:47] longlho commented on #1776
we eagerly check for `NumberFormat` & `DateTimeFormat` supported locales and warn about it when the app boots up. If you don't use it for now you can just ignore that or do something like
[code]

[2020-07-05 20:23] longlho opened #1780 "build: Migrate babel-plugin-react-intl to bazel"

[2020-07-05 20:23] longlho opened #1781 "build: Migrate cli to bazel"

[2020-07-05 20:23] longlho opened #1782 "build: Migrate eslint-plugin-formatjs to bazel"

[2020-07-05 20:23] longlho opened #1783 "build: Migrate intl-datetimeformat to bazel"

[2020-07-05 20:24] longlho opened #1784 "build: Migrate intl-displaynames to bazel"

[2020-07-05 20:24] longlho opened #1785 "build: Migrate intl-format-cache to bazel"

[2020-07-05 20:24] longlho opened #1786 "build: Migrate intl-listformat to bazel"
**Which package?**
Since this is a monorepo, please specify which package this feature request is for.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've consid

[2020-07-05 20:24] longlho opened #1787 "build: Migrate intl-locale to bazel"

[2020-07-05 20:25] longlho opened #1789 "build: Migrate intl-locales-supported to bazel"

[2020-07-05 20:25] longlho opened #1790 "build: Migrate intl-messageformat to bazel"
**Which package?**
Since this is a monorepo, please specify which package this feature request is for.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've consid

[2020-07-05 20:25] longlho opened #1791 "build: Migrate intl-messageformat-parser to bazel"
**Which package?**
Since this is a monorepo, please specify which package this feature request is for.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've consid

[2020-07-05 20:25] longlho opened #1792 "build: Migrate intl-relativetimeformat to bazel"
**Which package?**
Since this is a monorepo, please specify which package this feature request is for.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've consid

[2020-07-05 20:25] longlho opened #1793 "build: Migrate intl-numberformat to bazel"
**Which package?**
Since this is a monorepo, please specify which package this feature request is for.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've consid

[2020-07-05 20:26] longlho opened #1794 "build: Migrate react-intl to bazel"
**Which package?**
Since this is a monorepo, please specify which package this feature request is for.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've consid

[2020-07-05 20:26] longlho opened #1795 "build: Migrate macro to bazel"
**Which package?**
Since this is a monorepo, please specify which package this feature request is for.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've consid

[2020-07-05 20:31] ghost commented on #1776
And if I'll use it in the future what I should do?
Sorry ) I double checked the documentations and doesn't found info for this.

[2020-07-05 20:33] longlho commented on #1776
That means you're running in an old environment that does not have these APIs or they don't support those locales. This typically include envs like old Nodejs, IE11- or embedded browsers w/o Intl like hermes.
In that case u have to use polyfills https://formatjs.io/docs/polyfills/

Where are u seeing that err though? on Node?

[2020-07-05 20:35] ghost commented on #1776
Yes in node, not in browser.

[2020-07-05 20:35] longlho commented on #1776
What version of Node?

[2020-07-05 20:36] ghost commented on #1776
12.18.2

[2020-07-05 20:40] longlho commented on #1776
yeah for Node 12 u need `full-icu`: https://formatjs.io/docs/runtime-requirements#full-icu

[2020-07-05 20:41] longlho commented on #1776
Starting with Node 13 you won't need it

[2020-07-05 20:56] ghost commented on #1776
Thanks I'll try.

[2020-07-05 21:03] ghost commented on #1776
You are right. On node 14.5.0 all works just fine. Please close this issue.

Thanks

[2020-07-06 01:06] #1776 closed, assigned to nobody

[2020-07-07 04:27] longlho commented on #1795
deleted

[2020-07-07 04:27] #1795 closed, assigned to nobody

[2020-07-07 04:52] #1787 closed, assigned to longlho

[2020-07-07 06:52] longlho opened #1801 "Add new digit mapping to numberformat polyfill"
Per https://github.com/tc39/ecma402/pull/438

[2020-07-07 07:24] #1793 closed, assigned to longlho

[2020-07-07 10:55] andyrichardson opened #1802 "Add state setter to Intl context"
## Package
`react-intl`

## About

Hey, first off, thanks for the awesome work :rocket:

I've been using `react-intl` on a project recently and realised that the locale state can't be updated inside of `react-intl`. This lead to us needing to either:
 - Add a new context to our app to manage the state of the locale and trickle down into the intl provider
 - Create our own context to provide the ac

[2020-07-07 20:32] longlho commented on #1802
Thanks for the suggestion. We generally defer this to the callsite because of several reasons:
- Managing/changing `locale` is not really the responsibility of this library since it typically requires cross-subsystem synchronization especially in a SSR environment.
- There can be multiple `IntlProvider` in the same app, with different `locale`s.
- This turns `IntlProvider` into a controlled compon

[2020-07-08 02:47] Kiran554 opened #1804 "Warning: Legacy context API has been detected within a strict-mode tree"
**Which package?**
react-intl (version `2.8.0`)

**Describe the bug**
I get this message when using react in StrictMode
[code]

**To Reproduce**
Use component <FormattedMessage> and wrap it around <React.StrictMode> and run the application to see the error in browser console log.

**Expected behavior**
Should not see the error

**Desktop (please complete the following information):**

- OS: All OS

[2020-07-08 02:48] longlho commented on #1804
what version of react-intl are you using?

[2020-07-08 02:53] Kiran554 commented on #1804
It's 2.8.0

[2020-07-08 03:45] #1786 closed, assigned to longlho

[2020-07-08 04:02] Kiran554 commented on #1804
Updating to latest version fixed it. But we need to make sure to update tsconfig with following params

[code]

[2020-07-08 04:02] #1804 closed, assigned to nobody

[2020-07-08 05:00] #1783 closed, assigned to longlho

[2020-07-08 05:17] #1792 closed, assigned to longlho

[2020-07-08 05:20] #1789 closed, assigned to longlho

[2020-07-08 05:28] #1785 closed, assigned to longlho

[2020-07-08 06:33] #1780 closed, assigned to nobody

[2020-07-08 06:33] #1791 closed, assigned to nobody

[2020-07-08 06:40] #1790 closed, assigned to nobody

[2020-07-08 07:10] #1782 closed, assigned to nobody

[2020-07-08 09:30] andyrichardson commented on #1802
@longlho thanks for the response!

I'd argue that the purpose of a provider is to expose state and accessors throughout an application, so to have an uncontrolled provider offsets the responsibility to the user to introduce accessors to state which could otherwise be handled in one place (the intl provider).

I'll close this for now as it seems like it's not on the roadmap. If you ever change your

[2020-07-08 09:30] #1802 closed, assigned to nobody

[2020-07-08 14:10] danielbotn opened #1811 "Typescript for Intl.NumberFormat"
**Which package?**
@formatjs/intl-numberformat

**Describe the bug**
I am wondering how to fix this typescript bug. See code below

[code]
I am getting an type error on __addLocaleData:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
I would like to know if there is a way to fix this typescri

[2020-07-08 16:54] longlho commented on #1811
The polyfill instance is a non-standard opaque object so I actually recommend you casting it to `any` like `typeof (Intl.NumberFormat as any).__addLocaleData`
Also we're removing the ponyfill version so you should use `import '@formatjs/intl-numberformat/locale-data/zh.js'`

[2020-07-08 17:04] longlho commented on #1802
yeah the issue here is that the `IntlProvider` is not that one place (nor we plan it to be) :) It's not the source of truth for `locale` or `messages`. There can be multiple & even nested `IntlProvider`s.

[2020-07-08 22:20] danielbotn commented on #1811
@longlho Thanks this works fine :)

When you talk about:

Are you talking about having the code like this:

[code]

Because that gives me an error:

[2020-07-08 23:03] longlho commented on #1811
[code]

[2020-07-09 02:23] #1781 closed, assigned to nobody

[2020-07-09 02:45] #1715 closed, assigned to nobody

[2020-07-09 05:25] #1784 closed, assigned to pyrocat101

[2020-07-09 05:25] #1794 closed, assigned to longlho

[2020-07-09 08:25] matobeno1 commented on #1721
I have the same problem, bug is only in Safari.
[Sandbox](https://codesandbox.io/s/beautiful-yalow-4yi9w?file=/src/App.js:211-313)

[2020-07-09 09:58] danielbotn commented on #1811
@longlho

I get the following type error because of the import statement:

I changed it to a require instead just for now.
Thank you.

[2020-07-09 15:34] rcreagha opened #1819 "Upgrade guide for v3 -> v4 is missing on website"
**Which package?**
The website

**Describe the bug**
v3 -> v4 upgrade guide is missing

The url for 2->3 is "...3x" & the url for 4->5 is "...4x"
so I'm assuming 3->4 & 4->5 both have the same url

 **To Reproduce**
https://formatjs.io/docs/react-intl/upgrade-guide-3x

**Screenshots**
![image](https://user-images.githubusercontent.com/16086702/87059860-325cd080-c1e0-11ea-8fe8-e04489c999e5.png)

[2020-07-09 16:11] longlho commented on #1811
yeah depending on your bundler either `require` or `import` works

[2020-07-09 16:11] #1811 closed, assigned to nobody

[2020-07-09 16:14] longlho commented on #1721
@matobeno1 the workaround for your issue is to change unit to `hour` instead of `hours` but we'll fix it on our side.

[2020-07-09 16:18] longlho commented on #1819
thanks for reporting we just fixed & redeployed. Give it a few and cache will expire

[2020-07-09 16:18] #1819 closed, assigned to nobody

[2020-07-10 07:18] bertho-zero commented on #1761
Is it normal to have a different behavior if we pass empty values or not ? because the label remains a label without placeholder.

[2020-07-10 17:52] joshunger commented on #1768
@longlho the docs still point to `en.json`. What is the recommended way to add locale-data for `intl-numberformat`?

[code]

Reference: https://github.com/formatjs/formatjs/blob/master/website/docs/polyfills/intl-numberformat.md

[2020-07-10 19:07] #1721 closed, assigned to nobody

[2020-07-10 19:09] longlho commented on #1768
ah yeah I've updated the doc. Thanks for reporting!

[2020-07-13 02:24] wishma2013 opened #1825 "example cannot run, and how to use the BUILD file in example?"
**react-intl**

**example cannot run**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'formatjs/packages/react-intl'
2. run 'npm install' or 'npm run example'

**Desktop (please complete the following information):**

- OS: [MacOS]
- Browser [Terminal]
- Version [10.13.3]

[2020-07-13 02:26] longlho commented on #1825
Thanks for reporting! We'll take a look asap.

[2020-07-13 04:19] #1825 closed, assigned to nobody

[2020-07-13 06:51] JustFly1984 opened #1827 "eslint-plugin-formatjs update to support eslint 7"
**Which package?**
eslint-plugin-formatjs

**Describe the bug**
In yarn install logs in ci/cd I see the warning:

[code]

**To Reproduce**
Steps to reproduce the behavior:

update eslint to latest in the project with eslint-plugin-formatjs@2.3.21

**Expected behavior**
Should support eslint 7

**Screenshots**
<img width="421" alt="Screenshot 2020-07-13 13 49 07" src="https://user-images.githubuser

[2020-07-13 06:52] JustFly1984 opened #1828 "eslint-plugin-formatjs: update to support eslint@^7.x.x"
**Which package?**
eslint-plugin-formatjs

**Describe the bug**
In yarn install logs in ci/cd I see the warning:

[code]

**To Reproduce**
Steps to reproduce the behavior:

update eslint to latest in the project with eslint-plugin-formatjs@2.3.21

**Expected behavior**
Should support eslint 7

**Screenshots**
<img width="421" alt="Screenshot 2020-07-13 13 49 07" src="https://user-images.githubuser

[2020-07-13 16:22] longlho commented on #1828
dupe of #1827

[2020-07-13 16:22] #1828 closed, assigned to nobody

[2020-07-13 16:25] #1827 closed, assigned to nobody

[2020-07-14 08:35] JustFly1984 opened #1839 "react-intl: updating from 5.0.2 to 5.1.0 breaks typescript definitions"
**Which package?**
react-intl

**Describe the bug**
breaks typescript definitions. fails for both: vscode and tsc

**To Reproduce**
Update from 5.0.2 to 5.1.0 in react-typescript project, and it will loose type declarations

**Expected behavior**
Do not loose type declarations

**Screenshots**
<img width="586" alt="Screenshot 2020-07-14 15 28 49" src="https://user-images.githubusercontent.com/2255

[2020-07-14 09:09] rbatsenko opened #1840 "NumberFormat polyfill error: TypeError: undefined is not an object (evaluating 'availableLocales_1.length')"
**Which package?**
@formatjs/intl-numberformat

**Describe the bug**
Polyfill for @formatjs/intl-numberformat cause an error in React app on Safari.

[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Follow the [instructions](https://formatjs.io/docs/polyfills/intl-numberformat) to add the polyfill.
2. Open the app in Safari and see the error in console.

**Expected behavior**
N

[2020-07-14 11:40] emmenko commented on #1839
Confirmed. It seems the `react-intl.d.ts` file is missing in the published package.

https://github.com/formatjs/formatjs/blob/8e433d5afdbf64f7a952d6345e50cad29bbb7083/packages/react-intl/package.json#L133

[2020-07-14 12:32] JustFly1984 commented on #1839
@emmenko
there is also issues with "@formatjs/intl-utils": "3.7.0" and "@formatjs/intl-displaynames": "3.1.0"

"@formatjs/intl-utils": "3.7.0" and "@formatjs/intl-displaynames": "3.1.0 is installed in dependencies for previous unbroken versions, and break it, so I've pinned it to `resolutions` in package.json as temporary fix.

[code]

I would recommend to remove `^` from semver of dependencies in

[2020-07-14 12:34] emmenko commented on #1839
True, we did the same 👌

[2020-07-14 13:10] longlho commented on #1840
Per our doc https://formatjs.io/docs/polyfills/intl-numberformat/

[code]

[2020-07-14 13:10] #1840 closed, assigned to nobody

[2020-07-14 13:25] longlho commented on #1839
Sorry for the breakage (we recently changed our build system), the newest versions should have those files.

[2020-07-14 13:25] #1839 closed, assigned to nobody

[2020-07-14 14:30] czabaj commented on #1752
This is very needed by our team as well.

What about allowing the users to pass common rich-text elements to `IntlProvider`, e.g.

[code]

These `defaultRichTextElementFn` would be used as a default for messages containing non-literal chunks.

[2020-07-14 15:35] longlho commented on #1752
In order to determine if a message has non-literal chunks we have to parse it, which does incur some costs. We'll do some analysis on this but from large scale production use cases at Yahoo & Dropbox this is in the order of 10s of `ms` for couple of thousands of messages.

[2020-07-14 20:18] #1801 closed, assigned to nobody

[2020-07-15 02:23] #1677 closed, assigned to nobody

[2020-07-15 02:24] longlho commented on #1677
5.3.0 should have this :)

[2020-07-15 06:45] czabaj commented on #1752
@longlho understood. I think some quick check like

[code]

in conjunction with memoization could help, but it all depends on the performance measurement.

[2020-07-15 12:13] p-j commented on #1789
Hi @longlho
Thanks for your work on formatjs!

Fixing this issue you deleted `intl-locales-supported` and marked the package on NPM as [deprecated](https://www.npmjs.com/package/intl-locales-supported).
I didn't find info on why this package is being deprecated and what to use instead/how to move forward for people relying on it.
Did I miss something?

Thanks

[2020-07-15 14:25] longlho commented on #1789
@p-j The package was used to detect old Node (13-) & old IEs lack of support for locales and `Intl` APIs. Given the current landscape it is no longer necessary and often causes confusion because some APIs would support some locales but not other. We deprecated this because we no longer use it & will not make updates to it and it seems to be the only way to freeze the package. `1.8.11` will continu

[2020-07-15 14:28] longlho commented on #1752
The tricky thing is to detect escapes (`'<foo>'`) (among literal `<` like `1 < 2`). Seems like this feature has enough demand that we'll add this in, with a warning until we shift people towards pre-compiling their messages (and add more docs for it as well) https://formatjs.io/docs/react-intl/advanced-usage/#pre-parsing-messages

[2020-07-15 15:09] p-j commented on #1789
Hi @longlho
Thanks for your reply, I've been digging a bit and it seems our use of this package is also a workaround to some oddities dating back several years. I'm looking at those helper functions we had and I'm likely going to remove them or upgrade them using the newer packages you mentioned.

Thanks again.

[2020-07-16 01:21] longlho commented on #1705
Unless we get more info regarding stack traces and such there's nothing much we can assist here. Does anyone have any more details?

[2020-07-16 09:05] JustFly1984 commented on #1705
Issue is not reproducing, let’s keep it open if it will reappear.

[2020-07-16 10:25] plumdumpling opened #1845 "single less than signs must be escaped"
**Which package?**
react-intl >= v4.0.0

**Describe the bug**
The breaking change in version 4.0.0 broke translations containing a single less than sign.

**To Reproduce**
Steps to reproduce the behavior:

1. Use the following translation:
[code]
2. Format the message with `intl.formatMessage({id: "myTranslationKey"})`
3. See error
[code]

**Expected behavior**
It shouldn't be necessary to escape

[2020-07-16 10:34] kemsky opened #1846 "Dist folder is not present anymore in intl-messageformat 9.1.4"
**Which package?**
intl-messageformat 9.1.4

**Describe the bug**
Dist folder is not present anymore i.e. no UMD build.

**Expected behavior**
Was it on purpose?

[2020-07-16 13:09] longlho commented on #1846
What's ur use case?

Our public asset commitment is the `main`, `module` & `types` field in `package.json` so `dist` is kinda private. However, we'll add back the UMD asset

[2020-07-16 13:57] lroling8350 opened #1847 "Implement tc39/proposal-intl-datetime-style"
### Which package?

intl-datetimeformat

### FEATURE REQUEST

Implement the [tc39/proposal-intl-datetime-style](https://github.com/tc39/proposal-intl-datetime-style) in the polyfill to handle dateStyle and timeStyle. I see the spec is at stage 3 but seems far enough along to implement I believe it will also not increase the overall locale data sizes for each language by a significant amount.

###

[2020-07-16 14:00] longlho commented on #1847
Yeah it should be fairly straightforward to implement. PR’s always welcome!
We just haven’t got around to stage 3 features yet.

On Thu, Jul 16, 2020 at 9:57 AM lroling8350 <notifications@github.com>
wrote:

[2020-07-16 17:10] longlho commented on #1847
based on the spec you'd probably have to modify the internal slots, our CLDR data preprocessing & implement https://tc39.es/proposal-intl-datetime-style/#sec-date-time-style-format.

[2020-07-16 18:46] petersendidit opened #1848 "Remove need for "Version bump only for package" releases"
**Which package?**
All packages in this monorepo.

**Is your feature request related to a problem? Please describe.**
Since all the packages have been put in a monorepo many of the packages will have multiple "Version bump only for package" releases. Having releases that have no value at all add more work for developers without any gain. There is already enough work to keep on top of packages that

[2020-07-16 19:09] longlho commented on #1848
This is a `lerna` issue so AFAIK we don't control this process. https://github.com/lerna/lerna/pull/707 might provide some context. Version bump only releases are needed in case A depends on B and B bumps major, thus A needing to bump as well (either patch or minor).

[2020-07-16 20:22] petersendidit commented on #1848
Maybe I am not understanding something but if A depends on B and wants to use the new major version of B doesn't A's package.json need to change?  If so then it's not a "Version bump only".

[2020-07-16 21:47] JustFly1984 commented on #1705
not stale!

[2020-07-16 23:24] longlho commented on #1848
that's what lerna generates I believe

[2020-07-16 23:26] longlho commented on #1705
I think it's best to open a new issue if this comes back otherwise stalebot will keep marking it

[2020-07-17 00:49] lazytype opened #1849 "Switch remaining BSD-licensed packages over to MIT"
**Which package?**
babel-plugin-react-intl
intl-format-cache
intl-messageformat-parser
intl-messageformat
react-intl

**Is your feature request related to a problem? Please describe.**
Some companies would be more comfortable with MIT

**Describe the solution you'd like**
See title

**Describe alternatives you've considered**
¯\_(ツ)_/¯

**Additional context**
I'll get you Teazzi when offices reope

[2020-07-17 01:20] longlho commented on #1849
lol unfortunately those packages specifically came from the Yahoo days so I'm not sure if they can be changed. cc @redonkulus ?

[2020-07-17 01:25] longlho commented on #1845
Thanks for reporting! We'll take a look asap.

[2020-07-17 02:35] #1846 closed, assigned to nobody

[2020-07-17 13:15] jl-gogovapps commented on #1705
It still happens for me multiple times a day.  I'm not sure if I agree opening a new issue would be helpful, my concern with that concept is that it dilutes the chances finding the right solution amongst many duplicates (when searching for similar issues).

I have some time today, I'll see if I can fire up a virtualbox and reproduce on Windows 7

[2020-07-17 13:38] jl-gogovapps commented on #1705
Could I expect this to help from https://formatjs.io/docs/runtime-requirements?
[code]

_in index.tsx_

[code]

[2020-07-17 13:42] longlho commented on #1705
Not on Chrome though. Those are for older browsers like IE11 or old chrome.

On Fri, Jul 17, 2020 at 9:38 AM jl-gogovapps <notifications@github.com>
wrote:

[2020-07-17 16:22] dhebert-dev opened #1852 "Attempted import error: 'FormattedRelative' is not exported from 'react-intl'."
**Which package?**
react-intl

**Describe the bug**
I am using box-ui-elements and they are attempting to import FormattedRelative from react-intl. Has FormattedRelative been deprecated and/or replaced by FormattedRelativeTime?

**To Reproduce**
Steps to reproduce the behavior:

1. Import FormattedRelative from react-intl
2. Build your project
3. Observe error

**Expected behavior**
No error messa

[2020-07-17 16:30] longlho commented on #1852
Yes `FormattedRelative` has been deprecated since v3. `FormattedRelativeTime` is the new spec-compliant component.

[2020-07-17 16:30] #1852 closed, assigned to nobody

[2020-07-17 17:21] dhebert-dev commented on #1852
Thanks for verifying!

[2020-07-20 13:02] jlowcs opened #1858 "RelativeTimeFormat: missing Math.abs() when selecting the plural rule"
**Which package?**
`@formatjs/intl-relativetimeformat`

**Describe the bug**
The wrong plural rule is applied when the value is negative.

**To Reproduce**
Steps to reproduce the behavior:

1. run `new window.Intl.RelativeTimeFormat('en-US').format(-1, 'month')` in the JS console

**Expected behavior**
`new window.Intl.RelativeTimeFormat('en-US').format(-1, 'month')` returns `1 months ago` and sho

[2020-07-20 13:04] longlho commented on #1858
What browser are you using?

On Mon, Jul 20, 2020 at 9:02 AM Jerome Louis <notifications@github.com>
wrote:

[2020-07-20 15:59] longlho commented on #1858
This is a buggy `Intl.PluralRules` issue with the browser so I suggest you open a bug report with the browser itself. `Intl.PluralRules` is supposed to treat negative & positive number the same
[code]

[2020-07-20 17:46] jlowcs commented on #1858
Oh, got it. I'll look into that. Thanks for the help!

[2020-07-20 20:29] #1858 closed, assigned to nobody

[2020-07-21 09:08] birgert commented on #1705
Facing the same issue in my sentry logs and also with exactly chrome 81.0.4044.**122**
`Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36`

Did anyone else encounter this with another release version of Chrome 81?
I might be able to track down that specific user, will see if it can be reproduced and if it's gone after upgrading Chrom

[2020-07-21 14:07] #1847 closed, assigned to nobody

[2020-07-21 16:45] #1845 closed, assigned to pyrocat101

[2020-07-21 16:47] longlho commented on #1752
Relevant discussion at the spec level: https://github.com/unicode-org/message-format-wg/issues/98

[2020-07-22 15:26] slim-hmidi opened #1869 "Can't resolve '@formatjs/intl-relativetimeformat/dist/locale-data/en'"
**Which package?**
I updated `react-intl` to version 5.4.0, when I launch my app I got an error:

**Describe the bug**
[code]

**To Reproduce**
[code]
**Expected behavior**
The server should be launched correctly

**Desktop (please complete the following information):**

- OS: windows 10
- Browser [e.g. chrome, safari]: chrme
- Version [e.g. 22]: 6.2.4

[2020-07-22 15:45] longlho commented on #1869
The paths are `@formatjs/intl-relativetimeformat/locale-data/en` & `@formatjs/intl-relativetimeformat/locale-data/fr`

[2020-07-22 15:45] #1869 closed, assigned to nobody

[2020-07-23 15:41] VincentLanglet opened #1871 "React-intl is not found by webpack since 5.1"
**Which package?**
`react-intl`.

**Describe the bug**
As shown in the screenshot, when I upgrade to react-intl@5.1 and try to build my js with webpack, I get an error.
I get the same error with the latest version.

I have no error with react-intl@5.0.2.
The dependency is in my package.json and my node_modules.

**Expected behavior**
I expect no breaking change with a minor update.

**Screenshots*

[2020-07-23 16:17] longlho commented on #1871
Can you provide a repro?

On Thu, Jul 23, 2020 at 11:41 AM Vincent Langlet <notifications@github.com>
wrote:

[2020-07-23 17:40] VincentLanglet commented on #1871
Sorry, seems like the issue was on me.

I added this https://github.com/formatjs/formatjs/issues/1433#issuecomment-594812956 a long time and forgot about it.

Removing the alias fix the issue.

[2020-07-23 17:40] #1871 closed, assigned to nobody

[2020-07-26 02:40] roderickhsiao opened #1878 "Ast parser exception"
**Which package?**
`intl-messageformat-parser@5.3.7`

**Describe the bug**
Parsing exception thrown if one escape character is in front of xml tag

**To Reproduce**
[Code sandbox](https://codesandbox.io/s/hardcore-sky-jmgwr?file=/src/index.js)

1. Try to parse string with `'` directly in front of the tag (some language such as French will have sentence like `Télécharger à partir d'Instagram` (uplo

[2020-07-26 02:50] longlho commented on #1878
@pyrocat101 can u take a look?

[2020-07-26 21:18] roderickhsiao opened #1879 "[F.Y.I] Browser bugs for Intl.DisplayNames (Android)"
### Which package?

`@formatjs/intl-displaynames`

This is not a **bug** of the library, just put it up here in case people are searching for similar issues.
Our recommendation in the library it detect if `Intl.DisplayNames` is available then load the polyfills and intl data, however, Android only ship the method without full ICU data, hence the polyfill fallback won't work as expected.

### Expec

[2020-07-27 13:13] robcaldecottvelo opened #1883 "babel-plugin-react-intl and automatic IDs"
**Which package?**
babel-plugin-react-intl 7.9.1

**Describe the bug**
I am unable to get automatic `FormattedMessage` IDs to work with `babel-plugin-react-intl`.

**To Reproduce**
Until now I have been using `babel-plugin-react-intl-auto` to avoid using message IDs in my `FormattedMessage` components and all works well. However, I noticed that the official `babel-plugin-react-intl` can now do thi

[2020-07-27 13:31] longlho commented on #1883
Thanks for reporting. We'll update our docs but you'd need to specify `idInterpolationPattern: '[sha512:contenthash:hex:6]'` or some pattern in your option. See https://formatjs.io/docs/tooling/babel-plugin#idinterpolationpattern for more details.

I'll the issue open until I update the docs.

[2020-07-27 13:33] longlho commented on #1879
u wanna PR to add that to our checks as well? https://github.com/formatjs/formatjs/blob/main/packages/intl-displaynames/polyfill.ts#L15 :)

[2020-07-27 13:39] #1883 closed, assigned to nobody

[2020-07-27 13:52] ertrzyiks commented on #1756
There is some part of code that seems to be related, but it's commented out
https://github.com/formatjs/formatjs/blob/1ac0ad4eaf53619090be62b6dd17ac0964a2dabe/packages/intl-datetimeformat/polyfill.ts#L43-L50

Is there anything wrong with it?

[2020-07-27 13:53] longlho commented on #1756
There’s a bug in our best fit pattern selection which is why it’s commented
out

On Mon, Jul 27, 2020 at 9:52 AM Mateusz Derks <notifications@github.com>
wrote:

[2020-07-27 14:10] paulincai opened #1884 "Typescript module missing after update to babel-plugin-react-intl@7.9.1"
**Which package?**
babel-plugin-react-intl

**Describe the bug**
 babel-plugin-react-intl@7.8.2 Meteor project build with no issues
 babel-plugin-react-intl@7.9.1 same project display error on build, however the build continues to success.

Although Meteor supports Typescript, I do not purposely use it and prefer not to.

[code]

***.babelrc***
[code]

**To Reproduce**
Steps to reproduce the behav

[2020-07-27 14:16] ertrzyiks commented on #1756
@longlho gotcha, now I see you created this issue as a follow-up for pushing this commented code.

I'm new to the library so I just grepped for the best fit

https://formatjs.io/docs/polyfills/intl-numberformat/#compound-units

and also found this option
https://github.com/formatjs/formatjs/blob/1ac0ad4eaf53619090be62b6dd17ac0964a2dabe/packages/intl-datetimeformat/src/core.ts#L260

Even if we incl

[2020-07-27 14:20] longlho commented on #1756
Definitely PR is always welcome! Thanks!

On Mon, Jul 27, 2020 at 10:16 AM Mateusz Derks <notifications@github.com>
wrote:

[2020-07-27 16:01] roderickhsiao commented on #1879
Ha, not sure if its helpful as I think most of people will do the same prototype type method check in the code base to reduce bundlesize, and if so, the polyfill won't bel load

[code]

[2020-07-27 18:19] mateuszkrzak opened #1885 "FormattedMessage and formatMessage not render anything if id is named after one of object prototype methods"
**Which package?**
react-intl 5.3.2 (probably this bug exists from version 2 looking at git history)

**Describe the bug**
For ids named after object prototype methods (like `toString`, `hasOwnProperty` etc.), `FormattedMessage` and `formatMessage` should use id as a fallback, instead of that we got following in console:
```Error: [React Intl Error FORMAT_ERROR] Error formatting message: "toString

[2020-07-27 21:29] longlho commented on #1879
I think it'd be beneficial regardless. We're mirroring that to https://github.com/Financial-Times/polyfill-library for polyfill.io as well :)

[2020-07-27 21:32] longlho commented on #1885
Thanks for reporting! We'll take a look asap.

[2020-07-28 02:12] pyrocat101 commented on #1878
@roderickhsiao This is actually intended. The apostrophe escapes the `<`, which would otherwise be interpreted as the beginning of a HTML tag token.

Look at the ICU spec, it actually mentions not to use straight apostrophe in the message, but instead of the curly one (U+2019): http://userguide.icu-project.org/formatparse/messages (see "Quoting/Escaping" section).

Alternatively, you can use `''`

[2020-07-28 02:16] pyrocat101 commented on #1878
As for error message, I admit that PEG.js isn't generating the best ones... because you escaped the opening tag, it chokes on the `</b>` tag.

I do want to keep the behavior that the unmatched closing tag throws the parsing error, since it is a common bug to watch out for.

[2020-07-28 02:20] roderickhsiao commented on #1878
Thanks for the details explanation! Not sure if its easy for people to avoid using  U+2017 but I think if its by the spec, should be a correct behavior.

Probably a mention in the formatjs documentation will be nice :)

[2020-07-28 02:20] #1878 closed, assigned to pyrocat101

[2020-07-28 02:25] pyrocat101 commented on #1878
@roderickhsiao For sure! I will see if I can add an example in the doc.

[2020-07-28 12:00] ertrzyiks commented on #1756
I unskipped the failing tests and this is what best fit pattern looks like for `en` locale.
[code]

that's why it fails with
[code]

4 AM should not be there

Need to dig deeper

[2020-07-28 13:48] ertrzyiks commented on #1756
Specs for toLocaleDateString are green if we remove that assignment `opt.hour12 = ...`,
https://github.com/formatjs/formatjs/blob/e3c329e755aa615a9de542778626d0350487c253/packages/intl-datetimeformat/src/core.ts#L416-L419

[code]

This assignment is not in the spec, but without it many other tests fail.
![Screenshot 2020-07-28 at 16 03 02](https://user-images.githubusercontent.com/2437969/88676006

[2020-07-28 14:45] longlho commented on #1756
That's an implementation detail for `bestFit` which is not in the spec. The bug is def in the best fit we just need to figure out how to adjust it (or reverse engineer `icu4j`/`icu4c`)

[2020-07-28 14:48] #1879 closed, assigned to nobody

[2020-07-28 14:54] longlho commented on #1884
Thanks for reporting! We'll take a look asap.

[2020-07-28 17:34] ertrzyiks commented on #1756
The low score of the appropriate pattern comes from this condition
[code]

as `options.hour12` is true and `format.hour12` is undefined. The simplest solution would be to wrap the `hour12` assignment in some condition and keep it undefined if we do not ask for time. I will check icu4j for ideas, thanks for the hint.

[2020-07-28 17:48] longlho commented on #1756
for the `toLocaleDateString`, `hour12` should be `false` no?

[2020-07-28 18:05] ertrzyiks commented on #1756
I added debug here:
[code]

and what I got for `expect(toLocaleDateString(new Date(TS), 'en')).toBe('6/16/2020');` is:
[code]
and `hourCycle: 'h12'` sets `opt.hour12` to true.

The `hour12` property of the format we need to use in that case is `undefined` though and it sounds reasonable to me as we do not talk about time at all. Even if we somehow make it false, the desired format will still have

[2020-07-28 18:40] ertrzyiks commented on #1756
It may work if we set the option `hour12` to `false` in `toLocaleDateString` and respect it in the override 👍 let me try

[2020-07-28 18:55] longlho commented on #1756
hmm I think u need to figure out why `internalSlots` has `hourCycle` set to `h11 || h12` in the `toLocaleDateString` case

[2020-07-28 18:59] ertrzyiks commented on #1756
After that hour12=false trick all the tests pass locally in #1889

It does not fix this case though as the fix is applied locally to `toLocaleDateString`
https://github.com/formatjs/formatjs/blob/682c1c2a11d373dbd2ef39bd9f629211417f131d/packages/intl-datetimeformat/tests/index.test.ts#L27-L33

I checked icu repo and found [this place](https://github.com/unicode-org/icu/blob/dd50e38f459d84e9bf1b0c6

[2020-07-28 19:28] vrbarros commented on #1884
Same problem here, I have to keep version `7.8.3`.

[2020-07-29 03:36] daggmano opened #1890 "workspaceRoot option breaks build"
**Which package?**
babel-plugin-react-intl

**Describe the bug**
From v7.8.0, the `workspaceRoot` option has been added. For our builds on DevOps, we are running into an issue where a case change in path is breaking our builds. This only occurs occasionally, and depends on the actual machine which Azure uses to build. So, yes, this is an Azure issue as well! (And a ticket has been raised with them

[2020-07-29 05:33] longlho commented on #1890
I'm surprised this used to work for you before 7.8. `workspaceRoot` is default to `process.cwd()` so if that returns `d:\` instead that's interesting.
The workflow we recommend is to do [extraction separately](https://formatjs.io/docs/getting-started/message-extraction) and use `babel-plugin-react-intl` to autogenerate message IDs. This is more battle-tested and less err-prone.

[2020-07-29 05:34] #1884 closed, assigned to nobody

[2020-07-29 05:52] #1885 closed, assigned to nobody

[2020-07-29 08:28] xianghongai opened #1894 "How to extract multiple times at different times?"
**Which package?**
`react-intl`

**Is your feature request related to a problem? Please describe.**
- How to extract multiple times at different times?
- Will it overwrite the already implemented?

**Describe the solution you'd like**
Can it be maintained manually? Skip the `declaration` and `extraction` steps.

**Describe alternatives you've considered**
- [AngularJS translate](https://angular-tr

[2020-07-29 08:53] petterroea commented on #1705
We are having the same issue with the following user agents:

 * `Mozilla/5.0 (iPad; CPU OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Mobile/13G36`
 * `Mozilla/5.0 (iPad; CPU OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13G36 Safari/601.1`
 * `Mozilla/5.0 (Linux; U; Android 9; he-il; Redmi Note 7 Build/PKQ1.180904.001) AppleWebKit/537.36 (

[2020-07-29 09:39] petterroea commented on #1705
From some digging, at least in our project, the issue seems to be caused by webpack(?) importing the type definition(`.d.ts`) for `@formatjs/intl-numberformat/polyfill` instead of the compiled javascript file.

[2020-07-29 13:14] longlho commented on #1894
@xianghongai yes it can be maintained manually as long as u pass the correct `messages` shape to `react-intl` :)

[2020-07-29 14:07] akmjenkins opened #1896 "CLI compile command fails on Mac OSX 10.15.5 (Catalina)"
**Which package?**
CLI

**Describe the bug**
When running the example from [the documentation](https://formatjs.io/docs/getting-started/message-distribution#compiling-messages) I get an error - `Cannot find module...`

**To Reproduce**
Steps to reproduce the behavior:

1. Extract the messages using the [mechanism described in the docs](https://formatjs.io/docs/getting-started/message-extraction#ex

[2020-07-29 16:07] #1896 closed, assigned to nobody

[2020-07-29 16:10] longlho commented on #1894
If you convert ur format to the format in https://formatjs.io/docs/getting-started/message-distribution#compiling-messages you can still use our compiler

[2020-07-29 17:22] santialbo opened #1897 "Have the cli also export the lines where the occurrence happened"
**Which package?**
cli

**Is your feature request related to a problem? Please describe.**
On 1.x.x the cli used to export the lines and column where the token was found which was useful to create a reference (e.g: `/path/to/file.tsx:XX:XX`).
After 2.0.0 the cli is only exporting the position in the whole file which makes it harder to build that reference.

**Describe the solution you'd like**
I d

[2020-07-29 17:35] longlho commented on #1897
yeah this was a regression since we switched to the `TypeScript` compiler. Some tooling also prefer absolution char positioning since it doesn't deal w/ encoding (e.g byte-based offset vs utf-8 offset).
Thanks for reporting. We'll add an option for this soon.

[2020-07-29 17:36] santialbo commented on #1897
Thanks a lot!

[2020-07-29 17:53] ertrzyiks commented on #1756
`hourCycle` gets value from the locale as per [spec](https://tc39.es/ecma402/#sec-initializedatetimeformat):

[code]

so hourCycle is correctly set to 'h12' for `en` locale.

[2020-07-29 18:04] ertrzyiks commented on #1756
Based on that research I came up with the current shape of #1889 which applies the override of `opt.hour12` conditionally.

[2020-07-29 20:32] jl-gogovapps commented on #1705
<img width="348" alt="Screen Shot 2020-07-29 at 4 31 43 PM" src="https://user-images.githubusercontent.com/44532602/88850224-0918da00-d1b9-11ea-9595-3fb3c67baf34.png">

Now seeing this in a newer version fo chrome

[2020-07-29 23:08] daggmano commented on #1890
We do extract our messages and process them separately for our main build process. It is only our Jest tests that fail. And I guess there is a question as to why `process.cwd()` returns `d:\`, and yet the file spec path uses `D:\`. I suppose it's worth digging into where the file spec path comes from.

Concerning how it worked previous to 7.8, I presume this is because the `filename.startsWith(wor

[2020-07-29 23:17] longlho commented on #1890
yeah that didn't exist in `7.8`. If you're not extracting w/ `babel-plugin-react-intl` when removing `messagesDir` would resolve it I believe?

[2020-07-30 05:39] #1897 closed, assigned to nobody

[2020-07-30 07:35] avalenti89 opened #1898 "render time with specific timezone in formatMessage"
I'm using a string message that contains `{time, time, ::HH:mm:ss}` in it;

Using React-intl, defining the message and using the formatMessage method, I provide a UTC Date as ISOstring to the method.

When I run my script, I get the time in Local format instead of UTC.

There is a parameter that can be setted to keep the time as provided without any timezone conversion?

If not, and if cannot be a

[2020-07-30 12:03] Floriferous opened #1899 "formatjs/cli unknown option --messages-dir"
When using `@formatjs/cli`, the `--out-file` help description mentions `This flag will ignore --messages-dir`. But this flag is not documented as an available flag, and the CLI fails when you try to use it.

Is it normal that the functionality of `@formatjs/cli` and `babel-plugin-react-intl` have different functionality? The CLI appears to only be able to output a single large .json file, while th

[2020-07-30 14:39] longlho commented on #1899
They're meant to co-exist. `babel-plugin-react-intl` automatically inserts IDs in the transpiled code and `@formatjs/cli` only extracts. I'll update the help messages accordingly.

[2020-07-30 14:41] #1899 closed, assigned to nobody

[2020-07-30 14:44] longlho commented on #1898
Unfortunately since JS `Date` carries no inherent timezone with it, you'd have to separate out that format if u want to specify timezone:
[code]
More doc on date time skeleton can be found at http://userguide.icu-project.org/formatparse/datetime

[2020-07-30 14:44] #1898 closed, assigned to nobody

[2020-07-30 17:20] mudrz opened #1900 "incorrect typescript types in docs"
**Which package?**
react-intl

**Describe the bug**
The steps in the docs have incorrect types:
https://formatjs.io/docs/getting-started/message-distribution

[code]

**To Reproduce**
Steps to reproduce the behavior:
The type when loading the compiled (or even non-compiled) JSON file is put s `Record<string, string>`:

But it is not compatible with the actual structure. The actual structure doesn'

[2020-07-30 17:27] mudrz opened #1901 "if no manual explicit id is added: [React Intl] An `id` must be provided to format a message."
**Which package?**
react-intl

**Describe the bug**
Following the steps in the docs results in an error:
https://formatjs.io/docs/getting-started/message-distribution

[code]

**To Reproduce**
Steps to reproduce the behavior:
- extract `formatjs extract 'src/**/*.ts*' --out-file src/lang/en.json`
- translate generated files
- compile `formatjs compile 'src/lang/en.json' --ast --out-file src/lang/c

[2020-07-30 17:42] longlho commented on #1901
Thanks a lot for reporting. https://formatjs.io/docs/guides/bundler-plugins should have the details on how to fix that. I'll revisit the doc to make it clearer.

[2020-07-30 18:15] #1900 closed, assigned to nobody

[2020-07-30 18:15] #1901 closed, assigned to nobody

[2020-07-30 18:17] #1756 closed, assigned to nobody

[2020-07-31 15:56] mudrz commented on #1901
thanks Long Ho, didn't realise this

[2020-07-31 16:02] Floriferous opened #1907 "Consistent auto-generated ids for Translation management systems?"
There's one part of this translation puzzle that I'm not sure I understand: When you let `@formatjs/cli` and `babel-plugin-react-intl` generate `id`s for you, these ids will change regularly, depending on what your hash generation algorithm is in `idInterpolationPattern`.

_I'm not sure what the default `[contenthash:5]` is, but I assume it's a hash of the file's content..? How does it generate id

[2020-07-31 16:14] longlho commented on #1907
Good question. Contenthash is just defaultMessage & description concat together. We'll clarify in the docs.

In terms of output format, we'll add vendor presets to ease this process. As you mentioned every vendor has a different json structure but providing adapter should be fairly easy.

Thanks for the suggestions!

[2020-07-31 16:23] Floriferous commented on #1907
Okay, so if you edit your defaultMessage or description, the hash changes, and your translation system becomes out of sync with your repo, I'm not sure I see a solution to that problem, except for using 100% explicit ids?

[2020-07-31 16:27] longlho commented on #1907
TMS is an external system so it'll always be out of sync unless I'm missing something? A matching ID doesn't mean your translations are synced it means you're probably serving old translations and hash prevents that. New msg/desc means a new translation.

[2020-07-31 16:32] Floriferous opened #1908 "Requiring defaultMessage on FormattedMessage forces devs to maintain source language"
This is more of a discussion, related partly to #1907 as it deals with translation management systems.

The recommended way to use `FormattedMessage` from the docs is to only set the `defaultMessage`, and optionally a `description`. The problem with that flow, is that if you want to change the default language, you have to ask a developer to change the react component, as that is the source of tru

[2020-07-31 16:38] Floriferous commented on #1907
Well, to me changing one word in a sentence, or fixing a typo, or adding punctuation should not mean a new translation. To me, non-developers think about translating the title of that specific section on that specific page, or changing a sentence in the middle of a description somewhere in the website.

You don't want to lose all translations you had for that piece of text and start over. Because

[2020-07-31 17:37] longlho commented on #1907
That's unfortunately an unsafe assumption that engineers have for the language they speak. Changing a word/letter in a language doesn't guarantee a trivial change across all languages. Ideally all copy/wording would have gone through editorial to prevent these issues.

In larger engineering team we didn't find any substantial issues with autogen ID and manual ID is a lot worse.

[2020-07-31 17:46] longlho commented on #1908
We encourage strings to colocate with code because that's where they'll get rendered. A string is contextual and dependent on its usage, which includes distinguishing between label vs button vs header, along with string manipulation like locale-aware truncation & sorting. This is not the source of truth though. That's whatever marketing decides.

The process of augmenting source language is out of

[2020-07-31 18:48] longlho commented on #1908
Another piece of context is that Dropbox used to have a versioning system for strings but that was gutted out because the complexity isn't worth it, and it introduced confusion more than anything due to cache propagation issues.

[2020-07-31 19:43] longlho commented on #1907
I think that's the point. What you're talking about seems to be a difference in requirements/assumptions between non-devs & devs in terms of how a text is supposed to be consumed. We've seen that engineers tend to pattern match fairly aggressively (extracting common texts into a reusable piece) and that's actually a problem. Unless it's branding in some way that requires consistent messaging acros

[2020-08-01 06:41] chakaz opened #1909 "Error when using FormattedMessage in a module where IntlProvider is created by project"
**Which package?**
I *think* it's react-intl

**Describe the bug**
I have a module (library) and a project that uses this library. Both are written in TypeScript for what it's worth.
In the project I add a top-level IntlProvider, and then add a component from the library which adds a FormattedMessage.
I get the error:

[code]

I imagine this might mean that the library can't find IntlProvider beca

[2020-08-01 14:27] longlho commented on #1909
u have 2 copies of react-intl in your repro, 1 is v3 and the other is v5

[2020-08-01 17:59] advl opened #1910 "babel plugin throws workspaceRoot error when using npm link"
**Which package?**
`babel-plugin-react-intl`

**Describe the bug**
When using in the project X the dependency D, if both are developped on the same machine, [it is advisable to use npm link](https://www.deadcoderising.com/how-to-smoothly-develop-node-modules-locally-using-npm-link/); `npm link` basically removes the npm version of the D package from 'node_modules/' to replace it with a symlink to

[2020-08-01 18:16] chakaz commented on #1909
Do you refer to the `"@types/react-intl": "^3.0.0"` requirement?
If so, that's only the typescript types and to my understanding should have no effect post compile type (my error is runtime).

Anyway, I removed it (also updated the repo) and the error is still the same I'm afraid. Any other ideas?

[2020-08-01 18:21] longlho commented on #1909
Oh sry I misread it. Looks like it's still a dupe `react-intl` issue though, prob bc of linking in `../repro-lib`
[code]

[2020-08-01 18:22] longlho commented on #1910
Thanks for reporting. We'll take a look later but I recommend using `@formatjs/cli` to do extraction instead. See https://formatjs.io/docs/getting-started/message-extraction for more details.

[2020-08-01 19:08] chakaz commented on #1909
I took the better part of an hour and tried to eliminate this, without success. This is after spending multiple days on it before.
The thing is - when I use React router it works fine, after the needed adjustments (mostly adding react and react-dom to webpack's externals). Note that this was outside the repro to simplify things.
I'm afraid I just can't get this to work. I would really appreciate a

[2020-08-01 23:45] longlho commented on #1909
I think you'd have to use `resolve` in your webpack config https://webpack.js.org/configuration/resolve/ when you build `project`. Then u can resolve `react-intl` to a single copy.

[2020-08-01 23:46] longlho commented on #1910
Do you have a repro repo?

[2020-08-02 03:04] longlho commented on #1909
Looks like u'll need https://github.com/timarney/react-app-rewired, or use some tooling to hoist dependencies to top level `node_modules`

[2020-08-02 04:33] longlho commented on #1909
this is a dupe of https://github.com/formatjs/formatjs/issues/1620#issuecomment-614624980 essentially

[2020-08-02 15:00] longlho commented on #1907
@Floriferous Latest `@formatjs/cli` should have [builtin formatters](https://formatjs.io/docs/tooling/cli#builtin-formatters) for the vendors u mentioned (+ Smartling which is what Dropbox uses)

[2020-08-02 20:55] chakaz commented on #1909
Thank you so much, @longlho !
I'm afraid that even following up on #1620 I am unable to resolve this.

I changed package.json (you'll have to rm -rf the directory and re-clone it, as described in the original post) by adding:

  "devDependencies": {
    "@types/react": "^16.9.43",
    "@types/react-dom": "^16.9.8",
    "@types/react-router-dom": "^5.1.5",
    "@types/react-intl": "^3.x"
  },
  "pe

[2020-08-03 02:40] longlho commented on #1909
u need to remove it from `devDependencies` I believe, or hoist it up to top level `package.json` outside of those 2 packages.

[2020-08-03 05:44] wereHamster commented on #1907
Any good translation service should detect when the default message has changed and flag translations for review instead of treating them as new strings. The translators then don't have to re-translate the strings, they can review them and decide for themselves what to do (eg. if it's a typo then not do anything and mark the translation as good). I'm using https://www.accent.reviews (a self-hosted

[2020-08-03 06:11] longlho commented on #1907
As you mentioned and from what I have seen, TMSes have translation memory implementation with some fuzz factory to inherently reduce costs of translating new strings for partners.

[2020-08-03 07:12] chakaz commented on #1909
I'm using TypeScript, and so these devDependencies are only the types needed for typescript, they are not the implementation. And they are needed there to be able to compile the module.

[2020-08-03 08:12] jonenst opened #1912 "Document strategies for integrating <IntlProvider> in component libraries"
**Which package?**
react-intl

**Is your feature request related to a problem? Please describe.**
When writing a react component in a separate npm package (component library), there are many options to integrate IntlProvider. It would be useful to document guidelines in the two cases:
 * writing a component in a library,
 * using a component from a library

[2020-08-03 08:49] goremikin opened #1913 "[intl-messageformat] Support of ES modules"
**Which package?**
intl-messageformat

**Describe the bug**
In `intl-messageformat@9.2.0` `intl-format-cache` has been replaced with `fast-memoize` (see mr: https://github.com/formatjs/formatjs/commit/1a7eb0210f1a171eb5291a79bb9f3cc855c5e12f). Unfortunately `fast-memoize` supports only UMD.

This has introduced an issue for applications that rely on ES6 module syntax (ESM). Because of that the ent

[2020-08-03 09:16] Floriferous commented on #1907
_Replying to multiple messages:_

Most TMSes support pulling translation-data (i.e. new/updated strings) on every commit, and pushing/PRing back to the repo for every edit happening on the TMS, so yes it is slightly out of sync with your local environment, but it should always be in perfect sync with your main branch.

@longlho That's a very good point I hadn't considered. So in some way you'd wan

[2020-08-03 12:13] wereHamster commented on #1907
@Floriferous The generated IDs don't change unless I change them. My workflow is:

 1. I insert `<FormattedMessage id="" defaultMessage="blah blah" />` into the code.
 2. I run `npm run msgid`, which prints a random ID to stdout (eg. `EkgYoxH`).
 3. I copy that ID and paste it into the `id=""` prop, so it reads `<FormattedMessage id="EkgYoxH" … />`

I could optimize all this by creating a plugin o

[2020-08-03 12:23] JustFly1984 opened #1914 "[react-intl] "TypeError: messages.hasOwnProperty is not a function" after updating patch version "5.4.2" to "5.4.5","
**Which package?**
[react-intl]

**Describe the bug**
I'm updating react-intl in gatsby.js project, and I'm facing a runtime error on load, and cypress tests failing.

<img width="785" alt="Screenshot 2020-08-03 19 16 04" src="https://user-images.githubusercontent.com/2255993/89181437-eeca6c00-d5bd-11ea-8420-cddbe317fbf4.png">

reverting back to 5.4.2 solves an issue.

[2020-08-03 13:13] chenqy930 opened #1915 "[intl-datetimeformat] DateTimeFormat output not as standard"
**Which package?**
@formatjs/intl-datetimeformat 2.3.0

**Describe the bug**
Using Intl.DateTimeFormat().format(), the output is wrong in some cases.

**To Reproduce**
    In node enviroment, test the following case, and the expected output and actual output are as commented:
[code]

**Desktop (please complete the following information):**

- OS: [e.g. iOS] Linux 16.04
- using Nodejs v10.16.3

[2020-08-03 13:42] longlho commented on #1907
@wereHamster we have https://formatjs.io/docs/tooling/linter so we can actually add a rule like `enforce-id` and it'll autofix your code w/ generated ID if the ID isn't there :)

@Floriferous I mean teams don't share strings or even Components (unless it's a Design System). They share standalone features in the form or SDKs.

[2020-08-03 14:09] wereHamster commented on #1907
@longlho that would be an awesome rule! 🤘🏿

[2020-08-03 15:40] longlho commented on #1909
then the only option I can see is make a top level package.json and declare your common dependencies there

[2020-08-03 15:54] longlho commented on #1913
do u have a repro?

[2020-08-03 15:56] longlho commented on #1914
hmm do u have a repro? looks like it's passing in `messages` that's not an object?

[2020-08-03 16:05] JustFly1984 commented on #1914
How can that be an object for 5.4.2 and not an object for 5.4.5?

[2020-08-03 16:05] longlho commented on #1913
Do you have a repo that reproduce this?

On Mon, Aug 3, 2020 at 12:03 PM Alexey Lyakhov <notifications@github.com>
wrote:

[2020-08-03 16:08] JustFly1984 commented on #1914
I do not have reproduction which I can share, but I have reproduced it in 2nd gatsby.js project

[2020-08-03 16:10] longlho commented on #1914
If you `messages` was a result of `Object.create(null)` then it does not have `hasOwnProperty`, but `messages[foo]` would still work. How are you creating that object?

Before in `5.4.2` we did not have that check, the check was added to fix #1885

[2020-08-03 16:26] longlho commented on #1914
this should be fairly easy to fix but understanding what gatby.js is doing would be great 😄

[2020-08-03 16:49] goremikin commented on #1913
Hi @longlho , I have made a simple repo to reproduce an issue: https://github.com/goremikin/intl-message-format-issue. It does work correctly with `~9.1.0`.

[2020-08-03 18:00] advl commented on #1910
You can repo using this small react template
Clone https://github.com/fwrlines/template-react-dashboard
Install following `README.md`
After 'npm run cds', webpack-dev-server should run locally on port 3344

The react template has as a dependency, the library DS https://github.com/fwrlines/ds (An ensemble of react components)
If the dependency is installed through npm, webpack compiles correctly.

[2020-08-03 19:51] chakaz commented on #1909
Given I only have a project that "really" depends on react, react-dom and react-intl ('project'), rather than depend via @types/* or peerDependencies, I imagine I already am in a state where I have a top level package.json depending on this package.

Perhaps I have misconfigured the `externals` section of webpack? Currently I have it as:

[code]

I also tried setting `root` to `IntlProvider'`. I w

[2020-08-03 21:43] longlho commented on #1909
The problem is in the consuming `/project` folder, not `/repro-lib` though

[2020-08-04 14:49] longlho commented on #1915
Thanks for reporting! We'll take a look asap.

[2020-08-04 14:49] longlho commented on #1912
Thanks for reporting! We'll take a look asap.

[2020-08-04 15:05] stanhong2 opened #1920 "[website] Hash links position issue"
The position of hash links on the [website](https://formatjs.io/docs/getting-started/installation) is weird.

To reproduce, hover any `<h2/>` element

Screenshots
<img width="603" alt="Screen Shot 2020-08-04 at 11 55 19 PM" src="https://user-images.githubusercontent.com/52886870/89310118-40065880-d6af-11ea-987c-15ad923b4432.png">

- OS: macOS 10.15.4
- Browser: Chrome
- Version: 84

[2020-08-04 15:12] #1920 closed, assigned to nobody

[2020-08-04 18:55] stanhong2 opened #1922 "[website] A color highlight is not working properly in the navigation bar"
### Problem
A Color highlight is not working properly in the navigation bar

### To Reproduce
Steps to reproduce the behavior:

1. Go to [formatjs.io](https://formatjs.io/docs/react-intl/components)
2. Except for the 'Docs' menu, click on any menu in the navigation bar

### Screenshots
<img width="550" alt="Screen Shot 2020-08-05 at 3 49 45 AM" src="https://user-images.githubusercontent.com/528868

[2020-08-04 22:23] #1922 closed, assigned to nobody

[2020-08-04 23:35] rdlagemann opened #1924 "[babel-plugin-react-intl] doesnt work as expected when have .js and .jsx in same directory"
**Which package?**
babel-plugin-react-intl

**Describe the bug**
When I use `babel-plugin-react-intl` to extract messages from my React app, it won't work as expected if i have the following directory structure:
- MyComponent
  - MyComponent.js
  - MyComponent.jsx

In my case, the extracted messages folder will contain only the messages defined on `MyComponent.jsx`, and not in `MyComponent.js`

**

[2020-08-05 00:38] longlho commented on #1924
Do you have a repro repo?

[2020-08-05 00:40] longlho commented on #1915
For case 1, you need to specify your `timeZone` and add IANA data. We have no way of detecting what the local `timeZone` is since that info is not exposed from the runtime.

We'll take a look at case 2

[2020-08-05 00:42] rdlagemann commented on #1924
@longlho I'll provide one

[2020-08-05 00:44] longlho commented on #1924
So at first glance `babel-plugin-react-intl` doesn't pick up files or filter files, it's `babel` that's doing that. The plugin sits in the pipeline and process every file being passed in so I suspect it's whatever config you have with `babel` that might have the issue.

If you need file extraction I recommend using https://formatjs.io/docs/getting-started/message-extraction/

[2020-08-05 00:56] #1894 closed, assigned to nobody

[2020-08-05 04:45] rdlagemann commented on #1924
Thanks, I'll try formatjs/cli to extract files (update results here later).

Here you can see that plugin is not using `ext` to diff the files (only name), so obvious it will overwrite files with same name, but different extensions: https://github.com/formatjs/formatjs/blob/9e48e2c9d9ac090690b4f88731f99d3258544544/packages/babel-plugin-react-intl/index.ts#L375

I've tried include the "ext" as part

[2020-08-05 06:32] JustFly1984 commented on #1914
I do not think this is related to gatsby itself, more like typescript/webpack dynamic imports json

@longlho
I found the code which dynamically imports messages in our gatsby.js project:

in gatsby-ssr.js - runs only on build, doesn't run in browser
[code]

the code for intlManager class:

[code]

This way we extracting locale files out from main bundle js file to improve performance.
We are calli

[2020-08-05 06:34] longlho commented on #1924
oh yeah sorry I misunderstood the issue. I thought it skipped extraction on certain file extension which is weird. Yeah the output is basically `basename` + `.json` and I don't believe that's changed? Is this a new issue for you or you just started using `babel-plugin-react-intl`?

[2020-08-05 09:54] moodyjmz commented on #1913
Is it possible to use: https://www.npmjs.com/package/nano-memoize

As that supports es6 + seems to be faster than fast-memoize.

[2020-08-05 12:49] rdlagemann commented on #1924
Ok, the formatjs/cli extract method is not suited for my case cause I really need that "auto mapping id" thing the plugin provides.

I have just started using it. I just found out this pattern will cause problems (unfortunately my tests before bring it to production code did not take into account this pattern .js .jsx of some components)

I don't know if it's a problem worth solving. Something lik

[2020-08-05 13:27] chenqy930 commented on #1915
@longlho hi, Thanks for your help. I tried the solution for case 1, but it dosen't seem working. Here's how I do as you recommanded.
[code]

Whether or not specify timeZone, the time output is always 8 hours behind.

[2020-08-05 13:29] longlho commented on #1924
what is `auto mapping id` that you're talking about?

[2020-08-05 13:36] rdlagemann commented on #1924
Haha sorry I've used the wrong the terms. The plugin "inject" the ids into the transpiled .js, ie, I don't have to manually do
[code]
but

[code]

Here: https://formatjs.io/docs/guides/bundler-plugins/

It works well, but not with the folder structure mentioned.

[2020-08-05 13:38] chakaz commented on #1909
For future readers and those who may experience this - I posted this issue on Stack Overflow, and got an answer explaining how to solve it: https://stackoverflow.com/questions/63224176/getting-error-when-using-formattedmessage-inside-a-module-error-react-intl-c/63265963#63265963

@longlho thank you for your help!

[2020-08-05 13:38] #1909 closed, assigned to nobody

[2020-08-05 13:39] longlho commented on #1924
oh yeah you can still use babel-plugin-react-intl for that but @formatjs/cli strictly for [extraction](https://formatjs.io/docs/getting-started/message-extraction) & [compilation](https://formatjs.io/docs/getting-started/message-distribution). The CLI has better vendor integration and also can compile messages to AST which is faster at runtime.

In future releases we might remove extraction capabi

[2020-08-05 16:21] rdlagemann commented on #1924
Ok, but if I use only the `formatjs/cli extract`, how the Ids will be injected in the transpiled code? (yes, I can do manually, but will be pain)

I think this is the whole point of this `babel-plugin-react-intl`.

I tried using the `formatjs/cli extract`, but like said I have to manually go back to my code and add the generated Id to the messages. While if I'm using the plugin, this step is not n

[2020-08-05 16:22] longlho commented on #1924
oh no I mean you'd still use babel-plugin to inject ID, just not extraction

[2020-08-05 16:28] rdlagemann commented on #1924
ohh, you mean, to inject with babel-plugin, I'm not necessary need to extract with it? I will try!

[2020-08-05 16:30] longlho commented on #1924
Yup, extraction is more tied to translation pipeline than code transpilation: https://formatjs.io/docs/getting-started/application-workflow

[2020-08-05 16:48] rdlagemann commented on #1924
Oh, genius! Thanks Long Ho, it works! I realized that the main problem maybe is I'm trying to use `react-intl-translations-manager`, which needs the extracted messages directory in the structure provided by plugin extraction, but I can workaround this one. I'll look for alternatives in their docs. Thanks again!

[2020-08-05 16:48] #1924 closed, assigned to nobody

[2020-08-06 01:11] jimisaacs commented on #1914
I see this error too after an upgrade from `5.3.2` to `5.4.5`. We only use webpack, not gatsby or any other wrapper. One thing that might be related, is that we also upgraded `@formatjs/intl-relativetimeformat` from `6.2.3` to `7.0.0`.

[2020-08-06 01:19] jimisaacs commented on #1914
I can confirm this broke us: https://github.com/formatjs/formatjs/commit/a42cdec44c5cba184832ad9703cf2aa7cf2f1be4#diff-75a85a349ceef1cdc44fd9c2e925c2e6

To provide more info, we do not create a messages object, we dynamically import it using webpack, e.g.
[code]
I have a feeling something in the above doesn't come out with a `hasOwnProperty`.

[2020-08-06 01:23] jimisaacs commented on #1914
Looks to be it:
<img width="419" alt="Screen Shot 2020-08-05 at 6 22 23 PM" src="https://user-images.githubusercontent.com/299156/89479857-c58a1700-d748-11ea-873b-4d58ea019a46.png">

[2020-08-06 01:24] jimisaacs commented on #1914
Though interestingly the `messages.default` (e.g. `module.default`) does have a prototype.

[2020-08-06 01:31] jimisaacs commented on #1914
I think the right fix is for me to change to the default module property here as this actually caught my bad behavior.

[2020-08-06 02:53] longlho commented on #1913
Ah that seems like a `es-dev-server` issue for not supporting UMD. `nano-memoize` is pretty immature so I'd rather not switch to that.

The other alternative is submit a GH issue upstream at `fast-memoize` as well.

[2020-08-06 06:18] JustFly1984 commented on #1914
@jimisaacs can you please post your fix here?

[2020-08-06 06:40] longlho commented on #1914
I'll put up a fix for this regardless even though it's quite edge. To repro w/o the `import` issue basically you can just do `const messages = Object.create(null);`

[2020-08-06 07:00] #1914 closed, assigned to nobody

[2020-08-06 08:00] goremikin commented on #1913
`es-dev-server` serves files as they are without any build steps. In a nutshell it is just a static file server.
ES Modules are natively supported by all modern browsers. I can see it as step backwards to require UMD support.

[2020-08-06 08:49] necheporenko opened #1932 "Can't install React-Intl"
**Which package?**
React-intl

**Describe the bug**
Can't install this dependence, because I got this error - " Couldn't find package "@formatjs/intl-getcanonicallocales@^1.3.1" required by "@formatjs/intl-datetimeformat@^2.3.0" on the "npm" registry."

**To Reproduce**
Steps to reproduce the behavior:

1. yarn add react-intl

**Expected behavior**
A clear and concise description of what you expec

[2020-08-06 09:43] SanjoSolutions opened #1933 "'@formatjs/intl-utils@^3.8.2' is not in the npm registry"
**Which package?**
@formatjs/intl-utils

**Describe the bug**
'@formatjs/intl-utils@^3.8.2' is not in the npm registry.

**To Reproduce**
`npm install @formatjs/intl-utils`

**Expected behavior**
Installation of package.

**Desktop:**

- OS: Ubuntu 20.04

**Additional context**
[code]

[2020-08-06 09:47] fahadsuhaib commented on #1932
+1, Similar issue facing from last 1 hr, please update on this.

[2020-08-06 09:54] rwenz3l commented on #1932
+1, in our case `intl-datetimeformat/-/intl-datetimeformat-2.0.1.tgz` seems to be missing as well.

[2020-08-06 10:03] SanjoSolutions commented on #1933
Seems to work again.

[2020-08-06 10:03] #1933 closed, assigned to nobody

[2020-08-06 10:08] necheporenko commented on #1932
https://status.npmjs.org/

[2020-08-06 13:39] Floriferous opened #1934 "Document how to import specific functions from `intl-utils`"
Intl utils contains a lot of code, though it's mostly documented as the source of the `selectUnit` function.

In our case, it's the only code we use, yet the import path goes to the `index.js` file which imports everything else.

It looks like `import { selectUnit } from '@formatjs/intl-utils/lib/src/diff';` is the precise import path, but I just wanted to make sure if this was accurate, and if it

[2020-08-06 13:57] longlho commented on #1932
Seems to be a npm issue.

[2020-08-06 14:12] longlho commented on #1913
The issue is that this is a private implementation details that we neither officially support nor have test against, so it'll continue to break version to version until the whole ecosystem is on ES module.

[2020-08-06 14:31] drkibitz commented on #1914
Out of curiosity, what is hasOwnProperty accomplishing here? You can also call `Object.prototype.hasOwnProperty.call(messages, id);`

[2020-08-06 15:36] longlho commented on #1914
@drkibitz see https://github.com/formatjs/formatjs/issues/1885 for more context :)

[2020-08-06 16:47] longlho commented on #1934
`selectUnit` is a migration tool for people to migrate from the old `FormattedRelative` to `FormattedRelativeTime` so it's not meant to stick around for a long time. `@formatjs/intl-utils` is basically private and isn't meant to be consumed by end user actually. See https://github.com/formatjs/formatjs/blob/main/packages/intl-utils/README.md#caveats as well. What's your use case?

[2020-08-06 16:48] #1932 closed, assigned to nobody

[2020-08-06 16:49] longlho commented on #1915
OK we'll take a look asap

[2020-08-06 17:08] jimisaacs commented on #1914
@longlho

+1 on the suggestion of: `Object.prototype.hasOwnProperty.call(messages, id);`

@JustFly1984

Also here is my "fix" (should have been this way to begin with):
[code]

[2020-08-06 17:08] Floriferous commented on #1934
We're sticking to `react-intl` v3, and I believe v3's `FormattedRelativeTime` doesn't automatically select the unit of a date, so we're using `intl-utils`? (maybe I'm wrong, I don't perfectly remember)

I guess if there's no reason to import `selectUnit` for most people, then we can close this issue.

[2020-08-06 17:31] longlho commented on #1934
Yes that's correct. In which case you should pin your `@formatjs/intl-utils` version to be totally safe.
Automatic unit selection has a lot of issues and was rejected at the spec level, just FYI.

[2020-08-06 17:31] #1934 closed, assigned to nobody

[2020-08-06 19:12] awwit commented on #1914
@jimisaacs
I and @JustFly1984 are using TypeScript.

With your edits, we get this error:

`Property 'default' does not exist on type { ... } ts(2339)`

Because a json file is not a js module and does not have a `default` property (unless you specifically create it).

P.S. We do not use the `allowSyntheticDefaultImports` flag in `tsconfig.json` in our projects.

[2020-08-06 20:39] jimisaacs commented on #1914
@awwit we are using `allowSyntheticDefaultImports` there's the difference.

[2020-08-07 13:58] ephys opened #1936 "Remove defaultMessage with babel?"
**Which package?**

babel-plugin-react-intl

**Is your feature request related to a problem? Please describe.**

While the defaultMessage is useful to us during development, it is redundant in production as the default locale is not treated any differently than the others and is moved to its own lazy-loaded bundle

Removing the defaultMessage for the production build would result in a noticeable r

[2020-08-07 14:00] JustFly1984 commented on #1936
+1

[2020-08-07 20:11] longlho commented on #1936
It's there :) https://formatjs.io/docs/tooling/babel-plugin/#removedefaultmessage

[2020-08-07 20:11] #1936 closed, assigned to nobody

[2020-08-07 23:25] longlho commented on #1910
Can u clarify the issue a bit more? I'm not sure what the expected outcome would be?
I debugged a bit and the issue is that `babel` doesn't tell us it's a symlink so it's kinda moot since there's no way for us to know that.

[2020-08-08 02:34] #1849 closed, assigned to nobody

[2020-08-08 03:43] #1912 closed, assigned to nobody

[2020-08-08 03:45] longlho commented on #1912
https://formatjs.io/docs/guides/distribute-libraries/ should have more info on this :) Hope that helps

[2020-08-08 06:24] akash-pal opened #1937 "Formatjs cli not found"
**Which package?**
formatjs/cli

**Describe the bug**
formatjs is not recognized as an internal or external command, operable program or batch file

**To Reproduce**
Steps to reproduce the behavior:

1. Installation:
`npm i -D @formatjs/cli`

2. Extraction:
`formatjs extract --help`

**Expected behavior**
formatjs should work in cli

**Desktop (please complete the following information):**
- OS: W

[2020-08-08 06:58] jonenst commented on #1912
Awesome thanks !

[2020-08-08 11:22] advl commented on #1910
Hey, thanks for taking the time to look at this, really

I ran in the bug in the first place while trying to bump my dependencies on a project.

I had my translation flow working properly on `babel-plugin-react-intl@=7.5.20` and `react-intl@=4.6.9` and I tried the bump to the latest version of both packages.

The dependency bump revealed the 'bug', directly. It appears that before, the workspaceRo

[2020-08-08 14:47] akash-pal opened #1938 "Extract and Compile Messages via npm scripts"
**Which package?**
`@formatjs/cli`

**Is your feature request related to a problem? Please describe.**
The message extraction and compilation suggested in the docs are via cli.

- https://formatjs.io/docs/getting-started/message-extraction
- https://formatjs.io/docs/getting-started/message-distribution/#compiling-messages

**Describe the solution you'd like**
Instead of running via cli it can be u

[2020-08-08 20:28] akash-pal commented on #1938
I was able to batch all the compile scripts using a gulp task
[code]

It would be better if we can have a script to do this -
`formatjs compile-folder`

[2020-08-08 20:33] longlho commented on #1910
The previous version actually had a bug when it resolved that: https://github.com/formatjs/formatjs/blob/e8b1791146fa4f4f86a4e0596e846d3b4d4aa7a7/packages/babel-plugin-react-intl/index.ts#L355

In your case, `p.relative(process.cwd(), filename))` resolves to `../fwrlines/ds/dist/es/collections/blog/common/ArticleCard/messages.json` but then joining `sep` to it (which is `/`) turns it into `/fwrlin

[2020-08-09 03:22] #1937 closed, assigned to nobody

[2020-08-09 03:26] longlho commented on #1890
closing this since we actually removed extraction from `babel-plugin-react-intl` in v8

[2020-08-09 03:26] #1890 closed, assigned to nobody

[2020-08-09 03:38] longlho commented on #1910
Closing since we've removed extraction from `babel-plugin-react-intl@8` but we can keep discussing.

[2020-08-09 03:38] #1910 closed, assigned to nobody

[2020-08-09 13:07] ervasive opened #1939 "Make "extract" & "compile" publicly available API functions"
**Which package?**
@formatjs/cli

**Is your feature request related to a problem? Please describe.**
I think it would be great to be able to run translations extraction and compilation programmatically through Node API in addition to CLI interface

[2020-08-09 13:25] longlho commented on #1939
I think the extraction API is there but not documented. I'll take a look!

[2020-08-09 13:27] longlho commented on #1939
Can you also provide your use case?

[2020-08-09 13:37] ervasive commented on #1939
I think this can be generally helpful, but in my particular case, I'm working on a gatsby plugin for multilingual support with the idea for it to automatically handle message extraction and later compiling optimized translations resource(s) on production builds.

[2020-08-09 13:41] ervasive commented on #1939
Yeah, it is. But as you said it is not documented, therefore it does not feel like the recommended way of using it.

Thank you

[2020-08-09 13:42] longlho commented on #1939
Yeah i do export them for testing so I'll document it

[2020-08-09 13:44] ervasive commented on #1939
It seems like the "compile" function is tied to the CLI usecase and does not return the compiled output

[2020-08-09 21:07] #1939 closed, assigned to nobody

[2020-08-09 21:09] longlho commented on #1939
`@formatjs/cli@2.5` should have this

[2020-08-09 21:51] #1938 closed, assigned to nobody

[2020-08-09 21:52] longlho commented on #1938
`@formatjs/cli@2.6` should have this

[2020-08-10 03:08] ilovepumpkin commented on #1845
Hello, I hit this issue recently as well. May I know which release contains this fix? I have tried to install react-intl@5.4.6, but it seems that this issue is still there.

[2020-08-10 03:25] longlho commented on #1907
@wereHamster `eslint-plugin-formatjs@2.6.0` should have it: https://formatjs.io/docs/tooling/linter#enforce-id so give that a try

[2020-08-10 03:30] longlho commented on #1845
Can u provide more details?

[2020-08-10 06:12] ilovepumpkin commented on #1845
I installed react-intl@5.4.6 and I am sure that my bundle is built with it.

Here is my translation:
`'The prior probability of the [<span class="help-string-em" title="{cause}">{causeInShort}</span>] cause, which means the probability that the [<span class="help-string-em" title="{cause}">{causeInShort}</span>] cause will occur when there is an issue, but no information about the symptoms is avai

[2020-08-10 16:22] longlho commented on #1845
We don't allow embedding HTML in messages so you have to convert your usage to rich text formatting. This issue is about escaping < & >.

[2020-08-11 01:46] ilovepumpkin commented on #1845
@longlho Before react-intl version 4, HTML tags is supported in messages because our code worked well at that time. Later I upgraded react-intl to version 4, but I am not sure this is broken since when. I didn't realize that HTML tags are not supported anymore.  Could you please provide more details about "convert your usage to rich text formatting" ? What am I supposed do to support HTML tags?

[2020-08-11 01:49] longlho commented on #1845
You can find the doc here: https://formatjs.io/docs/react-intl/components/#rich-text-formatting

It's included in v3 -> v4 Upgrade Guide: https://formatjs.io/docs/react-intl/upgrade-guide-4x#breaking-api-changes

[2020-08-11 02:11] ilovepumpkin commented on #1845
@longlho sorry that I overlooked your upgrade doc. thanks a lot for your help!

[2020-08-11 04:41] longlho commented on #1915
@chenqy930 I've pushed a fix for case 2 so if u can check out latest on `main` that'd be great.
For case 1, can u clarify the current timezone for your node process?
I added a test and it seems to behave correctly https://github.com/formatjs/formatjs/blob/main/packages/intl-datetimeformat/tests/index.test.ts#L41

[2020-08-11 06:20] ivan-kleshnin opened #1945 "Optional intl-messageformat-parser"
#### Which package?

React-Intl

#### Is your feature request related to a problem? Please describe.

`intl-messageformat-parser` dependency is heavier than all the other parts of the library combined.

Here are the build stats from one of my projects:

[code]

Now the fun part. I use `react-intl` for localization and I don't even rely on message formatting.

Yes, tree-shaking, minification and gz

[2020-08-11 08:58] YoannBuzenet opened #1946 "Question about the documentation (IntlShape)"
Hello,

I read this in the documentation about IntlShape, [here ](https://formatjs.io/docs/react-intl/api/#intlshape):

What is the third part please ? I see two elements in the list just under.

[2020-08-11 09:04] YoannBuzenet opened #1947 "Question about createIntl()"
Hello, I'm reading the [documentation ](https://formatjs.io/docs/react-intl/api/#intlshape)about createIntl() and I can't get how to use it.

It is written that

But in the example there is some JSX :

`// Pass it to IntlProvider
<RawIntlProvider value={intl}>{foo}</RawIntlProvider>`

 Maybe I'm not understanding the "out of React lifecycle" - I understood it meant out of React component ? Isn't t

[2020-08-11 09:40] YoannBuzenet opened #1948 "How can I use react-intl in non react file // vanilla js file ?"
**Which package?**
**4.6.4**

**Describe the bug**
Can't find in the documentation how to proceed. Few examples found on stackOverFlow use APIs not available anymore.

Hello,
I'm trying to translate some content on my utils.js file.
I have understood that I should use Imperative API to get my Intl object in my utils file.
But I couldn't understand how to proceed. I saw a lot of questions around th

[2020-08-11 11:55] YoannBuzenet commented on #1948
Finally found out. It works well, but if I may, the doc was misleading, at least for a noob like me.

When it's written ([here](https://formatjs.io/docs/react-intl/api#createintl)):

It means you can use one **OR** the other if you want, but you don't have to use both.

So, to use react-intl in a vanilla JS file :

`import { createIntl, createIntlCache } from 'react-intl';`
`import English from '.

[2020-08-11 12:34] re-thc commented on #1913
ES modules optimize better. Most newer libraries / frameworks are moving to ES modules. Vite and Snowpack both use it for a very fast refresh (hot reloading) experience. Please consider it.

[2020-08-11 12:50] YoannBuzenet commented on #1947
Found out, everything is [here](https://github.com/formatjs/formatjs/issues/1948).

[2020-08-11 12:50] #1947 closed, assigned to nobody

[2020-08-11 13:08] longlho commented on #1913
Just to clarify that we do support ESM but our transitive dependencies don't and that's outside of our control.

[2020-08-11 15:39] longlho commented on #1948
https://formatjs.io/docs/getting-started/installation#minimal-application should have examples on using app w/o React

[2020-08-11 19:54] #1946 closed, assigned to nobody

[2020-08-11 19:54] longlho commented on #1946
I think `three` was a typo, should only be `two` :) Thanks for reporting!

[2020-08-11 22:12] cjthompson opened #1949 ""useGrouping" does not follow CLDR number formatting for group size"
**Which package?**
`intl-numberformat`

**Describe the bug**
The locale "hi" uses 2 different group sizes. The thousands group is 3 digits, but the groups above that are 2 digits. In CLDR format, it's described as such: `'¤#,##,##0.00'`.

The bug can be seen by comparing how Chrome, Firefox, and node run the following code:
[code]
All three of the above return the following results:
[code]
while t

[2020-08-11 22:58] longlho commented on #1949
Ah yes the context is when we were doing this we deprioritize special grouping because we ran an analysis script across all CLDR locales and only a few of them have special grouping rules. Thanks for reporting we'll take a look.

[2020-08-12 00:43] longlho commented on #1945
Right now the workaround is to stub out `intl-messageformat-parser` when you package and it should just be fine if you don't use that API.
Longer term we want to move message parsing to compile time instead of runtime so parsing is no longer needed and will be replaced w/ AST instead.

[2020-08-12 01:29] chenqy930 commented on #1915
@longlho Thanks for your effor~ I've tried @formatjs/intl-datetimeformat v2.3.1, the latest version, and case 2 was fixed right.
And for case1, I checked my current timezone using process.env.TZ, it's undefined.